In [ ]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
from datetime import datetime, timedelta
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline
sns.set()
from PIL import Image

## Open the dataset containing the variables: 
    * municipality ('id_mn_resi');
    * year of notification (extracted from the date of notification variable);
    * gender (‘cs_sexo') and age  group ('nu_idade_n').

In [2]:
df = pd.read_csv('dengue_conf_14_11_2019.csv') # example for confirmed cases of dengue

## Create temporal variable (in our case year) from  variable 'dt_notific'.

In [ ]:
df['Mycol'] =  df['dt_notific'].apply(pd.to_datetime)
df['year'] = pd.DatetimeIndex(df['Mycol']).year

In [ ]:
df.year.value_counts() # display number of cases per year

# Construct the dataset of dengue with the desired variables

In [8]:
data = df.filter(['codmunres','year','cs_sexo','nu_idade_n'])

## Process to clean age group and padronize following the age category given in population from IBGE

In [10]:
vector =[]
for value in data.nu_idade_n.astype(str):
    if value == '1': value = 2001
    elif value == '2': value = 2001
    elif value == '3': value = 3001
    elif 4<= int(value) < 10: value = '400'+value
    elif len(value) == 2: value = '40' + value
    vector.extend([value])

In [12]:
data['nu_idade_n_cor'] = vector

In [13]:
data.columns

Index(['codmunres', 'year', 'cs_sexo', 'nu_idade_n', 'nu_idade_n_cor'], dtype='object')

In [14]:
fx = []
for value in data.nu_idade_n_cor:
    if 1000 <= int(value) <4005: faixa = '4' 
    elif 4005 <=int(value)< 4010: faixa = '509'
    elif 4010 <=int(value)< 4015: faixa = '1014'
    elif 4015 <=int(value)< 4020: faixa = '1519'
    elif 4020 <=int(value)< 4025: faixa = '2024'
    elif 4025 <=int(value)< 4030: faixa = '2529'
    elif 4030 <=int(value)< 4035: faixa = '3034'
    elif 4035 <=int(value)< 4040: faixa = '3539' 
    elif 4040 <=int(value)< 4045: faixa = '4044'   
    elif 4045 <=int(value)< 4050: faixa = '4549'
    elif 4050 <=int(value)< 4055: faixa = '5054'
    elif 4055 <=int(value)< 4060: faixa = '5559'
    elif 4060 <=int(value)< 4065: faixa = '6064'
    elif 4065 <=int(value)< 4070: faixa = '6569'
    elif 4070 <=int(value)< 4075: faixa = '7074'
    elif 4075 <=int(value)< 4080: faixa = '7579'
    elif 4080 <=int(value)< 8100: faixa = '8099'
    fx.extend([faixa])

In [15]:
data['faixa'] = fx
data

         codmunres  year cs_sexo  nu_idade_n nu_idade_n_cor faixa
0         510340.0  2010       M        4040           4040  4044
1         510340.0  2010       F        4030           4030  3034
2         510340.0  2010       M        4021           4021  2024
3         314330.0  2010       F        4050           4050  5054
4         311940.0  2010       M        4013           4013  1014
5         311180.0  2010       M        4053           4053  5054
6         351870.0  2010       F        4036           4036  3539
7         351870.0  2010       M        4035           4035  3539
8         110018.0  2010       M        4042           4042  4044
9         170200.0  2010       M        4027           4027  2529
10        170200.0  2010       F        4030           4030  3034
11        171820.0  2010       F        4021           4021  2024
12        510704.0  2010       M        4045           4045  4549
13        130170.0  2010       F        4034           4034  3034
14        130170.0  2010       F        4034           4034  3034
15        510795.0  2010       F        4065           4065  6569
16        231330.0  2010       M        4039           4039  3539
17        172100.0  2010       M        4012           4012  1014
18        500800.0  2010       M        4026           4026  2529
19        292740.0  2010       F        4020           4020  2024
20        530010.0  2010       F        4058           4058  5559
21        521190.0  2010       M        4015           4015  1519
22        521770.0  2010       F        4018           4018  1519
23        500080.0  2010       F        4042           4042  4044
24        312930.0  2010       M        4036           4036  3539
25        110011.0  2010       M        4020           4020  2024
26        110011.0  2010       M        4027           4027  2529
27        510250.0  2010       F        4031           4031  3034
28        270770.0  2010       F        4022           4022  2024
29        510030.0  2010       F        4053           4053  5054
...            ...   ...     ...         ...            ...   ...
6242066   354800.0  2018       F        4061           4061  6064
6242067   354020.0  2018       F        4047           4047  4549
6242068   351130.0  2018       F        4074           4074  7074
6242069   350320.0  2018       M        4048           4048  4549
6242070   354980.0  2018       M        4012           4012  1014
6242071   350320.0  2018       F        4082           4082  8099
6242072   354980.0  2018       F        4040           4040  4044
6242073   354980.0  2018       M        4049           4049  4549
6242074   354800.0  2018       F        4005           4005   509
6242075   354800.0  2018       M        4039           4039  3539
6242076   354800.0  2018       F        4047           4047  4549
6242077   350380.0  2018       M        4013           4013  1014
6242078   352070.0  2018       F        4048           4048  4549
6242079   352430.0  2018       F        4049           4049  4549
6242080   351880.0  2018       F        4006           4006   509
6242081   354800.0  2018       M        4013           4013  1014
6242082   351880.0  2018       F        4038           4038  3539
6242083   353390.0  2018       F        4011           4011  1014
6242084   350210.0  2018       F        4039           4039  3539
6242085   350210.0  2018       F        4011           4011  1014
6242086   351380.0  2018       M        4013           4013  1014
6242087   172100.0  2018       M        4047           4047  4549
6242088   172097.0  2018       M        4068           4068  6569
6242089   172100.0  2018       F        4028           4028  2529
6242090   172100.0  2018       F        4007           4007   509
6242091   172100.0  2018       M        4023           4023  2024
6242092   170210.0  2018       M        4032           4032  3034
6242093   170765.0  2018       F        4070           4070  7074
6242094   172100.0  2018       M        4007           4007   509
6242095   170555.0  2018       M        4024           4024  2024

[6242096 rows x 6 columns]

In [16]:
data.cs_sexo.value_counts()

F    3485260
M    2749309
I       7316
Name: cs_sexo, dtype: int64

In [17]:
data['count'] = 1

In [18]:
dados = data.groupby(['codmunres','year','cs_sexo','faixa'])['count'].sum().reset_index()

In [19]:
dados.cs_sexo = dados.cs_sexo.replace('F', 1)
dados.cs_sexo= dados.cs_sexo.replace('M', 2)

In [20]:
dados.head()

   codmunres  year cs_sexo faixa  count
0   110000.0  2015       1     4      1
1   110000.0  2016       2  6064      1
2   110001.0  2010       1  1014      2
3   110001.0  2010       1  2024      1
4   110001.0  2010       1  3539      1

In [21]:
dados.groupby(['year'])['count'].sum()

year
2010     856757
2011     589375
2012     397675
2013    1165564
2014     471700
2015    1366701
2016    1081538
2017     166474
2018     145707
Name: count, dtype: int64

In [22]:
df.year.value_counts()

2015    1366872
2013    1165706
2016    1081567
2010     856801
2011     589455
2014     471774
2012     397735
2017     166478
2018     145708
Name: year, dtype: int64

# Population

In [5]:
#pop = pd.read_csv('G:\Datalake\POPULACAO\csv\POPBR12.csv')   #'G:\Datalake\POPULACAO\pop_race_sex_age.csv')

In [24]:
pop = pd.read_csv('G:\Datalake\POPULACAO\estimativas_pop_sex_age_muni_cidacs\pop_2000_2017_SFA.csv')
pop = pop.drop(columns=['Unnamed: 0'])

In [25]:
pop.columns

Index(['MUNIC_RES', 'ANO', 'SEXO', 'FXETARIA', 'POPULACAO'], dtype='object')

In [26]:
pop.FXETARIA.unique()

array([   0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],
      dtype=int64)

In [27]:
pop = pop.replace({'FXETARIA': {0: 4, 101:4, 202:4,  303:4,  404:4,
                                505: 509, 606: 509,  707: 509,  808: 509,  909: 509,
                                1010: 1014, 1111: 1014, 1212: 1014, 1313: 1014, 1414: 1014,
                                1515: 1519, 1616: 1519, 1717: 1519, 1818: 1519, 1919: 1519}})

In [28]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

# Creating tables to map the standard incidence ratio of dengue per year

## expected number of cases per year and cummulated

In [29]:
teste = dados

In [30]:
teste = teste[(2010 <= teste.year) & (teste.year <= 2018) & (teste.cs_sexo != 'I')]

In [31]:
teste.cs_sexo.unique()

array([1, 2], dtype=object)

In [32]:
teste.year.unique()

array([2015, 2016, 2010, 2011, 2012, 2013, 2014, 2017, 2018], dtype=int64)

In [33]:
teste['faixa'] = teste['faixa'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415402 entries, 0 to 417957
Data columns (total 5 columns):
codmunres    415402 non-null float64
year         415402 non-null int64
cs_sexo      415402 non-null object
faixa        415402 non-null int32
count        415402 non-null int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 17.4+ MB

In [35]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415402 entries, 0 to 417957
Data columns (total 5 columns):
codmunres    415402 non-null float64
year         415402 non-null int64
cs_sexo      415402 non-null object
faixa        415402 non-null int32
count        415402 non-null int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 17.4+ MB

In [36]:
sum_observed_gender_age_year = []
for year in [2010,2011,2012,2013,2014,2015,2016,2017,2018]:
    df_year = teste[teste.year == year]
    table_year = pd.pivot_table(df_year, values='count', index=['codmunres'], columns=['cs_sexo','faixa'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_observed_gender_age_year.append(resulted_dataframe)

In [37]:
sum_observed_gender_age_year[0]

    cs_sexo  faixa        0
0         1      4  17934.0
1         1    509  24755.0
2         1   1014  38164.0
3         1   1519  46172.0
4         1   2024  49223.0
5         1   2529  49185.0
6         1   3034  46019.0
7         1   3539  40573.0
8         1   4044  37431.0
9         1   4549  33804.0
10        1   5054  28350.0
11        1   5559  22270.0
12        1   6064  15828.0
13        1   6569  11035.0
14        1   7074   7861.0
15        1   7579   4552.0
16        1   8099   3536.0
17        2      4  18145.0
18        2    509  24652.0
19        2   1014  38680.0
20        2   1519  41632.0
21        2   2024  42152.0
22        2   2529  38954.0
23        2   3034  34252.0
24        2   3539  29013.0
25        2   4044  26267.0
26        2   4549  22721.0
27        2   5054  18698.0
28        2   5559  15083.0
29        2   6064  10546.0
30        2   6569   7627.0
31        2   7074   5585.0
32        2   7579   3325.0
33        2   8099   2617.0

In [38]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

In [39]:
pop = pop.astype(int)

In [40]:
teste_pop = pop.groupby(['MUNIC_RES','ANO','SEXO','FXETARIA'])['POPULACAO'].sum().reset_index()
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4       1496
1     110001  2000     1       509       1677
2     110001  2000     1      1014       1570
3     110001  2000     1      1519       1522
4     110001  2000     1      2024       1292

In [41]:
sum_pop_gender_age_year = []
for year in [2010,2011,2012,2013,2014,2015,2016,2017,2018]:
    df_year = teste_pop[teste_pop.ANO == year]
    table_year = pd.pivot_table(df_year, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_pop_gender_age_year.append(resulted_dataframe)

In [42]:
sum_pop_gender_age_year[0].head()

   SEXO  FXETARIA        0
0     1         4  7016987
1     1       509  7624144
2     1      1014  8725413
3     1      1519  8558868
4     1      2024  8630227

In [43]:
sum_pop_gender_age_year[0]

    SEXO  FXETARIA        0
0      1         4  7016987
1      1       509  7624144
2      1      1014  8725413
3      1      1519  8558868
4      1      2024  8630227
5      1      2529  8460995
6      1      3034  7717657
7      1      3539  6766665
8      1      4044  6320570
9      1      4549  5692013
10     1      5054  4834995
11     1      5559  3902344
12     1      6064  3041034
13     1      6569  2224065
14     1      7074  1667373
15     1      7579  1090518
16     1      8099  1133122
17     2         4  6779172
18     2       509  7345231
19     2      1014  8441348
20     2      1519  8432002
21     2      2024  8614963
22     2      2529  8643418
23     2      3034  8026855
24     2      3539  7121916
25     2      4044  6688797
26     2      4549  6141338
27     2      5054  5305407
28     2      5559  4373875
29     2      6064  3468085
30     2      6569  2616745
31     2      7074  2074264
32     2      7579  1472930
33     2      8099  1802463

# calculating r_ j (for each year)

In [86]:
#r_j = []
#for df in sum_observed_gender_age_year:
#    risco_relativo = df[0]/sum_pop_gender_age_year['pop']
#    r_j.append(risco_relativo)

In [44]:
r_j = []
for df1,df2 in zip(sum_observed_gender_age_year,sum_pop_gender_age_year):
    #df2.rename(columns={0:'pop'}, inplace=True)
    risco_relativo = df1[0]/df2[0]
    r_j.append(risco_relativo)

In [45]:
r_j[3]

0     0.002603
1     0.003187
2     0.005233
3     0.007989
4     0.008689
5     0.008032
6     0.007928
7     0.007998
8     0.008124
9     0.007863
10    0.007414
11    0.006993
12    0.005983
13    0.005467
14    0.004755
15    0.003762
16    0.002571
17    0.002596
18    0.003127
19    0.005164
20    0.006855
21    0.006984
22    0.005981
23    0.005499
24    0.005304
25    0.005284
26    0.004937
27    0.004445
28    0.004183
29    0.003816
30    0.003646
31    0.003261
32    0.002758
33    0.001924
Name: 0, dtype: float64

# calculating E_i for each municipality

In [46]:
table_pop = pd.pivot_table(teste_pop, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
table_pop

SEXO                   1                                               \
FXETARIA            4              509            1014           1519
MUNIC_RES
110001       1215.555556    1302.222222    1328.277778    1353.944444
110002       4295.444444    4377.611111    4564.666667    4488.055556
110003        293.888889     315.055556     351.833333     344.500000
110004       3455.055556    3532.166667    3831.888889    3970.111111
110005        743.666667     787.555556     870.333333     863.111111
110006        798.500000     841.222222     936.222222     960.555556
110007        425.222222     470.444444     522.444444     500.500000
110008        758.555556     754.777778     757.055556     689.888889
110009       1360.333333    1349.888889    1442.388889    1419.777778
110010       2292.222222    2323.388889    2311.166667    2184.444444
110011       2505.388889    2638.444444    2810.055556    2851.888889
110012       5187.611111    5351.666667    5598.555556    5816.333333
110013       1532.944444    1595.055556    1660.888889    1627.000000
110014        855.166667     956.500000     961.500000    1021.888889
110015       1774.388889    1819.833333    1949.833333    1989.944444
110018       1447.277778    1478.111111    1606.944444    1620.500000
110020      20020.777778   19484.166667   20715.888889   20759.444444
110025        988.333333    1106.333333    1202.055556    1246.333333
110026        136.444444     152.222222     163.833333     162.500000
110028       2270.222222    2388.388889    2499.833333    2517.333333
110029        436.666667     466.666667     516.666667     524.111111
110030       3303.722222    3371.722222    3546.555556    3554.722222
110032       1296.111111    1362.888889    1363.444444    1363.277778
110033       1102.388889    1186.611111    1224.111111    1167.666667
110034        867.166667     908.500000     929.444444     943.277778
110037        706.888889     777.000000     729.500000     726.111111
110040        795.833333     890.444444     940.111111     907.444444
110045       1869.888889    1923.777778    1919.055556    1932.055556
110050        509.277778     552.444444     597.277778     613.500000
110060        264.000000     285.666667     300.000000     291.888889
...                  ...            ...            ...            ...
522010        982.166667    1057.888889    1184.888889    1291.555556
522015        181.611111     192.555556     212.388889     210.388889
522020        937.833333     996.611111    1113.500000    1089.055556
522026        137.666667     153.888889     173.666667     171.833333
522028         64.166667      70.166667      73.333333      78.222222
522040        605.833333     639.444444     677.611111     718.888889
522045       4153.055556    3791.222222    3987.666667    3951.833333
522050        268.111111     279.277778     300.000000     301.500000
522060        765.944444     774.888889     858.000000     866.777778
522068        323.666667     335.277778     370.111111     348.166667
522070        114.722222     135.055556     161.777778     172.500000
522100        103.111111     121.666667     135.388889     150.777778
522108        165.666667     168.777778     184.888889     170.944444
522119        301.555556     296.666667     304.555556     301.888889
522130         97.944444     106.722222     123.722222     123.388889
522140       4455.666667    4479.944444    4759.277778    4900.500000
522145        135.277778     137.277778     158.555556     155.611111
522150        166.055556     186.833333     204.222222     201.222222
522155        197.111111     200.000000     201.222222     199.166667
522157        116.000000     139.666667     147.000000     143.000000
522160       1405.944444    1498.833333    1661.722222    1639.611111
522170        509.444444     531.777778     599.277778     599.333333
522180         99.500000     120.722222     125.055556     136.888889
522185       6526.333333    6163.000000    6221.000000    6202.111111
522190        134.833333     146.666667     144.777778     157.833333
522200        538.333333     538.055556     569.166667     576.055556
522205        288.111111     301.888889     300.222222     319.722222
522220        219.555556     230.055556     224.388889     214.500000
522230        212.333333     242.111111     264.833333     241.166667
530010     106350.333333  103601.388889  108832.333333  116362.722222

SEXO                                                                   \
FXETARIA            2024           2529           3034           3539
MUNIC_RES
110001       1192.555556    1107.722222    1020.222222     959.833333
110002       4179.444444    3960.666667    3703.611111    3284.500000
110003        298.777778     282.111111     258.611111     237.111111
110004       3691.111111    3422.888889    3215.611111    2946.944444
110005        797.500000     687.500000     671.222222     614.000000
110006        853.277778     771.166667     707.388889     659.055556
110007        445.444444     390.777778     377.055556     368.222222
110008        596.166667     545.388889     497.722222     441.777778
110009       1375.833333    1284.833333    1206.000000    1090.555556
110010       1951.555556    1723.500000    1596.666667    1394.222222
110011       2670.277778    2426.111111    2267.277778    1976.111111
110012       5500.055556    5153.833333    4862.222222    4404.111111
110013       1465.166667    1310.111111    1218.833333    1005.111111
110014        942.388889     834.444444     767.166667     695.444444
110015       1872.888889    1675.500000    1567.944444    1414.111111
110018       1572.777778    1415.000000    1353.166667    1196.333333
110020      20095.222222   18776.000000   17375.277778   15024.166667
110025       1104.888889     959.611111     888.111111     804.222222
110026        159.111111     149.166667     133.944444     121.055556
110028       2381.111111    2275.277778    2106.388889    1907.888889
110029        466.555556     412.444444     385.388889     367.888889
110030       3356.000000    3329.333333    3106.777778    2722.388889
110032       1220.500000    1091.666667    1013.722222     892.000000
110033       1086.277778     957.333333     925.500000     796.611111
110034        863.000000     756.166667     707.277778     642.500000
110037        653.222222     587.055556     558.944444     494.555556
110040        761.666667     746.944444     690.333333     655.833333
110045       1754.500000    1629.888889    1576.444444    1353.333333
110050        535.111111     457.055556     437.722222     411.333333
110060        250.888889     246.722222     236.500000     213.611111
...                  ...            ...            ...            ...
522010       1197.333333    1134.777778    1128.277778    1092.333333
522015        205.666667     186.777778     191.000000     175.111111
522020       1015.722222    1007.388889     976.833333     901.777778
522026        159.277778     168.777778     160.611111     157.333333
522028         70.388889      78.722222      74.944444      79.722222
522040        699.277778     652.611111     647.111111     640.444444
522045       3899.166667    3803.111111    3643.500000    3129.444444
522050        307.722222     304.277778     294.222222     269.555556
522060        881.777778     778.888889     823.833333     753.833333
522068        293.555556     293.222222     249.333333     223.277778
522070        133.888889     119.388889     100.111111      97.333333
522100        130.166667     128.944444     128.666667     128.555556
522108        151.777778     116.555556      96.666667      78.833333
522119        300.555556     267.111111     278.722222     233.722222
522130        120.555556     108.888889     115.055556     110.500000
522140       4702.055556    4630.722222    4444.222222    4020.833333
522145        151.500000     119.833333     123.166667     118.111111
522150        198.000000     173.500000     190.277778     181.222222
522155        205.500000     199.944444     190.277778     170.777778
522157        108.944444     113.777778     112.333333     110.611111
522160       1524.777778    1391.444444    1362.055556    1290.055556
522170        599.555556     564.666667     557.000000     533.222222
522180        122.222222     101.333333     117.166667     109.333333
522185       6179.944444    6312.611111    6175.444444    5103.722222
522190        129.000000     133.333333     132.333333     140.222222
522200        571.055556     541.277778     556.611111     513.166667
522205        323.444444     316.944444     294.222222     277.611111
522220        199.333333     217.722222     178.500000     146.333333
522230        220.833333     187.222222     206.222222     173.222222
530010     118290.888889  117489.388889  115017.666667  102369.722222

SEXO                                       ...                   2  \
FXETARIA           4044          4549      ...                3539
MUNIC_RES                                  ...
110001       854.222222    715.444444      ...          915.611111
110002      2918.444444   2346.000000      ...         3218.055556
110003       221.111111    200.555556      ...          216.666667
110004      2625.666667   2187.111111      ...         2954.222222
110005       567.388889    496.111111      ...          621.555556
110006       589.333333    508.333333      ...          658.000000
110007       305.833333    266.833333      ...          311.555556
110008       362.444444    297.833333      ...          393.055556
110009       915.277778    761.111111      ...         1017.166667
110010      1151.333333    946.111111      ...         1392.000000
110011      1700.000000   1379.444444      ...         1924.833333
110012      3754.833333   3178.166667      ...         4473.000000
110013       923.166667    809.611111      ...          926.444444
110014       596.111111    476.166667      ...          657.111111
110015      1213.111111   1066.500000      ...         1388.055556
110018      1059.166667    934.333333      ...         1234.833333
110020     12794.833333  10657.277778      ...        15314.722222
110025       738.444444    658.722222      ...          816.388889
110026       101.277778     92.555556      ...           96.055556
110028      1661.500000   1371.333333      ...         1910.500000
110029       329.500000    272.277778      ...          346.944444
110030      2389.722222   1995.388889      ...         2816.666667
110032       789.222222    619.444444      ...          796.444444
110033       650.000000    563.833333      ...          712.055556
110034       553.055556    471.944444      ...          599.333333
110037       420.055556    330.222222      ...          425.777778
110040       569.222222    460.111111      ...          579.777778
110045      1125.833333    895.222222      ...         1243.500000
110050       366.333333    303.611111      ...          364.055556
110060       193.166667    151.666667      ...          182.222222
...                 ...           ...      ...                 ...
522010      1007.666667    928.888889      ...         1158.055556
522015       145.055556    134.611111      ...          168.722222
522020       789.444444    687.555556      ...          859.111111
522026       146.055556    125.666667      ...          149.666667
522028        81.833333     70.666667      ...           80.222222
522040       565.166667    473.944444      ...          648.500000
522045      2588.666667   2139.277778      ...         3240.111111
522050       250.388889    213.333333      ...          249.555556
522060       672.111111    596.888889      ...          722.111111
522068       198.444444    166.944444      ...          220.277778
522070        90.388889     84.833333      ...           94.444444
522100       132.777778    126.833333      ...          137.222222
522108        76.666667     69.111111      ...           80.944444
522119       196.833333    169.777778      ...          252.833333
522130       116.055556    102.722222      ...          111.222222
522140      3449.166667   2912.666667      ...         4139.444444
522145       115.166667    114.500000      ...          113.388889
522150       194.777778    169.055556      ...          192.444444
522155       151.944444    125.388889      ...          163.555556
522157       103.444444     89.722222      ...          109.722222
522160      1172.333333   1062.500000      ...         1328.611111
522170       492.388889    443.277778      ...          532.111111
522180       109.222222    108.666667      ...          108.222222
522185      3975.944444   3122.777778      ...         5310.777778
522190       134.222222    121.722222      ...          131.944444
522200       455.388889    374.833333      ...          490.388889
522205       241.388889    211.222222      ...          254.055556
522220       120.944444    108.111111      ...          136.277778
522230       169.611111    166.722222      ...          154.777778
530010     85628.555556  70874.944444      ...       111346.055556

SEXO                                                               \
FXETARIA           4044          4549          5054          5559
MUNIC_RES
110001       738.222222    625.055556    474.111111    392.055556
110002      2769.500000   2223.777778   1667.000000   1280.055556
110003       199.444444    189.666667    156.944444    128.222222
110004      2623.833333   2133.777778   1696.555556   1333.611111
110005       554.666667    466.500000    381.388889    300.388889
110006       584.222222    506.111111    411.277778    376.666667
110007       251.500000    224.222222    180.500000    159.055556
110008       329.944444    253.277778    223.000000    166.388889
110009       856.833333    716.000000    597.611111    459.500000
110010      1155.666667    957.555556    758.222222    578.055556
110011      1625.833333   1313.833333   1024.000000    856.277778
110012      3779.833333   3128.944444   2465.055556   1891.722222
110013       830.055556    688.111111    563.944444    449.055556
110014       537.722222    445.333333    378.277778    309.944444
110015      1204.611111   1032.000000    802.500000    649.722222
110018      1067.277778    933.888889    720.666667    537.833333
110020     12856.722222  10545.277778   8050.666667   5956.500000
110025       709.500000    636.777778    546.944444    429.611111
110026        80.388889     73.166667     61.500000     51.222222
110028      1659.111111   1333.611111   1043.000000    853.166667
110029       305.500000    253.111111    185.277778    182.277778
110030      2402.666667   1997.833333   1580.333333   1171.722222
110032       667.611111    533.555556    416.000000    329.444444
110033       566.666667    493.222222    348.722222    297.222222
110034       510.166667    447.722222    349.722222    297.833333
110037       356.388889    273.111111    238.388889    183.111111
110040       500.000000    390.388889    322.000000    262.111111
110045       967.333333    784.166667    515.166667    362.388889
110050       323.000000    265.500000    212.722222    192.055556
110060       167.166667    137.500000    101.722222    103.111111
...                 ...           ...           ...           ...
522010      1069.444444    955.166667    801.555556    682.944444
522015       135.888889    138.000000    110.388889     84.722222
522020       780.222222    670.611111    550.388889    452.555556
522026       128.555556    104.055556    104.555556     82.333333
522028        71.888889     62.111111     57.722222     42.222222
522040       577.000000    464.500000    411.333333    337.777778
522045      2664.166667   2195.055556   1678.833333   1160.833333
522050       228.055556    192.055556    147.444444    140.500000
522060       643.055556    539.111111    468.777778    395.555556
522068       188.277778    167.333333    136.611111    112.333333
522070        82.444444     71.222222     66.444444     54.000000
522100       126.333333    118.333333    111.388889     90.388889
522108        78.500000     61.333333     50.111111     45.777778
522119       184.166667    184.444444    136.055556    112.666667
522130       109.388889     96.611111     82.722222     71.722222
522140      3677.055556   3026.611111   2577.388889   1926.444444
522145       111.333333    101.666667     88.944444     78.222222
522150       190.611111    145.666667    135.722222    128.555556
522155       133.111111    105.777778     89.500000     52.722222
522157        96.277778     93.222222     74.444444     65.277778
522160      1209.500000   1074.722222    903.722222    770.888889
522170       496.555556    454.944444    381.555556    328.444444
522180       110.888889     97.111111     86.055556     88.055556
522185      4165.500000   3269.000000   2423.555556   1689.444444
522190       135.666667    114.722222    113.333333     88.722222
522200       429.833333    355.111111    284.444444    236.722222
522205       233.333333    190.055556    140.611111    129.555556
522220       115.500000     87.555556     72.277778     62.666667
522230       144.500000    142.277778    106.333333    104.500000
530010     93335.666667  78221.222222  61920.555556  46737.055556

SEXO                                                               \
FXETARIA           6064          6569          7074          7579
MUNIC_RES
110001       290.888889    221.500000    153.000000     90.555556
110002       926.611111    664.388889    423.611111    272.888889
110003       108.444444     64.611111     52.166667     30.222222
110004       979.000000    726.944444    546.888889    348.055556
110005       248.111111    193.777778    128.944444     84.055556
110006       285.777778    212.277778    161.055556     97.333333
110007       103.944444     81.666667     46.166667     31.833333
110008       118.777778     90.333333     47.833333     29.777778
110009       341.944444    263.500000    167.055556    117.444444
110010       461.055556    341.722222    238.055556    162.333333
110011       629.500000    487.277778    327.222222    232.000000
110012      1376.833333   1014.333333    688.833333    495.555556
110013       294.277778    214.166667    129.555556     69.000000
110014       232.555556    170.333333    106.611111     67.833333
110015       482.388889    371.500000    287.444444    173.555556
110018       395.166667    307.444444    194.388889    140.444444
110020      4231.833333   2812.222222   1950.944444   1301.055556
110025       371.888889    241.111111    198.166667    112.833333
110026        43.000000     35.888889     22.777778     12.888889
110028       641.388889    486.222222    347.111111    225.611111
110029       122.166667     99.166667     66.333333     49.000000
110030       881.388889    608.111111    407.277778    264.222222
110032       236.500000    157.555556    107.777778     59.111111
110033       179.222222    126.055556     86.222222     43.000000
110034       204.111111    162.777778     97.833333     69.888889
110037       131.666667     90.944444     64.777778     31.888889
110040       174.444444    129.888889     77.666667     48.611111
110045       184.722222    141.111111     88.722222     38.222222
110050       127.722222    100.722222     59.666667     40.888889
110060        56.944444     44.444444     28.111111     17.277778
...                 ...           ...           ...           ...
522010       584.500000    428.388889    329.666667    225.166667
522015        68.777778     48.222222     36.722222     27.166667
522020       357.277778    262.000000    196.666667    132.777778
522026        51.944444     53.666667     26.500000     22.000000
522028        39.444444     29.500000     25.666667     14.722222
522040       291.666667    211.555556    171.444444    101.777778
522045       831.388889    625.611111    389.722222    273.666667

In [47]:
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4       1496
1     110001  2000     1       509       1677
2     110001  2000     1      1014       1570
3     110001  2000     1      1519       1522
4     110001  2000     1      2024       1292

# 2010

In [48]:
filter_2010 = teste_pop[teste_pop.ANO == 2010]

In [49]:
P_2010 = pd.pivot_table(filter_2010, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2010;

In [50]:
E_2010 =[]
for i in range(len(P_2010)):
    E_i = sum(np.array(P_2010.iloc[i])*np.array(r_j[0]))
    E_2010.append([P_2010.index.values[i],E_i])

In [51]:
Expected_2010 = pd.DataFrame(E_2010,
                 columns=['codmunres', 'expected_2010'])

In [52]:
Expected_2010.head()

   codmunres  expected_2010
0     110001     111.128432
1     110002     411.105553
2     110003      28.592163
3     110004     357.275068
4     110005      77.181413

# 2011

In [53]:
filter_2011 = teste_pop[teste_pop.ANO == 2011]

In [54]:
P_2011 = pd.pivot_table(filter_2011, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2011;

In [55]:
E_2011 =[]
for i in range(len(P_2011)):
    E_i = sum(np.array(P_2011.iloc[i])*np.array(r_j[1]))
    E_2011.append([P_2011.index.values[i],E_i])

In [56]:
Expected_2011 = pd.DataFrame(E_2011,
                 columns=['codmunres', 'expected_2011'])

In [57]:
Expected_2011.head()

   codmunres  expected_2011
0     110001      75.629524
1     110002     286.775292
2     110003      19.216999
3     110004     245.546874
4     110005      52.430493

# 2012

In [58]:
filter_2012 = teste_pop[teste_pop.ANO == 2012]

In [59]:
P_2012 = pd.pivot_table(filter_2012, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2012;

In [60]:
E_2012 =[]
for i in range(len(P_2012)):
    E_i = sum(np.array(P_2012.iloc[i])*np.array(r_j[2]))
    E_2012.append([P_2012.index.values[i],E_i])

In [61]:
Expected_2012 = pd.DataFrame(E_2012,
                 columns=['codmunres', 'expected_2012'])

In [62]:
Expected_2012.head()

   codmunres  expected_2012
0     110001      50.215073
1     110002     194.174986
2     110003      12.639273
3     110004     165.491926
4     110005      34.884951

# 2013

In [63]:
filter_2013 = teste_pop[teste_pop.ANO == 2013]

In [64]:
P_2013 = pd.pivot_table(filter_2013, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2013;

In [65]:
E_2013 =[]
for i in range(len(P_2013)):
    E_i = sum(np.array(P_2013.iloc[i])*np.array(r_j[3]))
    E_2013.append([P_2013.index.values[i],E_i])

In [66]:
Expected_2013 = pd.DataFrame(E_2013,
                 columns=['codmunres', 'expected_2013'])

In [67]:
Expected_2013.head()

   codmunres  expected_2013
0     110001     130.005645
1     110002     537.160010
2     110003      34.810636
3     110004     471.714230
4     110005      95.667674

# 2014

In [68]:
filter_2014 = teste_pop[teste_pop.ANO == 2014]

In [69]:
P_2014 = pd.pivot_table(filter_2014, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2014;

In [70]:
E_2014 =[]
for i in range(len(P_2014)):
    E_i = sum(np.array(P_2014.iloc[i])*np.array(r_j[4]))
    E_2014.append([P_2014.index.values[i],E_i])

In [71]:
Expected_2014 = pd.DataFrame(E_2014,
                 columns=['codmunres', 'expected_2014'])

In [72]:
Expected_2014.head()

   codmunres  expected_2014
0     110001      51.266263
1     110002     217.612998
2     110003      13.755320
3     110004     190.044238
4     110005      37.800425

# 2015

In [73]:
filter_2015 = teste_pop[teste_pop.ANO == 2015]

In [74]:
P_2015 = pd.pivot_table(filter_2015, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2015;

In [75]:
E_2015 =[]
for i in range(len(P_2015)):
    E_i = sum(np.array(P_2015.iloc[i])*np.array(r_j[5]))
    E_2015.append([P_2015.index.values[i],E_i])

In [76]:
Expected_2015 = pd.DataFrame(E_2015,
                 columns=['codmunres', 'expected_2015'])

In [77]:
Expected_2015.head()

   codmunres  expected_2015
0     110001     145.464884
1     110002     646.498188
2     110003      37.536266
3     110004     544.199523
4     110005     109.095933

# 2016

In [78]:
filter_2016 = teste_pop[teste_pop.ANO == 2016]

In [79]:
P_2016 = pd.pivot_table(filter_2016, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2016;

In [80]:
E_2016 =[]
for i in range(len(P_2016)):
    E_i = sum(np.array(P_2016.iloc[i])*np.array(r_j[6]))
    E_2016.append([P_2016.index.values[i],E_i])

In [81]:
Expected_2016 = pd.DataFrame(E_2016,
                 columns=['codmunres', 'expected_2016'])

In [82]:
Expected_2016.head()

   codmunres  expected_2016
0     110001     112.210692
1     110002     515.501707
2     110003      28.626501
3     110004     429.302577
4     110005      84.608077

# 2017

In [83]:
filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [84]:
P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2017;

In [85]:
E_2017 =[]
for i in range(len(P_2017)):
    E_i = sum(np.array(P_2017.iloc[i])*np.array(r_j[7]))
    E_2017.append([P_2017.index.values[i],E_i])

In [86]:
Expected_2017 = pd.DataFrame(E_2017,
                 columns=['codmunres', 'expected_2017'])

In [87]:
Expected_2017.head()

   codmunres  expected_2017
0     110001      16.924089
1     110002      81.589610
2     110003       4.303680
3     110004      66.362854
4     110005      12.835925

# 2018

In [88]:
filter_2018 = teste_pop[teste_pop.ANO == 2018]

In [89]:
P_2018 = pd.pivot_table(filter_2018, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2018;

In [90]:
sum_observed_gender_age_year[8]

    cs_sexo  faixa       0
0         1      4  3629.0
1         1    509  4099.0
2         1   1014  5332.0
3         1   1519  7621.0
4         1   2024  8355.0
5         1   2529  7666.0
6         1   3034  7709.0
7         1   3539  7387.0
8         1   4044  6464.0
9         1   4549  5708.0
10        1   5054  5190.0
11        1   5559  4041.0
12        1   6064  3046.0
13        1   6569  2031.0
14        1   7074  1303.0
15        1   7579   787.0
16        1   8099   759.0
17        2      4  3592.0
18        2    509  4133.0
19        2   1014  5742.0
20        2   1519  6338.0
21        2   2024  6973.0
22        2   2529  6332.0
23        2   3034  5878.0
24        2   3539  5615.0
25        2   4044  4403.0
26        2   4549  3781.0
27        2   5054  3302.0
28        2   5559  2685.0
29        2   6064  2097.0
30        2   6569  1529.0
31        2   7074   920.0
32        2   7579   575.0
33        2   8099   598.0

In [91]:
r_j[8] =  sum_observed_gender_age_year[8][0]/sum_pop_gender_age_year[0][0]

In [92]:
E_2018 =[]
for i in range(len(P_2010)):
    E_i = sum(np.array(P_2010.iloc[i])*np.array(r_j[8]))
    E_2018.append([P_2010.index.values[i],E_i])

In [93]:
Expected_2018 = pd.DataFrame(E_2018,
                 columns=['codmunres', 'expected_2018'])

In [94]:
Expected_2018.head()

   codmunres  expected_2018
0     110001      18.815249
1     110002      69.451243
2     110003       4.864562
3     110004      60.518160
4     110005      13.089248

# Observed number of cases per municipality and year

In [95]:
observed = df.groupby(['codmunres','year'])['count'].sum().reset_index()
observed.head()

   codmunres  year  count
0   110000.0  2015      1
1   110000.0  2016      1
2   110001.0  2010     13
3   110001.0  2011      1
4   110001.0  2012      2

In [96]:
observed = observed[(2010 <= observed.year) & (observed.year <= 2018)]

In [97]:
observed = pd.pivot_table(observed, values='count', index=['codmunres'], columns=['year'])

In [98]:
observed = observed.fillna(0) 
observed.head()

year        2010  2011  2012   2013  2014  2015   2016  2017  2018
codmunres
110000.0     0.0   0.0   0.0    0.0   0.0   1.0    1.0   0.0   0.0
110001.0    13.0   1.0   2.0  159.0   5.0  10.0   12.0  10.0   3.0
110002.0   228.0  27.0   2.0   35.0  56.0  21.0   50.0  61.0   7.0
110003.0    61.0  13.0  42.0   35.0   3.0  92.0   43.0   5.0   3.0
110004.0   939.0  31.0  18.0  442.0  31.0  46.0  217.0  25.0  13.0

# calculate the standard incidence ratio

In [99]:
codigo_muni = pd.read_excel('G:\Datalake\POPULACAO\População\POP_python\DTB_BRASIL_MUNICIPIO.xls')

In [100]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [101]:
codigo_muni.columns

Index(['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município'],
      dtype='object')

In [102]:
codigo_muni.rename(columns={'Código Município Completo':'codmuni_full'}, 
                 inplace=True);

In [103]:
codigo_muni['codmuni'] = codigo_muni.codmuni_full.floordiv(10)

In [104]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,codmuni
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,110001
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,110037
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,110040
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,110034
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,110002

In [105]:
observed.columns

Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype='int64', name='year')

In [106]:
final = codigo_muni.set_index('codmuni').join(observed)

In [107]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,2011,2012,2013,2014,2015,2016,2017,2018
codmuni,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,1.0,2.0,159.0,5.0,10.0,12.0,10.0,3.0
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,0.0,5.0,113.0,4.0,9.0,6.0,6.0,2.0
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,35.0,36.0,57.0,18.0,3.0,5.0,22.0,4.0
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,276.0,84.0,515.0,13.0,34.0,82.0,6.0,1.0
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,27.0,2.0,35.0,56.0,21.0,50.0,61.0,7.0
110045,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,452,1100452,Buritis,647.0,82.0,27.0,105.0,89.0,149.0,195.0,117.0,85.0
110003,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,31,1100031,Cabixi,61.0,13.0,42.0,35.0,3.0,92.0,43.0,5.0,3.0
110060,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,601,1100601,Cacaulândia,3.0,0.0,1.0,0.0,7.0,12.0,0.0,0.0,0.0
110004,11,Rondônia,2,Leste Rondoniense,6,Cacoal,49,1100049,Cacoal,939.0,31.0,18.0,442.0,31.0,46.0,217.0,25.0,13.0
110070,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,700,1100700,Campo Novo de Rondônia,25.0,58.0,6.0,67.0,101.0,28.0,16.0,22.0,2.0
110080,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,809,1100809,Candeias do Jamari,144.0,6.0,6.0,32.0,3.0,40.0,73.0,15.0,7.0
110090,11,Rondônia,2,Leste Rondoniense,6,Cacoal,908,1100908,Castanheiras,0.0,0.0,0.0,7.0,0.0,0.0,4.0,1.0,0.0
110005,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,56,1100056,Cerejeiras,117.0,156.0,104.0,742.0,8.0,41.0,296.0,243.0,9.0
110092,11,Rondônia,2,Leste Rondoniense,7,Vilhena,924,1100924,Chupinguaia,6.0,2.0,20.0,6.0,2.0,43.0,29.0,0.0,0.0
110006,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,64,1100064,Colorado do Oeste,401.0,114.0,31.0,74.0,16.0,12.0,28.0,14.0,13.0
110007,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,72,1100072,Corumbiara,41.0,31.0,58.0,67.0,5.0,16.0,12.0,3.0,0.0
110008,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,80,1100080,Costa Marques,359.0,36.0,4.0,79.0,116.0,7.0,4.0,1.0,0.0
110094,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,940,1100940,Cujubim,92.0,2.0,1.0,3.0,1.0,0.0,12.0,40.0,2.0
110009,11,Rondônia,2,Leste Rondoniense,6,Cacoal,98,1100098,Espigão D'Oeste,567.0,62.0,54.0,62.0,6.0,274.0,518.0,113.0,21.0
110100,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1005,1101005,Governador Jorge Teixeira,66.0,1.0,2.0,41.0,2.0,0.0,0.0,2.0,1.0
110010,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,106,1100106,Guajará-Mirim,236.0,11.0,35.0,262.0,35.0,10.0,68.0,78.0,47.0
110110,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,1104,1101104,Itapuã do Oeste,216.0,6.0,5.0,25.0,20.0,5.0,25.0,9.0,2.0
110011,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,114,1100114,Jaru,711.0,18.0,3.0,137.0,50.0,10.0,15.0,87.0,1.0
110012,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,122,1100122,Ji-Paraná,102.0,22.0,5.0,25.0,149.0,13.0,87.0,61.0,26.0
110013,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,130,1100130,Machadinho D'Oeste,522.0,13.0,4.0,90.0,80.0,19.0,460.0,122.0,6.0
110120,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1203,1101203,Ministro Andreazza,36.0,2.0,6.0,112.0,1.0,64.0,8.0,5.0,0.0
110130,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1302,1101302,Mirante da Serra,4.0,0.0,1.0,8.0,1.0,0.0,1.0,7.0,0.0
110140,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1401,1101401,Monte Negro,232.0,76.0,1.0,11.0,4.0,13.0,24.0,27.0,1.0
110014,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,148,1100148,Nova Brasilândia D'Oeste,745.0,283.0,14.0,89.0,23.0,3.0,344.0,72.0,3.0
110033,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,338,1100338,Nova Mamoré,116.0,9.0,2.0,39.0,3.0,9.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522010,52,Goiás,3,Centro Goiano,9,Anicuns,20108,5220108,São Luís de Montes Belos,554.0,19.0,2.0,190.0,388.0,736.0,43.0,40.0,130.0
522015,52,Goiás,3,Centro Goiano,6,Ceres,20157,5220157,São Luiz do Norte,1.0,9.0,1.0,0.0,0.0,5.0,1.0,44.0,17.0
522020,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,20207,5220207,São Miguel do Araguaia,140.0,28.0,22.0,272.0,34.0,108.0,44.0,41.0,129.0
522026,52,Goiás,5,Sul Goiano,16,Pires do Rio,20264,5220264,São Miguel do Passa Quatro,18.0,4.0,1.0,10.0,10.0,70.0,51.0,3.0,4.0
522028,52,Goiás,3,Centro Goiano,6,Ceres,20280,5220280,São Patrício,1.0,0.0,1.0,6.0,2.0,18.0,2.0,0.0,0.0
522040,52,Goiás,5,Sul Goiano,18,Quirinópolis,20405,5220405,São Simão,432.0,12.0,10.0,863.0,100.0,639.0,484.0,301.0,1441.0
522045,52,Goiás,3,Centro Goiano,10,Goiânia,20454,5220454,Senador Canedo,918.0,260.0,124.0,2136.0,485.0,1550.0,1065.0,601.0,3626.0
522050,52,Goiás,5,Sul Goiano,13,Sudoeste de Goiás,20504,5220504,Serranópolis,178.0,1.0,5.0,70.0,21.0,169.0,18.0,1.0,43.0
522060,52,Goiás,5,Sul Goiano,16,Pires do Rio,20603,5220603,Silvânia,40.0,4.0,4.0,109.0,102.0,27.0,64.0,5.0,39.0
522068,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20686,5220686,Simolândia,37.0,79.0,0.0,50.0,3.0,29.0,19.0,1.0,12.0
522070,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20702,5220702,Sítio d'Abadia,0.0,7.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0
522100,52,Goiás,3,Centro Goiano,7,Anápolis,21007,5221007,Taquaral de Goiás,7.0,16.0,0.0,7.0,42.0,88.0,0.0,3.0,1.0
522108,52,Goiás,2,Norte Goiano,5,Chapada dos Veadeiros,21080,5221080,Teresina de Goiás,9.0,1.0,0.0,0.0,37.0,13.0,2.0,2.0,0.0
522119,52,Goiás,3,Centro Goiano,10,Goiânia,21197,5221197,Terezópolis de Goiás,23.0,1.0,3.0,142.0,26.0,40.0,129.0,38.0,34.0
522130,52,Goiás,5,Sul Goiano,17,Catalão,21304,5221304,Três Ranchos,7.0,0.0,0.0,1.0,50.0,46.0,96.0,2.0,0.0
522140,52,Goiás,3,Centro Goiano,10,Goiânia,21403,5221403,Trindade,913.0,301.0,79.0,1973.0,479.0,741.0,1310.0,924.0,1654.0
522145,52,Goiás,2,Norte Goiano,4,Porangatu,21452,5221452,Trombas,0.0,0.0,2.0,28.0,0.0,30.0,7.0,9.0,17.0
522150,52,Goiás,3,Centro Goiano,9,Anicuns,21502,5221502,Turvânia,32.0,0.0,15.0,69.0,45.0,158.0,37.0,18.0,34.0
522155,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21551,5221551,Turvelândia,10.0,0.0,1.0,48.0,0.0,7.0,8.0,58.0,10.0
522157,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,21577,5221577,Uirapuru,6.0,0.0,0.0,29.0,44.0,6.0,20.0,3.0,4.0
522160,52,Goiás,2,Norte Goiano,4,Porangatu,21601,5221601,Uruaçu,38.0,19.0,21.0,442.0,764.0,273.0,77.0,170.0,129.0
522170,52,Goiás,3,Centro Goiano,6,Ceres,21700,5221700,Uruana,337.0,16.0,23.0,77.0,113.0,112.0,66.0,32.0,50.0
522180,52,Goiás,5,Sul Goiano,16,Pires do Rio,21809,5221809,Urutaí,1.0,0.0,0.0,3.0,189.0,16.0,13.0,3.0,3.0
522185,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,21858,5221858,Valparaíso de Goiás,163.0,106.0,111.0,1418.0,1666.0,1722.0,816.0,425.0,18.0
522190,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21908,5221908,Varjão,3.0,29.0,6.0,20.0,2.0,24.0,10.0,9.0,120.0
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,37.0,8.0,28.0,111.0,86.0,114.0,36.0,13.0
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,7.0,43.0,114.0,26.0,113.0,36.0,3.0,85.0
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,5.0,0.0,409.0,225.0,5.0,2.0,26.0,0.0
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,2.0,1.0,21.0,5.0,73.0,24.0,99.0,14.0
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,1322.0,708.0,9197.0,11468.0,9099.0,14517.0,2733.0,834.0

In [108]:
final = final.join(Expected_2018.set_index('codmunres')).join(Expected_2017.set_index('codmunres')).join(Expected_2016.set_index('codmunres')).join(Expected_2015.set_index('codmunres')).join(Expected_2014.set_index('codmunres')).join(Expected_2013.set_index('codmunres')).join(Expected_2012.set_index('codmunres')).join(Expected_2011.set_index('codmunres')).join(Expected_2010.set_index('codmunres'))

In [109]:
final.columns

Index([                     'UF',                 'Nome_UF',
        'Mesorregião Geográfica',        'Nome_Mesorregião',
       'Microrregião Geográfica',       'Nome_Microrregião',
                     'Município',            'codmuni_full',
                'Nome_Município',                      2010,
                            2011,                      2012,
                            2013,                      2014,
                            2015,                      2016,
                            2017,                      2018,
                 'expected_2018',           'expected_2017',
                 'expected_2016',           'expected_2015',
                 'expected_2014',           'expected_2013',
                 'expected_2012',           'expected_2011',
                 'expected_2010'],
      dtype='object')

In [110]:
final['SIR_2010'] = final[2010]/final['expected_2010']
final['SIR_2011'] = final[2011]/final['expected_2011']
final['SIR_2012'] = final[2012]/final['expected_2012']
final['SIR_2013'] = final[2013]/final['expected_2013']
final['SIR_2014'] = final[2014]/final['expected_2014']
final['SIR_2015'] = final[2015]/final['expected_2015']
final['SIR_2016'] = final[2016]/final['expected_2016']
final['SIR_2017'] = final[2017]/final['expected_2017']
final['SIR_2018'] = final[2018]/final['expected_2018']

In [111]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,...,expected_2010,SIR_2010,SIR_2011,SIR_2012,SIR_2013,SIR_2014,SIR_2015,SIR_2016,SIR_2017,SIR_2018
codmuni,,,,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,...,111.128432,0.116982,0.013222,0.039829,1.223024,0.097530,0.068745,0.106942,0.590874,0.159445
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,...,58.131264,0.464466,0.000000,0.187101,1.673373,0.147867,0.109932,0.093292,0.598126,0.203336
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,...,77.814982,0.424083,0.640327,0.974591,0.565209,0.437142,0.025101,0.052222,1.454469,0.303841
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,...,76.397016,0.916266,5.339912,2.470414,5.635528,0.361361,0.331782,1.043450,0.506245,0.077286
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,...,411.105553,0.554602,0.094150,0.010300,0.065157,0.257338,0.032483,0.096993,0.747644,0.100790
110045,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,452,1100452,Buritis,647.0,...,147.060701,4.399544,0.792375,0.386350,0.519693,1.079172,0.665584,1.080937,4.029711,3.423593
110003,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,31,1100031,Cabixi,61.0,...,28.592163,2.133452,0.676484,3.322976,1.005440,0.218097,2.450963,1.502105,1.161796,0.616705
110060,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,601,1100601,Cacaulândia,3.0,...,25.953418,0.115592,0.000000,0.083530,0.000000,0.547798,0.329971,0.000000,0.000000,0.000000
110004,11,Rondônia,2,Leste Rondoniense,6,Cacoal,49,1100049,Cacoal,939.0,...,357.275068,2.628227,0.126249,0.108767,0.937008,0.163120,0.084528,0.505471,0.376717,0.214812
110070,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,700,1100700,Campo Novo de Rondônia,25.0,...,57.569886,0.434255,1.443835,0.223464,1.047172,3.993935,0.386569,0.282753,2.530247,0.205529
110080,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,809,1100809,Candeias do Jamari,144.0,...,89.239037,1.613644,0.094379,0.139112,0.285288,0.065294,0.273840,0.619518,0.790773,0.464068
110090,11,Rondônia,2,Leste Rondoniense,6,Cacoal,908,1100908,Castanheiras,0.0,...,16.258279,0.000000,0.000000,0.000000,0.358148,0.000000,0.000000,0.241810,0.412877,0.000000
110005,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,56,1100056,Cerejeiras,117.0,...,77.181413,1.515909,2.975368,2.981228,7.756016,0.211638,0.375816,3.498484,18.931241,0.687587
110092,11,Rondônia,2,Leste Rondoniense,7,Vilhena,924,1100924,Chupinguaia,6.0,...,37.882026,0.158386,0.074381,1.088898,0.123239,0.098664,0.679707,0.567515,0.000000,0.000000
110006,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,64,1100064,Colorado do Oeste,401.0,...,84.062519,4.770259,2.018065,0.831111,0.745637,0.410931,0.106401,0.323577,1.086459,0.909593
110007,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,72,1100072,Corumbiara,41.0,...,40.347737,1.016166,1.140695,3.228476,1.388493,0.261486,0.311709,0.306083,0.510039,0.000000
110008,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,80,1100080,Costa Marques,359.0,...,61.474621,5.839808,0.818034,0.134582,1.025849,3.713576,0.078692,0.056691,0.090037,0.000000
110094,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,940,1100940,Cujubim,92.0,...,71.998356,1.277807,0.038206,0.027635,0.026351,0.020858,0.000000,0.097195,1.974035,0.164731
110009,11,Rondônia,2,Leste Rondoniense,6,Cacoal,98,1100098,Espigão D'Oeste,567.0,...,130.493098,4.345057,0.686523,0.887103,0.357628,0.085599,1.369476,3.258915,4.532103,0.949747
110100,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1005,1101005,Governador Jorge Teixeira,66.0,...,47.696568,1.383747,0.031189,0.095979,0.754113,0.093387,0.000000,0.000000,0.281263,0.123994
110010,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,106,1100106,Guajará-Mirim,236.0,...,185.529960,1.272032,0.084585,0.405299,1.088418,0.359327,0.035972,0.307647,2.223733,1.499200
110110,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,1104,1101104,Itapuã do Oeste,216.0,...,38.575765,5.599370,0.220870,0.274187,0.503807,0.988756,0.085030,0.536157,1.222432,0.306255
110011,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,114,1100114,Jaru,711.0,...,235.795119,3.015330,0.111393,0.027834,0.441035,0.401568,0.028394,0.054187,2.027758,0.025079
110012,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,122,1100122,Ji-Paraná,102.0,...,528.968781,0.192828,0.060293,0.020319,0.035583,0.526204,0.015576,0.131646,0.592901,0.290246
110013,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,130,1100130,Machadinho D'Oeste,522.0,...,141.259182,3.695335,0.130359,0.059205,0.505564,1.106524,0.093320,2.846751,4.810237,0.251243
110120,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1203,1101203,Ministro Andreazza,36.0,...,46.858093,0.768277,0.062392,0.283655,1.935860,0.043546,0.976205,0.157633,0.646052,0.000000
110130,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1302,1101302,Mirante da Serra,4.0,...,53.577641,0.074658,0.000000,0.041503,0.121548,0.038449,0.000000,0.017415,0.800065,0.000000
110140,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1401,1101401,Monte Negro,232.0,...,63.640139,3.645498,1.714178,0.033792,0.149868,0.135078,0.141793,0.330555,2.386406,0.092972
110014,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,148,1100148,Nova Brasilândia D'Oeste,745.0,...,90.792386,8.205534,4.546631,0.335869,0.823266,0.530028,0.021862,3.210123,4.377141,0.195349
110033,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,338,1100338,Nova Mamoré,116.0,...,101.615930,1.141553,0.124010,0.040657,0.282160,0.052686,0.053707,0.014764,0.091078,0.174903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522010,52,Goiás,3,Centro Goiano,9,Anicuns,20108,5220108,São Luís de Montes Belos,554.0,...,135.630995,4.084612,0.205659,0.031913,1.089198,5.526277,3.441893,0.254443,1.567585,5.615548
522015,52,Goiás,3,Centro Goiano,6,Ceres,20157,5220157,São Luiz do Norte,1.0,...,20.867529,0.047921,0.625762,0.103136,0.000000,0.000000,0.155175,0.039212,11.259065,4.793059
522020,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,20207,5220207,São Miguel do Araguaia,140.0,...,101.160624,1.383938,0.408469,0.479396,2.133172,0.666209,0.737764,0.383140,2.342219,7.493418
522026,52,Goiás,5,Sul Goiano,16,Pires do Rio,20264,5220264,São Miguel do Passa Quatro,18.0,...,17.008593,1.058289,0.345317,0.128191,0.458776,1.142514,2.829131,2.632653,1.043841,1.373268
522028,52,Goiás,3,Centro Goiano,6,Ceres,20280,5220280,São Patrício,1.0,...,9.006453,0.111032,0.000000,0.245877,0.491987,0.408224,1.326916,0.191404,0.000000,0.000000
522040,52,Goiás,5,Sul Goiano,18,Quirinópolis,20405,5220405,São Simão,432.0,...,78.110619,5.530618,0.223743,0.272165,9.147483,2.627808,5.258970,5.016839,20.230906,108.378806
522045,52,Goiás,3,Centro Goiano,10,Goiânia,20454,5220454,Senador Canedo,918.0,...,383.128496,2.396063,0.957039,0.663821,3.872397,2.120733,2.262827,1.908869,6.647669,56.074775
522050,52,Goiás,5,Sul Goiano,13,Sudoeste de Goiás,20504,5220504,Serranópolis,178.0,...,34.139014,5.213976,0.042688,0.314515,1.584328,1.172684,3.434325,0.464646,0.167420,7.400421
522060,52,Goiás,5,Sul Goiano,16,Pires do Rio,20603,5220603,Silvânia,40.0,...,86.772318,0.460977,0.067591,0.100140,1.024349,2.371167,0.218685,0.658029,0.336784,2.639209
522068,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20686,5220686,Simolândia,37.0,...,29.126958,1.270301,3.909319,0.000000,1.226757,0.183610,0.680096,0.571253,0.195031,2.432385
522070,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20702,5220702,Sítio d'Abadia,0.0,...,12.837307,0.000000,0.791908,0.000000,0.000000,0.000000,0.170714,0.147425,0.502618,0.000000
522100,52,Goiás,3,Centro Goiano,7,Anápolis,21007,5221007,Taquaral de Goiás,7.0,...,16.148251,0.433483,1.484263,0.000000,0.353738,5.292352,3.730556,0.000000,1.145974,0.362210
522108,52,Goiás,2,Norte Goiano,5,Chapada dos Veadeiros,21080,5221080,Teresina de Goiás,9.0,...,13.404171,0.671433,0.105943,0.000000,0.000000,5.340729,0.655392,0.129062,0.826358,0.000000
522119,52,Goiás,3,Centro Goiano,10,Goiânia,21197,5221197,Terezópolis de Goiás,23.0,...,29.580273,0.777545,0.048407,0.214036,3.629884,1.634575,0.839964,3.380953,6.425333,6.778010
522130,52,Goiás,5,Sul Goiano,17,Catalão,21304,5221304,Três Ranchos,7.0,...,12.802889,0.546752,0.000000,0.000000,0.059008,7.416741,2.563078,6.964911,0.982619,0.000000
522140,52,Goiás,3,Centro Goiano,10,Goiânia,21403,5221403,Trindade,913.0,...,472.543462,1.932097,0.917001,0.353246,2.946236,1.751242,0.937211,2.069161,9.323387,20.634084
522145,52,Goiás,2,Norte Goiano,4,Porangatu,21452,5221452,Trombas,0.0,...,15.507596,0.000000,0.000000,0.286306,1.384076,0.000000,1.350086,0.408628,3.494855,6.411199
522150,52,Goiás,3,Centro Goiano,9,Anicuns,21502,5221502,Turvânia,32.0,...,21.784112,1.468960,0.000000,1.544033,2.532889,4.126704,5.275713,1.611949,5.369293,9.093964
522155,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21551,5221551,Turvelândia,10.0,...,20.032354,0.499192,0.000000,0.105481,1.949557,0.000000,0.236540,0.340294,15.698893,2.943389
522157,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,21577,5221577,Uirapuru,6.0,...,13.179945,0.455237,0.000000,0.000000,1.813852,6.845437,0.335026,1.460971,1.493615,1.776524
522160,52,Goiás,2,Norte Goiano,4,Porangatu,21601,5221601,Uruaçu,38.0,...,166.546401,0.228165,0.166540,0.273136,2.086232,8.920714,1.073568,0.383999,5.513624,4.549298
522170,52,Goiás,3,Centro Goiano,6,Ceres,21700,5221700,Uruana,337.0,...,62.505809,5.391499,0.379723,0.812521,0.964110,3.540873,1.265483,0.960731,3.120716,4.685722
522180,52,Goiás,5,Sul Goiano,16,Pires do Rio,21809,5221809,Urutaí,1.0,...,13.829705,0.072308,0.000000,0.000000,0.193453,31.053167,0.830413,0.881036,1.396971,1.267436
522185,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,21858,5221858,Valparaíso de Goiás,163.0,...,602.803828,0.270403,0.249222,0.381488,1.710654,4.916660,1.656710,0.971345,3.145779,0.176870
522190,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21908,5221908,Varjão,3.0,...,16.461384,0.182245,2.607784,0.804120,0.919384,0.228856,0.995927,0.531798,3.215999,42.622509
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,...,56.832975,0.703817,0.949536,0.303777,0.365589,3.587338,0.970657,1.623599,3.315710,1.344109
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,...,33.777557,1.154613,0.300159,2.700373,2.965150,1.682338,2.329105,0.933435,0.501834,14.805258
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,...,21.693166,0.046097,0.326066,0.000000,14.222027,19.297038,0.154573,0.077524,6.463668,0.000000
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,...,23.253699,1.677153,0.124656,0.092965,0.685992,0.407168,2.070453,0.874614,23.660614,3.534199
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,...,11643.282120,1.039655,0.163861,0.128391,0.545284,1.670974,0.456183,0.909198,1.092567,0.422312

In [112]:
final.to_excel('standard_incidence_ratio_dengue.xls')