In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
from datetime import datetime, timedelta
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline
sns.set()
from PIL import Image

# Dengue dataset:

The dataset is just the filtered confirmed cases, using spark, of the original dataset (see SINAN_extracao_dengue)

In [2]:
df = pd.read_csv('dengue_conf.csv',
                 low_memory = False, encoding="iso-8859-1")

In [3]:
df.columns

Index(['tp_not', 'id_agravo', 'year_sin_pri', 'month_sin_pri', 'dt_notific',
       'sem_not', 'dt_sin_pri', 'sem_pri', 'classi_fin', 'criterio',
       'sg_uf_not', 'id_municip', 'cs_sexo', 'cs_gestant', 'cs_raca',
       'cs_escol_n', 'codmunres', 'dt_nasc', 'nu_idade_n', 'comuninf',
       'count'],
      dtype='object')

# Observe that the variable 'year_sin_pri' has several missprint.

In [4]:
df.year_sin_pri.value_counts()

2015.0    1384175
2013.0    1175508
2010.0     864337
2011.0     596892
2016.0     474499
2014.0     474406
2012.0     405569
2017.0     166367
2018.0     144420
2009.0       7399
2001.0        434
1996.0        273
1994.0        264
1997.0        263
1993.0        255
1995.0        252
1989.0        248
1992.0        246
1982.0        245
1981.0        242
1991.0        238
1998.0        235
1983.0        233
1990.0        225
1978.0        225
1980.0        223
1986.0        222
1987.0        219
1988.0        216
1985.0        212
           ...
1935.0         19
1937.0         17
1934.0         14
1931.0         13
1936.0         11
1932.0         11
1929.0          8
1933.0          7
1928.0          6
1930.0          5
1921.0          3
1925.0          3
1201.0          2
1923.0          2
1924.0          2
1926.0          2
1927.0          2
201.0           2
1922.0          1
1920.0          1
1918.0          1
1917.0          1
1915.0          1
1912.0          1
1911.0          1
1018.0          1
1016.0          1
1015.0          1
218.0           1
215.0           1
Name: year_sin_pri, Length: 111, dtype: int64

## We will create year and month from  variable 'dt_notific' in order to use in our work. (see dengue_case_file for the problematic relating to the variable tp extract the week)

In [5]:
df['Mycol'] =  df['dt_notific'].apply(pd.to_datetime)

In [6]:
df['year'] = pd.DatetimeIndex(df['Mycol']).year
df['month'] = pd.DatetimeIndex(df['Mycol']).month

In [7]:
df.year.value_counts()

2015    1385166
2013    1183153
2010     867811
2011     599758
2016     478547
2014     474849
2012     401390
2017     167453
2018     146306
Name: year, dtype: int64

# construct the dataset of dengue with the desired variables

In [8]:
data = df.filter(['codmunres','year','cs_sexo','nu_idade_n'])

## Process to clean age group and padronize following the age category given in population from IBGE

In [9]:
#data.nu_idade_n.unique()

In [10]:
vector =[]
for value in data.nu_idade_n.astype(str):
    if value == '1': value = 2001
    elif value == '2': value = 2001
    elif value == '3': value = 3001
    elif 4<= int(value) < 10: value = '400'+value
    elif len(value) == 2: value = '40' + value
    vector.extend([value])

In [11]:
#vector

In [12]:
data['nu_idade_n_cor'] = vector

In [13]:
data.columns

Index(['codmunres', 'year', 'cs_sexo', 'nu_idade_n', 'nu_idade_n_cor'], dtype='object')

In [ ]:
#data[data['nu_idade_n']==80]

In [ ]:
# Categorize age group
# 0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
#       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
#       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],

In [14]:
fx = []
for value in data.nu_idade_n_cor:
    if 1000 <= int(value) <4005: faixa = '4' 
    elif 4005 <=int(value)< 4010: faixa = '509'
    elif 4010 <=int(value)< 4015: faixa = '1014'
    elif 4015 <=int(value)< 4020: faixa = '1519'
    elif 4020 <=int(value)< 4025: faixa = '2024'
    elif 4025 <=int(value)< 4030: faixa = '2529'
    elif 4030 <=int(value)< 4035: faixa = '3034'
    elif 4035 <=int(value)< 4040: faixa = '3539' 
    elif 4040 <=int(value)< 4045: faixa = '4044'   
    elif 4045 <=int(value)< 4050: faixa = '4549'
    elif 4050 <=int(value)< 4055: faixa = '5054'
    elif 4055 <=int(value)< 4060: faixa = '5559'
    elif 4060 <=int(value)< 4065: faixa = '6064'
    elif 4065 <=int(value)< 4070: faixa = '6569'
    elif 4070 <=int(value)< 4075: faixa = '7074'
    elif 4075 <=int(value)< 4080: faixa = '7579'
    elif 4080 <=int(value)< 8100: faixa = '8099'
    fx.extend([faixa])

In [15]:
data['faixa'] = fx
data

         codmunres  year cs_sexo  nu_idade_n nu_idade_n_cor faixa
0         510340.0  2010       M        4014           4014  1014
1         350280.0  2010       F        4039           4039  3539
2         292740.0  2010       M        4036           4036  3539
3         110018.0  2010       F        4029           4029  2529
4         510704.0  2010       M        4029           4029  2529
5         510704.0  2010       M        4043           4043  4044
6         500370.0  2010       M        4042           4042  4044
7         130170.0  2010       F        4042           4042  4044
8         130170.0  2010       M        4052           4052  5054
9         510795.0  2010       F        4023           4023  2024
10        110030.0  2010       M        4026           4026  2529
11        315120.0  2010       M        4051           4051  5054
12        315120.0  2010       F        4013           4013  1014
13        172100.0  2010       M        4015           4015  1519
14        291980.0  2010       F        4066           4066  6569
15        290530.0  2010       M        4023           4023  2024
16        310740.0  2010       F        4081           4081  8099
17        530010.0  2010       F        4036           4036  3539
18        110030.0  2010       F        4011           4011  1014
19        110020.0  2010       M        4032           4032  3034
20        171820.0  2010       F        4024           4024  2024
21        521770.0  2010       F        4023           4023  2024
22        520640.0  2010       M        4070           4070  7074
23        171820.0  2010       F        4008           4008   509
24        510320.0  2010       M        4045           4045  4549
25        110011.0  2010       F        4024           4024  2024
26        510500.0  2010       M        4006           4006   509
27        510500.0  2010       M        4026           4026  2529
28        510410.0  2010       F        4031           4031  3034
29        510410.0  2010       F        4021           4021  2024
...            ...   ...     ...         ...            ...   ...
5704403   354990.0  2018       F        4009           4009   509
5704404   353130.0  2018       M        4059           4059  5559
5704405   352470.0  2018       M        4008           4008   509
5704406   350320.0  2018       F        4047           4047  4549
5704407   354980.0  2018       F        4030           4030  3034
5704408   353030.0  2018       M        4049           4049  4549
5704409   354800.0  2018       M        4020           4020  2024
5704410   353730.0  2018       F        4022           4022  2024
5704411   350320.0  2018       M        4048           4048  4549
5704412   354980.0  2018       F        4038           4038  3539
5704413   354060.0  2018       M        4026           4026  2529
5704414   354980.0  2018       F        4025           4025  2529
5704415   353030.0  2018       F        4056           4056  5559
5704416   351880.0  2018       F        4023           4023  2024
5704417   350210.0  2018       M        4044           4044  4044
5704418   354800.0  2018       F        4045           4045  4549
5704419   355710.0  2018       M        4069           4069  6569
5704420   355710.0  2018       M        4010           4010  1014
5704421   353950.0  2018       F        4017           4017  1519
5704422   350320.0  2018       F        4035           4035  3539
5704423   354800.0  2018       F        4054           4054  5054
5704424   353625.0  2018       F        4028           4028  2529
5704425   350610.0  2018       M        4068           4068  6569
5704426   355410.0  2018       F        4053           4053  5054
5704427   350210.0  2018       M        4034           4034  3034
5704428   350320.0  2018       M        4014           4014  1014
5704429   170210.0  2018       F        4003           4003     4
5704430   171610.0  2018       M        4056           4056  5559
5704431   171870.0  2018       F        4029           4029  2529
5704432   172100.0  2018       F        4025           4025  2529

[5704433 rows x 6 columns]

In [16]:
data.cs_sexo.value_counts()

F    3179812
M    2517543
I       6884
Name: cs_sexo, dtype: int64

In [17]:
data['count'] = 1

In [18]:
dados = data.groupby(['codmunres','year','cs_sexo','faixa'])['count'].sum().reset_index()

In [19]:
dados.cs_sexo = dados.cs_sexo.replace('F', 1)
dados.cs_sexo= dados.cs_sexo.replace('M', 2)

In [20]:
dados.head()

   codmunres  year cs_sexo faixa  count
0   110000.0  2015       1     4      1
1   110001.0  2010       1  1014      2
2   110001.0  2010       1  2024      1
3   110001.0  2010       1  3539      1
4   110001.0  2010       1  4549      1

In [21]:
dados.groupby(['year'])['count'].sum()

year
2010     867767
2011     599678
2012     401330
2013    1183011
2014     474775
2015    1384995
2016     478529
2017     167449
2018     146305
Name: count, dtype: int64

In [23]:
df.year.value_counts()

2015    1385166
2013    1183153
2010     867811
2011     599758
2016     478547
2014     474849
2012     401390
2017     167453
2018     146306
Name: year, dtype: int64

In [22]:
df.year_sin_pri.value_counts()

2015.0    1384175
2013.0    1175508
2010.0     864337
2011.0     596892
2016.0     474499
2014.0     474406
2012.0     405569
2017.0     166367
2018.0     144420
2009.0       7399
2001.0        434
1996.0        273
1994.0        264
1997.0        263
1993.0        255
1995.0        252
1989.0        248
1992.0        246
1982.0        245
1981.0        242
1991.0        238
1998.0        235
1983.0        233
1990.0        225
1978.0        225
1980.0        223
1986.0        222
1987.0        219
1988.0        216
1985.0        212
           ...
1935.0         19
1937.0         17
1934.0         14
1931.0         13
1936.0         11
1932.0         11
1929.0          8
1933.0          7
1928.0          6
1930.0          5
1921.0          3
1925.0          3
1201.0          2
1923.0          2
1924.0          2
1926.0          2
1927.0          2
201.0           2
1922.0          1
1920.0          1
1918.0          1
1917.0          1
1915.0          1
1912.0          1
1911.0          1
1018.0          1
1016.0          1
1015.0          1
218.0           1
215.0           1
Name: year_sin_pri, Length: 111, dtype: int64

# Population

In [5]:
#pop = pd.read_csv('G:\Datalake\POPULACAO\csv\POPBR12.csv')                #'G:\Datalake\POPULACAO\pop_race_sex_age.csv')

In [29]:
pop = pd.read_csv('G:\Datalake\POPULACAO\estimativas_pop_sex_age_muni_cidacs\pop_2000_2017_SFA.csv')
pop = pop.drop(columns=['Unnamed: 0'])

In [30]:
pop.columns

Index(['MUNIC_RES', 'ANO', 'SEXO', 'FXETARIA', 'POPULACAO'], dtype='object')

In [31]:
pop.FXETARIA.unique()

array([   0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],
      dtype=int64)

In [32]:
pop = pop.replace({'FXETARIA': {0: 4, 101:4, 202:4,  303:4,  404:4,
                                505: 509, 606: 509,  707: 509,  808: 509,  909: 509,
                                1010: 1014, 1111: 1014, 1212: 1014, 1313: 1014, 1414: 1014,
                                1515: 1519, 1616: 1519, 1717: 1519, 1818: 1519, 1919: 1519}})

In [33]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

# Creating tables to map the standard incidence ratio of dengue per year

## expected number of cases per year and cummulated

In [34]:
teste = dados

In [35]:
teste = teste[(2010 <= teste.year) & (teste.year <= 2018) & (teste.cs_sexo != 'I')]

In [36]:
teste.cs_sexo.unique()

array([1, 2], dtype=object)

In [37]:
teste.year.unique()

array([2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016], dtype=int64)

In [51]:
teste['faixa'] = teste['faixa'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372306 entries, 0 to 374593
Data columns (total 5 columns):
codmunres    372306 non-null float64
year         372306 non-null int64
cs_sexo      372306 non-null object
faixa        372306 non-null int32
count        372306 non-null int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 15.6+ MB

In [50]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372306 entries, 0 to 374593
Data columns (total 5 columns):
codmunres    372306 non-null float64
year         372306 non-null int64
cs_sexo      372306 non-null object
faixa        372306 non-null object
count        372306 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 17.0+ MB

In [53]:
sum_observed_gender_age_year = []
for year in [2010,2011,2012,2013,2014,2015,2016,2017,2018]:
    df_year = teste[teste.year == year]
    table_year = pd.pivot_table(df_year, values='count', index=['codmunres'], columns=['cs_sexo','faixa'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_observed_gender_age_year.append(resulted_dataframe)

In [55]:
sum_observed_gender_age_year[0]

    cs_sexo  faixa        0
0         1      4  18141.0
1         1    509  25156.0
2         1   1014  38691.0
3         1   1519  46812.0
4         1   2024  49955.0
5         1   2529  49909.0
6         1   3034  46592.0
7         1   3539  41002.0
8         1   4044  37779.0
9         1   4549  34122.0
10        1   5054  28552.0
11        1   5559  22444.0
12        1   6064  15928.0
13        1   6569  11101.0
14        1   7074   7938.0
15        1   7579   4618.0
16        1   8099   3571.0
17        2      4  18381.0
18        2    509  24986.0
19        2   1014  39323.0
20        2   1519  42275.0
21        2   2024  42933.0
22        2   2529  39662.0
23        2   3034  34767.0
24        2   3539  29388.0
25        2   4044  26583.0
26        2   4549  22987.0
27        2   5054  18838.0
28        2   5559  15262.0
29        2   6064  10601.0
30        2   6569   7665.0
31        2   7074   5668.0
32        2   7579   3373.0
33        2   8099   2648.0

In [41]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

# Population

In [42]:
pop = pop.astype(int)

In [43]:
teste_pop = pop.groupby(['MUNIC_RES','ANO','SEXO','FXETARIA'])['POPULACAO'].sum().reset_index()
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4       1496
1     110001  2000     1       509       1677
2     110001  2000     1      1014       1570
3     110001  2000     1      1519       1522
4     110001  2000     1      2024       1292

In [44]:
sum_pop_gender_age_year = []
for year in [2010,2011,2012,2013,2014,2015,2016,2017,2018]:
    df_year = teste_pop[teste_pop.ANO == year]
    table_year = pd.pivot_table(df_year, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_pop_gender_age_year.append(resulted_dataframe)

In [45]:
sum_pop_gender_age_year[0].head()

   SEXO  FXETARIA        0
0     1         4  7016987
1     1       509  7624144
2     1      1014  8725413
3     1      1519  8558868
4     1      2024  8630227

In [31]:
#table_pop = pd.pivot_table(teste_pop, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#table_pop

In [32]:
#sum_pop_gender_age_year = table_pop.sum().reset_index()

In [33]:
#sum_pop_gender_age_year.columns

In [34]:
#sum_pop_gender_age_year.rename(columns={0:'pop'}, 
#                 inplace=True)

In [35]:
#sum_pop_gender_age_year.head()

In [36]:
#sum_pop_gender_age_year['pop']

In [46]:
sum_pop_gender_age_year[0]

    SEXO  FXETARIA        0
0      1         4  7016987
1      1       509  7624144
2      1      1014  8725413
3      1      1519  8558868
4      1      2024  8630227
5      1      2529  8460995
6      1      3034  7717657
7      1      3539  6766665
8      1      4044  6320570
9      1      4549  5692013
10     1      5054  4834995
11     1      5559  3902344
12     1      6064  3041034
13     1      6569  2224065
14     1      7074  1667373
15     1      7579  1090518
16     1      8099  1133122
17     2         4  6779172
18     2       509  7345231
19     2      1014  8441348
20     2      1519  8432002
21     2      2024  8614963
22     2      2529  8643418
23     2      3034  8026855
24     2      3539  7121916
25     2      4044  6688797
26     2      4549  6141338
27     2      5054  5305407
28     2      5559  4373875
29     2      6064  3468085
30     2      6569  2616745
31     2      7074  2074264
32     2      7579  1472930
33     2      8099  1802463

# calculating r_ j (for each year)

In [86]:
#r_j = []
#for df in sum_observed_gender_age_year:
#    risco_relativo = df[0]/sum_pop_gender_age_year['pop']
#    r_j.append(risco_relativo)

In [56]:
r_j = []
for df1,df2 in zip(sum_observed_gender_age_year,sum_pop_gender_age_year):
    #df2.rename(columns={0:'pop'}, inplace=True)
    risco_relativo = df1[0]/df2[0]
    r_j.append(risco_relativo)

In [57]:
r_j[3]

0     0.002623
1     0.003232
2     0.005307
3     0.008151
4     0.008870
5     0.008180
6     0.008072
7     0.008110
8     0.008218
9     0.007950
10    0.007491
11    0.007041
12    0.006015
13    0.005487
14    0.004770
15    0.003775
16    0.002575
17    0.002613
18    0.003163
19    0.005261
20    0.007018
21    0.007156
22    0.006106
23    0.005608
24    0.005385
25    0.005344
26    0.004998
27    0.004482
28    0.004213
29    0.003835
30    0.003656
31    0.003270
32    0.002767
33    0.001925
Name: 0, dtype: float64

# calculating E_i for each municipality

In [58]:
table_pop = pd.pivot_table(teste_pop, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
table_pop

SEXO                   1                                               \
FXETARIA            4              509            1014           1519
MUNIC_RES
110001       1215.555556    1302.222222    1328.277778    1353.944444
110002       4295.444444    4377.611111    4564.666667    4488.055556
110003        293.888889     315.055556     351.833333     344.500000
110004       3455.055556    3532.166667    3831.888889    3970.111111
110005        743.666667     787.555556     870.333333     863.111111
110006        798.500000     841.222222     936.222222     960.555556
110007        425.222222     470.444444     522.444444     500.500000
110008        758.555556     754.777778     757.055556     689.888889
110009       1360.333333    1349.888889    1442.388889    1419.777778
110010       2292.222222    2323.388889    2311.166667    2184.444444
110011       2505.388889    2638.444444    2810.055556    2851.888889
110012       5187.611111    5351.666667    5598.555556    5816.333333
110013       1532.944444    1595.055556    1660.888889    1627.000000
110014        855.166667     956.500000     961.500000    1021.888889
110015       1774.388889    1819.833333    1949.833333    1989.944444
110018       1447.277778    1478.111111    1606.944444    1620.500000
110020      20020.777778   19484.166667   20715.888889   20759.444444
110025        988.333333    1106.333333    1202.055556    1246.333333
110026        136.444444     152.222222     163.833333     162.500000
110028       2270.222222    2388.388889    2499.833333    2517.333333
110029        436.666667     466.666667     516.666667     524.111111
110030       3303.722222    3371.722222    3546.555556    3554.722222
110032       1296.111111    1362.888889    1363.444444    1363.277778
110033       1102.388889    1186.611111    1224.111111    1167.666667
110034        867.166667     908.500000     929.444444     943.277778
110037        706.888889     777.000000     729.500000     726.111111
110040        795.833333     890.444444     940.111111     907.444444
110045       1869.888889    1923.777778    1919.055556    1932.055556
110050        509.277778     552.444444     597.277778     613.500000
110060        264.000000     285.666667     300.000000     291.888889
...                  ...            ...            ...            ...
522010        982.166667    1057.888889    1184.888889    1291.555556
522015        181.611111     192.555556     212.388889     210.388889
522020        937.833333     996.611111    1113.500000    1089.055556
522026        137.666667     153.888889     173.666667     171.833333
522028         64.166667      70.166667      73.333333      78.222222
522040        605.833333     639.444444     677.611111     718.888889
522045       4153.055556    3791.222222    3987.666667    3951.833333
522050        268.111111     279.277778     300.000000     301.500000
522060        765.944444     774.888889     858.000000     866.777778
522068        323.666667     335.277778     370.111111     348.166667
522070        114.722222     135.055556     161.777778     172.500000
522100        103.111111     121.666667     135.388889     150.777778
522108        165.666667     168.777778     184.888889     170.944444
522119        301.555556     296.666667     304.555556     301.888889
522130         97.944444     106.722222     123.722222     123.388889
522140       4455.666667    4479.944444    4759.277778    4900.500000
522145        135.277778     137.277778     158.555556     155.611111
522150        166.055556     186.833333     204.222222     201.222222
522155        197.111111     200.000000     201.222222     199.166667
522157        116.000000     139.666667     147.000000     143.000000
522160       1405.944444    1498.833333    1661.722222    1639.611111
522170        509.444444     531.777778     599.277778     599.333333
522180         99.500000     120.722222     125.055556     136.888889
522185       6526.333333    6163.000000    6221.000000    6202.111111
522190        134.833333     146.666667     144.777778     157.833333
522200        538.333333     538.055556     569.166667     576.055556
522205        288.111111     301.888889     300.222222     319.722222
522220        219.555556     230.055556     224.388889     214.500000
522230        212.333333     242.111111     264.833333     241.166667
530010     106350.333333  103601.388889  108832.333333  116362.722222

SEXO                                                                   \
FXETARIA            2024           2529           3034           3539
MUNIC_RES
110001       1192.555556    1107.722222    1020.222222     959.833333
110002       4179.444444    3960.666667    3703.611111    3284.500000
110003        298.777778     282.111111     258.611111     237.111111
110004       3691.111111    3422.888889    3215.611111    2946.944444
110005        797.500000     687.500000     671.222222     614.000000
110006        853.277778     771.166667     707.388889     659.055556
110007        445.444444     390.777778     377.055556     368.222222
110008        596.166667     545.388889     497.722222     441.777778
110009       1375.833333    1284.833333    1206.000000    1090.555556
110010       1951.555556    1723.500000    1596.666667    1394.222222
110011       2670.277778    2426.111111    2267.277778    1976.111111
110012       5500.055556    5153.833333    4862.222222    4404.111111
110013       1465.166667    1310.111111    1218.833333    1005.111111
110014        942.388889     834.444444     767.166667     695.444444
110015       1872.888889    1675.500000    1567.944444    1414.111111
110018       1572.777778    1415.000000    1353.166667    1196.333333
110020      20095.222222   18776.000000   17375.277778   15024.166667
110025       1104.888889     959.611111     888.111111     804.222222
110026        159.111111     149.166667     133.944444     121.055556
110028       2381.111111    2275.277778    2106.388889    1907.888889
110029        466.555556     412.444444     385.388889     367.888889
110030       3356.000000    3329.333333    3106.777778    2722.388889
110032       1220.500000    1091.666667    1013.722222     892.000000
110033       1086.277778     957.333333     925.500000     796.611111
110034        863.000000     756.166667     707.277778     642.500000
110037        653.222222     587.055556     558.944444     494.555556
110040        761.666667     746.944444     690.333333     655.833333
110045       1754.500000    1629.888889    1576.444444    1353.333333
110050        535.111111     457.055556     437.722222     411.333333
110060        250.888889     246.722222     236.500000     213.611111
...                  ...            ...            ...            ...
522010       1197.333333    1134.777778    1128.277778    1092.333333
522015        205.666667     186.777778     191.000000     175.111111
522020       1015.722222    1007.388889     976.833333     901.777778
522026        159.277778     168.777778     160.611111     157.333333
522028         70.388889      78.722222      74.944444      79.722222
522040        699.277778     652.611111     647.111111     640.444444
522045       3899.166667    3803.111111    3643.500000    3129.444444
522050        307.722222     304.277778     294.222222     269.555556
522060        881.777778     778.888889     823.833333     753.833333
522068        293.555556     293.222222     249.333333     223.277778
522070        133.888889     119.388889     100.111111      97.333333
522100        130.166667     128.944444     128.666667     128.555556
522108        151.777778     116.555556      96.666667      78.833333
522119        300.555556     267.111111     278.722222     233.722222
522130        120.555556     108.888889     115.055556     110.500000
522140       4702.055556    4630.722222    4444.222222    4020.833333
522145        151.500000     119.833333     123.166667     118.111111
522150        198.000000     173.500000     190.277778     181.222222
522155        205.500000     199.944444     190.277778     170.777778
522157        108.944444     113.777778     112.333333     110.611111
522160       1524.777778    1391.444444    1362.055556    1290.055556
522170        599.555556     564.666667     557.000000     533.222222
522180        122.222222     101.333333     117.166667     109.333333
522185       6179.944444    6312.611111    6175.444444    5103.722222
522190        129.000000     133.333333     132.333333     140.222222
522200        571.055556     541.277778     556.611111     513.166667
522205        323.444444     316.944444     294.222222     277.611111
522220        199.333333     217.722222     178.500000     146.333333
522230        220.833333     187.222222     206.222222     173.222222
530010     118290.888889  117489.388889  115017.666667  102369.722222

SEXO                                       ...                   2  \
FXETARIA           4044          4549      ...                3539
MUNIC_RES                                  ...
110001       854.222222    715.444444      ...          915.611111
110002      2918.444444   2346.000000      ...         3218.055556
110003       221.111111    200.555556      ...          216.666667
110004      2625.666667   2187.111111      ...         2954.222222
110005       567.388889    496.111111      ...          621.555556
110006       589.333333    508.333333      ...          658.000000
110007       305.833333    266.833333      ...          311.555556
110008       362.444444    297.833333      ...          393.055556
110009       915.277778    761.111111      ...         1017.166667
110010      1151.333333    946.111111      ...         1392.000000
110011      1700.000000   1379.444444      ...         1924.833333
110012      3754.833333   3178.166667      ...         4473.000000
110013       923.166667    809.611111      ...          926.444444
110014       596.111111    476.166667      ...          657.111111
110015      1213.111111   1066.500000      ...         1388.055556
110018      1059.166667    934.333333      ...         1234.833333
110020     12794.833333  10657.277778      ...        15314.722222
110025       738.444444    658.722222      ...          816.388889
110026       101.277778     92.555556      ...           96.055556
110028      1661.500000   1371.333333      ...         1910.500000
110029       329.500000    272.277778      ...          346.944444
110030      2389.722222   1995.388889      ...         2816.666667
110032       789.222222    619.444444      ...          796.444444
110033       650.000000    563.833333      ...          712.055556
110034       553.055556    471.944444      ...          599.333333
110037       420.055556    330.222222      ...          425.777778
110040       569.222222    460.111111      ...          579.777778
110045      1125.833333    895.222222      ...         1243.500000
110050       366.333333    303.611111      ...          364.055556
110060       193.166667    151.666667      ...          182.222222
...                 ...           ...      ...                 ...
522010      1007.666667    928.888889      ...         1158.055556
522015       145.055556    134.611111      ...          168.722222
522020       789.444444    687.555556      ...          859.111111
522026       146.055556    125.666667      ...          149.666667
522028        81.833333     70.666667      ...           80.222222
522040       565.166667    473.944444      ...          648.500000
522045      2588.666667   2139.277778      ...         3240.111111
522050       250.388889    213.333333      ...          249.555556
522060       672.111111    596.888889      ...          722.111111
522068       198.444444    166.944444      ...          220.277778
522070        90.388889     84.833333      ...           94.444444
522100       132.777778    126.833333      ...          137.222222
522108        76.666667     69.111111      ...           80.944444
522119       196.833333    169.777778      ...          252.833333
522130       116.055556    102.722222      ...          111.222222
522140      3449.166667   2912.666667      ...         4139.444444
522145       115.166667    114.500000      ...          113.388889
522150       194.777778    169.055556      ...          192.444444
522155       151.944444    125.388889      ...          163.555556
522157       103.444444     89.722222      ...          109.722222
522160      1172.333333   1062.500000      ...         1328.611111
522170       492.388889    443.277778      ...          532.111111
522180       109.222222    108.666667      ...          108.222222
522185      3975.944444   3122.777778      ...         5310.777778
522190       134.222222    121.722222      ...          131.944444
522200       455.388889    374.833333      ...          490.388889
522205       241.388889    211.222222      ...          254.055556
522220       120.944444    108.111111      ...          136.277778
522230       169.611111    166.722222      ...          154.777778
530010     85628.555556  70874.944444      ...       111346.055556

SEXO                                                               \
FXETARIA           4044          4549          5054          5559
MUNIC_RES
110001       738.222222    625.055556    474.111111    392.055556
110002      2769.500000   2223.777778   1667.000000   1280.055556
110003       199.444444    189.666667    156.944444    128.222222
110004      2623.833333   2133.777778   1696.555556   1333.611111
110005       554.666667    466.500000    381.388889    300.388889
110006       584.222222    506.111111    411.277778    376.666667
110007       251.500000    224.222222    180.500000    159.055556
110008       329.944444    253.277778    223.000000    166.388889
110009       856.833333    716.000000    597.611111    459.500000
110010      1155.666667    957.555556    758.222222    578.055556
110011      1625.833333   1313.833333   1024.000000    856.277778
110012      3779.833333   3128.944444   2465.055556   1891.722222
110013       830.055556    688.111111    563.944444    449.055556
110014       537.722222    445.333333    378.277778    309.944444
110015      1204.611111   1032.000000    802.500000    649.722222
110018      1067.277778    933.888889    720.666667    537.833333
110020     12856.722222  10545.277778   8050.666667   5956.500000
110025       709.500000    636.777778    546.944444    429.611111
110026        80.388889     73.166667     61.500000     51.222222
110028      1659.111111   1333.611111   1043.000000    853.166667
110029       305.500000    253.111111    185.277778    182.277778
110030      2402.666667   1997.833333   1580.333333   1171.722222
110032       667.611111    533.555556    416.000000    329.444444
110033       566.666667    493.222222    348.722222    297.222222
110034       510.166667    447.722222    349.722222    297.833333
110037       356.388889    273.111111    238.388889    183.111111
110040       500.000000    390.388889    322.000000    262.111111
110045       967.333333    784.166667    515.166667    362.388889
110050       323.000000    265.500000    212.722222    192.055556
110060       167.166667    137.500000    101.722222    103.111111
...                 ...           ...           ...           ...
522010      1069.444444    955.166667    801.555556    682.944444
522015       135.888889    138.000000    110.388889     84.722222
522020       780.222222    670.611111    550.388889    452.555556
522026       128.555556    104.055556    104.555556     82.333333
522028        71.888889     62.111111     57.722222     42.222222
522040       577.000000    464.500000    411.333333    337.777778
522045      2664.166667   2195.055556   1678.833333   1160.833333
522050       228.055556    192.055556    147.444444    140.500000
522060       643.055556    539.111111    468.777778    395.555556
522068       188.277778    167.333333    136.611111    112.333333
522070        82.444444     71.222222     66.444444     54.000000
522100       126.333333    118.333333    111.388889     90.388889
522108        78.500000     61.333333     50.111111     45.777778
522119       184.166667    184.444444    136.055556    112.666667
522130       109.388889     96.611111     82.722222     71.722222
522140      3677.055556   3026.611111   2577.388889   1926.444444
522145       111.333333    101.666667     88.944444     78.222222
522150       190.611111    145.666667    135.722222    128.555556
522155       133.111111    105.777778     89.500000     52.722222
522157        96.277778     93.222222     74.444444     65.277778
522160      1209.500000   1074.722222    903.722222    770.888889
522170       496.555556    454.944444    381.555556    328.444444
522180       110.888889     97.111111     86.055556     88.055556
522185      4165.500000   3269.000000   2423.555556   1689.444444
522190       135.666667    114.722222    113.333333     88.722222
522200       429.833333    355.111111    284.444444    236.722222
522205       233.333333    190.055556    140.611111    129.555556
522220       115.500000     87.555556     72.277778     62.666667
522230       144.500000    142.277778    106.333333    104.500000
530010     93335.666667  78221.222222  61920.555556  46737.055556

SEXO                                                               \
FXETARIA           6064          6569          7074          7579
MUNIC_RES
110001       290.888889    221.500000    153.000000     90.555556
110002       926.611111    664.388889    423.611111    272.888889
110003       108.444444     64.611111     52.166667     30.222222
110004       979.000000    726.944444    546.888889    348.055556
110005       248.111111    193.777778    128.944444     84.055556
110006       285.777778    212.277778    161.055556     97.333333
110007       103.944444     81.666667     46.166667     31.833333
110008       118.777778     90.333333     47.833333     29.777778
110009       341.944444    263.500000    167.055556    117.444444
110010       461.055556    341.722222    238.055556    162.333333
110011       629.500000    487.277778    327.222222    232.000000
110012      1376.833333   1014.333333    688.833333    495.555556
110013       294.277778    214.166667    129.555556     69.000000
110014       232.555556    170.333333    106.611111     67.833333
110015       482.388889    371.500000    287.444444    173.555556
110018       395.166667    307.444444    194.388889    140.444444
110020      4231.833333   2812.222222   1950.944444   1301.055556
110025       371.888889    241.111111    198.166667    112.833333
110026        43.000000     35.888889     22.777778     12.888889
110028       641.388889    486.222222    347.111111    225.611111
110029       122.166667     99.166667     66.333333     49.000000
110030       881.388889    608.111111    407.277778    264.222222
110032       236.500000    157.555556    107.777778     59.111111
110033       179.222222    126.055556     86.222222     43.000000
110034       204.111111    162.777778     97.833333     69.888889
110037       131.666667     90.944444     64.777778     31.888889
110040       174.444444    129.888889     77.666667     48.611111
110045       184.722222    141.111111     88.722222     38.222222
110050       127.722222    100.722222     59.666667     40.888889
110060        56.944444     44.444444     28.111111     17.277778
...                 ...           ...           ...           ...
522010       584.500000    428.388889    329.666667    225.166667
522015        68.777778     48.222222     36.722222     27.166667
522020       357.277778    262.000000    196.666667    132.777778
522026        51.944444     53.666667     26.500000     22.000000
522028        39.444444     29.500000     25.666667     14.722222
522040       291.666667    211.555556    171.444444    101.777778
522045       831.388889    625.611111    389.722222    273.666667

In [59]:
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4       1496
1     110001  2000     1       509       1677
2     110001  2000     1      1014       1570
3     110001  2000     1      1519       1522
4     110001  2000     1      2024       1292

# 2010

In [60]:
filter_2010 = teste_pop[teste_pop.ANO == 2010]

In [ ]:
P_2010 = pd.pivot_table(filter_2010, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2010;

In [62]:
E_2010 =[]
for i in range(len(P_2010)):
    E_i = sum(np.array(P_2010.iloc[i])*np.array(r_j[0]))
    E_2010.append([P_2010.index.values[i],E_i])

In [63]:
Expected_2010 = pd.DataFrame(E_2010,
                 columns=['codmunres', 'expected_2010'])

In [64]:
Expected_2010.head()

   codmunres  expected_2010
0     110001     112.564015
1     110002     416.513704
2     110003      28.952133
3     110004     361.927514
4     110005      78.174425

# 2011

In [66]:
filter_2011 = teste_pop[teste_pop.ANO == 2011]

In [ ]:
P_2011 = pd.pivot_table(filter_2011, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2011;

In [68]:
E_2011 =[]
for i in range(len(P_2011)):
    E_i = sum(np.array(P_2011.iloc[i])*np.array(r_j[1]))
    E_2011.append([P_2011.index.values[i],E_i])

In [69]:
Expected_2011 = pd.DataFrame(E_2011,
                 columns=['codmunres', 'expected_2011'])

In [70]:
Expected_2011.head()

   codmunres  expected_2011
0     110001      76.978418
1     110002     292.024837
2     110003      19.547296
3     110004     249.939200
4     110005      53.354860

# 2012

In [71]:
filter_2012 = teste_pop[teste_pop.ANO == 2012]

In [ ]:
P_2012 = pd.pivot_table(filter_2012, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2012;

In [73]:
E_2012 =[]
for i in range(len(P_2012)):
    E_i = sum(np.array(P_2012.iloc[i])*np.array(r_j[2]))
    E_2012.append([P_2012.index.values[i],E_i])

In [74]:
Expected_2012 = pd.DataFrame(E_2012,
                 columns=['codmunres', 'expected_2012'])

In [75]:
Expected_2012.head()

   codmunres  expected_2012
0     110001      50.685018
1     110002     196.030415
2     110003      12.753113
3     110004     167.052405
4     110005      35.209028

# 2013

In [76]:
filter_2013 = teste_pop[teste_pop.ANO == 2013]

In [ ]:
P_2013 = pd.pivot_table(filter_2013, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2013;

In [78]:
E_2013 =[]
for i in range(len(P_2013)):
    E_i = sum(np.array(P_2013.iloc[i])*np.array(r_j[3]))
    E_2013.append([P_2013.index.values[i],E_i])

In [79]:
Expected_2013 = pd.DataFrame(E_2013,
                 columns=['codmunres', 'expected_2013'])

In [80]:
Expected_2013.head()

   codmunres  expected_2013
0     110001     132.040242
1     110002     545.690146
2     110003      35.336098
3     110004     478.998675
4     110005      97.143271

# 2014

In [84]:
filter_2014 = teste_pop[teste_pop.ANO == 2014]

In [85]:
P_2014 = pd.pivot_table(filter_2014, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2014;

SEXO            1                                                         \
FXETARIA     4      509     1014    1519    2024    2529    3034    3539
MUNIC_RES
110001        880    892     979    1088     995     997     938     863
110002       3747   3971    4589    4687    4376    4349    4114    3537
110003        216    219     249     236     271     280     244     186
110004       2934   2777    3549    3791    3581    3565    3579    3172
110005        602    558     697     738     830     671     649     565
110006        643    591     711     754     798     715     679     581
110007        294    286     350     392     379     374     345     321
110008        665    692     790     647     649     593     577     475
110009       1198   1183    1388    1365    1370    1336    1445    1183
110010       2067   2178    2263    2152    1966    1851    1743    1482
110011       2118   2161    2455    2460    2347    2412    2520    2150
110012       4718   4663    5196    5716    5656    5567    5513    4835
110013       1379   1360    1646    1557    1373    1477    1384    1017
110014        673    808     880    1026     975     735     700     750
110015       1416   1356    1592    1657    1695    1549    1598    1297
110018       1203   1195    1347    1445    1488    1498    1510    1291
110020      19711  17913   21202   21532   20664   20644   19884   16663
110025        657    811     911     941     943     900     909     728
110026         85    101     141     121     171     101     110      89
110028       2047   1942    2274    2449    2355    2558    2298    2112
110029        281    266     325     376     354     355     367     324
110030       3467   3304    3869    4005    3604    4237    3854    3231
110032        854    902    1092    1154     979    1023     959     769
110033       1076   1251    1402    1252    1142    1154    1137     942
110034        557    633     692     790     767     626     704     598
110037        483    592     627     638     624     475     450     425
110040        680    824     990     909     633     770     759     722
110045       1446   1653    1821    1809    1584    1782    1899    1649
110050        331    326     445     469     400     360     398     350
110060        188    252     301     260     200     231     251     220
...           ...    ...     ...     ...     ...     ...     ...     ...
522010        920    881    1173    1345    1144    1150    1212    1117
522015        178    191     236     179     181     185     225     195
522020        690    733     985     885     866     962     973     841
522026        114    141     148     139     122     158     157     174
522028         36     50      66      77      59     104      82      86
522040        548    563     694     769     740     541     626     661
522045       4349   3891    4473    4619    4258    4602    4579    4038
522050        232    255     309     304     320     288     297     311
522060        613    631     865     775     699     648     753     800
522068        263    310     319     268     212     395     342     265
522070         74     92     138     116     120     146     131     115
522100         85     79     106     133     148     130     102     108
522108        144    126     178     142     181     151     111      79
522119        275    260     294     325     319     266     308     306
522130         92     66     105     124      94     102     116     109
522140       4188   3877    4992    5159    4559    5155    5543    5053
522145        102    106     149     123     154     115     145     113
522150        128    118     150     159     161     167     167     215
522155        190    181     182     181     206     218     192     170
522157         64    108     136      94      91     120     103     109
522160       1385   1319    1641    1536    1499    1427    1449    1271
522170        387    397     490     516     563     526     607     514
522180         62     96     122     115      96      81     115     101
522185       6255   6062    7182    7017    6325    6961    7718    6417
522190        130    107     131     133     128     125     132     154
522200        497    447     567     559     527     535     611     554
522205        287    273     298     303     326     268     247     239
522220        190    230     243     217     195     320     260     180
522230        165    240     251     222     236     221     267     166
530010     100045  99601  113845  120360  114055  127715  141288  134247

SEXO                       ...         2                                       \
FXETARIA     4044    4549  ...      3539    4044    4549   5054   5559   6064
MUNIC_RES                  ...
110001        711     690  ...       863     711     690    585    449    288
110002       3252    2763  ...      3537    3252    2763   2141   1681   1199
110003        184     202  ...       186     184     202    174    150    138
110004       2925    2629  ...      3172    2925    2629   2259   1891   1303
110005        534     520  ...       565     534     520    478    372    275
110006        553     493  ...       581     553     493    459    453    305
110007        280     263  ...       321     280     263    219    180    115
110008        418     328  ...       475     418     328    309    233    163
110009        959     877  ...      1183     959     877    806    632    466
110010       1276    1136  ...      1482    1276    1136    925    682    536
110011       1815    1520  ...      2150    1815    1520   1303   1139    776
110012       4115    3720  ...      4835    4115    3720   3226   2499   1767
110013        938     860  ...      1017     938     860    762    672    426
110014        633     484  ...       750     633     484    435    365    290
110015       1180    1171  ...      1297    1180    1171    950    755    527
110018       1153    1128  ...      1291    1153    1128    965    730    538
110020      14134   12828  ...     16663   14134   12828  10809   8484   6079
110025        654     644  ...       728     654     644    630    487    429
110026         81      78  ...        89      81      78     70     50     41
110028       1958    1604  ...      2112    1958    1604   1370   1169    826
110029        285     264  ...       324     285     264    222    225    117
110030       2867    2643  ...      3231    2867    2643   2231   1699   1304
110032        666     560  ...       769     666     560    454    361    239
110033        716     653  ...       942     716     653    484    421    259
110034        488     440  ...       598     488     440    387    357    221
110037        400     304  ...       425     400     304    255    173    119
110040        665     535  ...       722     665     535    447    338    206
110045       1274    1048  ...      1649    1274    1048    751    412    129
110050        305     281  ...       350     305     281    218    192    102
110060        201     157  ...       220     201     157    127    168     66
...           ...     ...  ...       ...     ...     ...    ...    ...    ...
522010       1083    1117  ...      1117    1083    1117    985    814    676
522015        153     177  ...       195     153     177    146    122     99
522020        842     764  ...       841     842     764    609    506    422
522026        151     124  ...       174     151     124    156    105     46
522028         90      89  ...        86      90      89     84     46     45
522040        626     508  ...       661     626     508    476    403    333
522045       3398    3221  ...      4038    3398    3221   2614   1637   1190
522050        318     277  ...       311     318     277    207    190    159
522060        697     634  ...       800     697     634    559    471    335
522068        242     226  ...       265     242     226    185    146    124
522070         88      91  ...       115      88      91    113     93     69
522100        125     135  ...       108     125     135    140    109     87
522108         93      67  ...        79      93      67     49     51     44
522119        206     251  ...       306     206     251    182    112    112
522130        131     134  ...       109     131     134    104     86     56
522140       4472    3878  ...      5053    4472    3878   3392   2548   2019
522145        133     145  ...       113     133     145    118     87     89
522150        215     155  ...       215     215     155    150    161    118
522155        134     127  ...       170     134     127    121     68     63
522157         99     115  ...       109      99     115     93     76     51
522160       1258    1255  ...      1271    1258    1255   1144    982    755
522170        493     518  ...       514     493     518    455    412    321
522180         91      80  ...       101      91      80     89    105     45
522185       4760    4049  ...      6417    4760    4049   3213   2318   1589
522190        166     127  ...       154     166     127    137    123    102
522200        493     451  ...       554     493     451    374    310    212
522205        244     200  ...       239     244     200    167    173     97
522220        160     128  ...       180     160     128    117     92     30
522230        155     201  ...       166     155     201    122    109     83
530010     117690  102485  ...    134247  117690  102485  81221  62682  52089

SEXO
FXETARIA    6569   7074   7579   8099
MUNIC_RES
110001       225    184    126    106
110002       848    551    371    341
110003        68     63     47     43
110004       902    697    480    510
110005       215    161    123    114
110006       210    195    132    119
110007       103     74     53     43
110008       122     59     45     68
110009       338    195    156    137
110010       394    266    182    217
110011       572    421    318    280
110012      1226    809    611    573
110013       341    206    108    125
110014       200    132     95     85
110015       414    345    199    197
110018       397    242    197    183
110020      3702   2521   1758   1763
110025       255    225    147    155
110026        48     35     23     20
110028       595    444    316    297
110029        91     87     67     54
110030       797    545    427    366
110032       166    136     80     49
110033       169    118     50     63
110034       150    102     90     75
110037       102     80     38     33
110040       165    112     70     46
110045        69     38     12     18
110050        90     66     47     32
110060        45     40     25     20
...          ...    ...    ...    ...
522010       476    400    311    321
522015        59     42     39     43
522020       307    230    168    150
522026        60     34     27     25
522028        46     41     19     16
522040       244    189    124    151
522045       855    477    372    402
522050       126    129     82     51
522060       274    251    156    139
522068        79     83     49     51
522070        34     27     26     30
522100        79     54     33     57
522108        25     22     22     17
522119        60     69     33     24
522130        50     27     17     19
522140      1298    771    682    732
522145        55     57     41     31
522150        96     82     59     61
522155        26     27     17     10
522157        52     42     14     20
522160       615    445    332    380
522170       217    170    131    117
522180        37     34     23     17
522185       902    678    463    452
522190        76     44     54     40
522200       162    155    100    125
522205        72     68     40     50
522220        57     24     29     33
522230        84     60     33     45
530010     34127  25414  16234  20373

[5559 rows x 34 columns]

In [87]:
E_2014 =[]
for i in range(len(P_2014)):
    E_i = sum(np.array(P_2014.iloc[i])*np.array(r_j[4]))
    E_2014.append([P_2014.index.values[i],E_i])

In [88]:
Expected_2014 = pd.DataFrame(E_2014,
                 columns=['codmunres', 'expected_2014'])

In [89]:
Expected_2014.head()

   codmunres  expected_2014
0     110001      51.618441
1     110002     219.136817
2     110003      13.846170
3     110004     191.326784
4     110005      38.055219

# 2015

In [90]:
filter_2015 = teste_pop[teste_pop.ANO == 2015]

In [91]:
P_2015 = pd.pivot_table(filter_2015, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2015;

In [92]:
E_2015 =[]
for i in range(len(P_2015)):
    E_i = sum(np.array(P_2015.iloc[i])*np.array(r_j[5]))
    E_2015.append([P_2015.index.values[i],E_i])

In [93]:
Expected_2015 = pd.DataFrame(E_2015,
                 columns=['codmunres', 'expected_2015'])

In [94]:
Expected_2015.head()

   codmunres  expected_2015
0     110001     147.478319
1     110002     655.686938
2     110003      38.039101
3     110004     551.716310
4     110005     110.586085

# 2016

In [95]:
filter_2016 = teste_pop[teste_pop.ANO == 2016]

In [96]:
P_2016 = pd.pivot_table(filter_2016, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2016;

In [97]:
E_2016 =[]
for i in range(len(P_2016)):
    E_i = sum(np.array(P_2016.iloc[i])*np.array(r_j[6]))
    E_2016.append([P_2016.index.values[i],E_i])

In [98]:
Expected_2016 = pd.DataFrame(E_2016,
                 columns=['codmunres', 'expected_2016'])

In [99]:
Expected_2016.head()

   codmunres  expected_2016
0     110001      49.679935
1     110002     228.595864
2     110003      12.657027
3     110004     190.085039
4     110005      37.437470

# 2017

In [100]:
filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [101]:
P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2017;

In [102]:
E_2017 =[]
for i in range(len(P_2017)):
    E_i = sum(np.array(P_2017.iloc[i])*np.array(r_j[7]))
    E_2017.append([P_2017.index.values[i],E_i])

In [103]:
Expected_2017 = pd.DataFrame(E_2017,
                 columns=['codmunres', 'expected_2017'])

In [104]:
Expected_2017.head()

   codmunres  expected_2017
0     110001      17.025525
1     110002      82.097493
2     110003       4.328885
3     110004      66.763122
4     110005      12.912315

# 2018

In [105]:
filter_2018 = teste_pop[teste_pop.ANO == 2018]

In [106]:
P_2018 = pd.pivot_table(filter_2018, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2018;

In [115]:
sum_observed_gender_age_year[8]

    cs_sexo  faixa       0
0         1      4  3657.0
1         1    509  4137.0
2         1   1014  5362.0
3         1   1519  7667.0
4         1   2024  8398.0
5         1   2529  7703.0
6         1   3034  7744.0
7         1   3539  7407.0
8         1   4044  6485.0
9         1   4549  5725.0
10        1   5054  5200.0
11        1   5559  4050.0
12        1   6064  3047.0
13        1   6569  2033.0
14        1   7074  1304.0
15        1   7579   788.0
16        1   8099   759.0
17        2      4  3620.0
18        2    509  4160.0
19        2   1014  5772.0
20        2   1519  6369.0
21        2   2024  7009.0
22        2   2529  6356.0
23        2   3034  5899.0
24        2   3539  5635.0
25        2   4044  4420.0
26        2   4549  3789.0
27        2   5054  3311.0
28        2   5559  2686.0
29        2   6064  2101.0
30        2   6569  1531.0
31        2   7074   921.0
32        2   7579   575.0
33        2   8099   598.0

In [119]:
r_j[8] =  sum_observed_gender_age_year[8][0]/sum_pop_gender_age_year[0][0]

In [120]:
E_2018 =[]
for i in range(len(P_2010)):
    E_i = sum(np.array(P_2010.iloc[i])*np.array(r_j[8]))
    E_2018.append([P_2010.index.values[i],E_i])

In [121]:
Expected_2018 = pd.DataFrame(E_2018,
                 columns=['codmunres', 'expected_2018'])

In [122]:
Expected_2018.head()

   codmunres  expected_2018
0     110001      18.895068
1     110002      69.753228
2     110003       4.884340
3     110004      60.773789
4     110005      13.143709

# Observed number of cases per municipality and year

In [123]:
observed = df.groupby(['codmunres','year'])['count'].sum().reset_index()
observed.head()

   codmunres  year  count
0   110000.0  2015      1
1   110001.0  2010     13
2   110001.0  2011      1
3   110001.0  2012      2
4   110001.0  2013    159

In [124]:
observed = observed[(2010 <= observed.year) & (observed.year <= 2018)]

In [125]:
observed = pd.pivot_table(observed, values='count', index=['codmunres'], columns=['year'])

In [126]:
observed = observed.fillna(0) 
observed.head()

year        2010  2011  2012   2013  2014  2015  2016  2017  2018
codmunres
110000.0     0.0   0.0   0.0    0.0   0.0   1.0   0.0   0.0   0.0
110001.0    13.0   1.0   2.0  159.0   5.0  10.0   0.0  10.0   3.0
110002.0   228.0  27.0   2.0   35.0  56.0  21.0   0.0  61.0   7.0
110003.0    61.0  13.0  42.0   35.0   3.0  92.0   0.0   5.0   3.0
110004.0   939.0  31.0  18.0  442.0  31.0  46.0   1.0  25.0  13.0

# calculate the standard incidence ratio

In [127]:
codigo_muni = pd.read_excel('G:\Datalake\POPULACAO\População\POP_python\DTB_BRASIL_MUNICIPIO.xls')

In [128]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [129]:
codigo_muni.columns

Index(['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município'],
      dtype='object')

In [130]:
codigo_muni.rename(columns={'Código Município Completo':'codmuni_full'}, 
                 inplace=True);

In [131]:
codigo_muni['codmuni'] = codigo_muni.codmuni_full.floordiv(10)

In [132]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,codmuni
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,110001
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,110037
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,110040
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,110034
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,110002

In [133]:
observed.columns

Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype='int64', name='year')

In [134]:
final = codigo_muni.set_index('codmuni').join(observed)

In [135]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,2011,2012,2013,2014,2015,2016,2017,2018
codmuni,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,1.0,2.0,159.0,5.0,10.0,0.0,10.0,3.0
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,0.0,5.0,113.0,4.0,9.0,0.0,6.0,2.0
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,35.0,36.0,57.0,18.0,3.0,0.0,22.0,4.0
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,276.0,84.0,515.0,13.0,34.0,0.0,6.0,1.0
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,27.0,2.0,35.0,56.0,21.0,0.0,61.0,7.0
110045,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,452,1100452,Buritis,647.0,82.0,27.0,105.0,89.0,149.0,0.0,117.0,85.0
110003,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,31,1100031,Cabixi,61.0,13.0,42.0,35.0,3.0,92.0,0.0,5.0,3.0
110060,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,601,1100601,Cacaulândia,3.0,0.0,1.0,0.0,7.0,12.0,0.0,0.0,0.0
110004,11,Rondônia,2,Leste Rondoniense,6,Cacoal,49,1100049,Cacoal,939.0,31.0,18.0,442.0,31.0,46.0,1.0,25.0,13.0
110070,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,700,1100700,Campo Novo de Rondônia,25.0,58.0,6.0,67.0,101.0,28.0,0.0,22.0,2.0
110080,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,809,1100809,Candeias do Jamari,144.0,6.0,6.0,32.0,3.0,40.0,0.0,15.0,7.0
110090,11,Rondônia,2,Leste Rondoniense,6,Cacoal,908,1100908,Castanheiras,0.0,0.0,0.0,7.0,0.0,0.0,0.0,1.0,0.0
110005,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,56,1100056,Cerejeiras,117.0,156.0,104.0,742.0,8.0,41.0,1.0,243.0,9.0
110092,11,Rondônia,2,Leste Rondoniense,7,Vilhena,924,1100924,Chupinguaia,6.0,2.0,20.0,6.0,2.0,43.0,0.0,0.0,0.0
110006,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,64,1100064,Colorado do Oeste,401.0,114.0,31.0,74.0,16.0,12.0,0.0,14.0,13.0
110007,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,72,1100072,Corumbiara,41.0,31.0,58.0,67.0,5.0,16.0,0.0,3.0,0.0
110008,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,80,1100080,Costa Marques,359.0,36.0,4.0,79.0,116.0,7.0,0.0,1.0,0.0
110094,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,940,1100940,Cujubim,92.0,2.0,1.0,3.0,1.0,0.0,0.0,40.0,2.0
110009,11,Rondônia,2,Leste Rondoniense,6,Cacoal,98,1100098,Espigão D'Oeste,567.0,62.0,54.0,62.0,6.0,274.0,1.0,113.0,21.0
110100,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1005,1101005,Governador Jorge Teixeira,66.0,1.0,2.0,41.0,2.0,0.0,0.0,2.0,1.0
110010,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,106,1100106,Guajará-Mirim,236.0,11.0,35.0,262.0,35.0,10.0,0.0,78.0,47.0
110110,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,1104,1101104,Itapuã do Oeste,216.0,6.0,5.0,25.0,20.0,5.0,0.0,9.0,2.0
110011,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,114,1100114,Jaru,711.0,18.0,3.0,137.0,50.0,10.0,0.0,87.0,1.0
110012,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,122,1100122,Ji-Paraná,102.0,22.0,5.0,25.0,149.0,13.0,0.0,61.0,26.0
110013,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,130,1100130,Machadinho D'Oeste,522.0,13.0,4.0,90.0,80.0,19.0,0.0,122.0,6.0
110120,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1203,1101203,Ministro Andreazza,36.0,2.0,6.0,112.0,1.0,64.0,0.0,5.0,0.0
110130,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1302,1101302,Mirante da Serra,4.0,0.0,1.0,8.0,1.0,0.0,0.0,7.0,0.0
110140,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1401,1101401,Monte Negro,232.0,76.0,1.0,11.0,4.0,13.0,0.0,27.0,1.0
110014,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,148,1100148,Nova Brasilândia D'Oeste,745.0,283.0,14.0,89.0,23.0,3.0,0.0,72.0,3.0
110033,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,338,1100338,Nova Mamoré,116.0,9.0,2.0,39.0,3.0,9.0,0.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522010,52,Goiás,3,Centro Goiano,9,Anicuns,20108,5220108,São Luís de Montes Belos,554.0,19.0,2.0,190.0,388.0,736.0,0.0,40.0,130.0
522015,52,Goiás,3,Centro Goiano,6,Ceres,20157,5220157,São Luiz do Norte,1.0,9.0,1.0,0.0,0.0,5.0,0.0,44.0,17.0
522020,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,20207,5220207,São Miguel do Araguaia,140.0,28.0,22.0,272.0,34.0,108.0,0.0,41.0,129.0
522026,52,Goiás,5,Sul Goiano,16,Pires do Rio,20264,5220264,São Miguel do Passa Quatro,18.0,4.0,1.0,10.0,10.0,70.0,0.0,3.0,4.0
522028,52,Goiás,3,Centro Goiano,6,Ceres,20280,5220280,São Patrício,1.0,0.0,1.0,6.0,2.0,18.0,0.0,0.0,0.0
522040,52,Goiás,5,Sul Goiano,18,Quirinópolis,20405,5220405,São Simão,432.0,12.0,10.0,863.0,100.0,639.0,6.0,301.0,1441.0
522045,52,Goiás,3,Centro Goiano,10,Goiânia,20454,5220454,Senador Canedo,918.0,260.0,124.0,2136.0,485.0,1550.0,7.0,601.0,3626.0
522050,52,Goiás,5,Sul Goiano,13,Sudoeste de Goiás,20504,5220504,Serranópolis,178.0,1.0,5.0,70.0,21.0,169.0,0.0,1.0,43.0
522060,52,Goiás,5,Sul Goiano,16,Pires do Rio,20603,5220603,Silvânia,40.0,4.0,4.0,109.0,102.0,27.0,0.0,5.0,39.0
522068,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20686,5220686,Simolândia,37.0,79.0,0.0,50.0,3.0,29.0,0.0,1.0,12.0
522070,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20702,5220702,Sítio d'Abadia,0.0,7.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0
522100,52,Goiás,3,Centro Goiano,7,Anápolis,21007,5221007,Taquaral de Goiás,7.0,16.0,0.0,7.0,42.0,88.0,0.0,3.0,1.0
522108,52,Goiás,2,Norte Goiano,5,Chapada dos Veadeiros,21080,5221080,Teresina de Goiás,9.0,1.0,0.0,0.0,37.0,13.0,0.0,2.0,0.0
522119,52,Goiás,3,Centro Goiano,10,Goiânia,21197,5221197,Terezópolis de Goiás,23.0,1.0,3.0,142.0,26.0,40.0,0.0,38.0,34.0
522130,52,Goiás,5,Sul Goiano,17,Catalão,21304,5221304,Três Ranchos,7.0,0.0,0.0,1.0,50.0,46.0,0.0,2.0,0.0
522140,52,Goiás,3,Centro Goiano,10,Goiânia,21403,5221403,Trindade,913.0,301.0,79.0,1973.0,479.0,741.0,2.0,924.0,1654.0
522145,52,Goiás,2,Norte Goiano,4,Porangatu,21452,5221452,Trombas,0.0,0.0,2.0,28.0,0.0,30.0,0.0,9.0,17.0
522150,52,Goiás,3,Centro Goiano,9,Anicuns,21502,5221502,Turvânia,32.0,0.0,15.0,69.0,45.0,158.0,0.0,18.0,34.0
522155,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21551,5221551,Turvelândia,10.0,0.0,1.0,48.0,0.0,7.0,0.0,58.0,10.0
522157,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,21577,5221577,Uirapuru,6.0,0.0,0.0,29.0,44.0,6.0,0.0,3.0,4.0
522160,52,Goiás,2,Norte Goiano,4,Porangatu,21601,5221601,Uruaçu,38.0,19.0,21.0,442.0,764.0,273.0,0.0,170.0,129.0
522170,52,Goiás,3,Centro Goiano,6,Ceres,21700,5221700,Uruana,337.0,16.0,23.0,77.0,113.0,112.0,0.0,32.0,50.0
522180,52,Goiás,5,Sul Goiano,16,Pires do Rio,21809,5221809,Urutaí,1.0,0.0,0.0,3.0,189.0,16.0,0.0,3.0,3.0
522185,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,21858,5221858,Valparaíso de Goiás,163.0,106.0,111.0,1418.0,1666.0,1722.0,13.0,425.0,18.0
522190,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21908,5221908,Varjão,3.0,29.0,6.0,20.0,2.0,24.0,0.0,9.0,120.0
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,37.0,8.0,28.0,111.0,86.0,0.0,36.0,13.0
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,7.0,43.0,114.0,26.0,113.0,0.0,3.0,85.0
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,5.0,0.0,409.0,225.0,5.0,0.0,26.0,0.0
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,2.0,1.0,21.0,5.0,73.0,0.0,99.0,14.0
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,1322.0,708.0,9197.0,11468.0,9099.0,10.0,2733.0,834.0

In [136]:
final = final.join(Expected_2018.set_index('codmunres')).join(Expected_2017.set_index('codmunres')).join(Expected_2016.set_index('codmunres')).join(Expected_2015.set_index('codmunres')).join(Expected_2014.set_index('codmunres')).join(Expected_2013.set_index('codmunres')).join(Expected_2012.set_index('codmunres')).join(Expected_2011.set_index('codmunres')).join(Expected_2010.set_index('codmunres'))

In [137]:
final.columns

Index([                     'UF',                 'Nome_UF',
        'Mesorregião Geográfica',        'Nome_Mesorregião',
       'Microrregião Geográfica',       'Nome_Microrregião',
                     'Município',            'codmuni_full',
                'Nome_Município',                      2010,
                            2011,                      2012,
                            2013,                      2014,
                            2015,                      2016,
                            2017,                      2018,
                 'expected_2018',           'expected_2017',
                 'expected_2016',           'expected_2015',
                 'expected_2014',           'expected_2013',
                 'expected_2012',           'expected_2011',
                 'expected_2010'],
      dtype='object')

In [138]:
final['SIR_2010'] = final[2010]/final['expected_2010']
final['SIR_2011'] = final[2011]/final['expected_2011']
final['SIR_2012'] = final[2012]/final['expected_2012']
final['SIR_2013'] = final[2013]/final['expected_2013']
final['SIR_2014'] = final[2014]/final['expected_2014']
final['SIR_2015'] = final[2015]/final['expected_2015']
final['SIR_2016'] = final[2016]/final['expected_2016']
final['SIR_2017'] = final[2017]/final['expected_2017']
final['SIR_2018'] = final[2018]/final['expected_2018']

In [139]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,...,expected_2010,SIR_2010,SIR_2011,SIR_2012,SIR_2013,SIR_2014,SIR_2015,SIR_2016,SIR_2017,SIR_2018
codmuni,,,,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,...,112.564015,0.115490,0.012991,0.039459,1.204178,0.096865,0.067807,0.000000,0.587353,0.158772
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,...,58.885687,0.458515,0.000000,0.185351,1.646931,0.146815,0.108388,0.000000,0.594375,0.202454
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,...,78.820556,0.418673,0.628958,0.965531,0.556536,0.434144,0.024753,0.000000,1.445491,0.302534
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,...,77.379905,0.904628,5.246621,2.447620,5.548233,0.358872,0.327245,0.000000,0.503185,0.076962
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,...,416.513704,0.547401,0.092458,0.010202,0.064139,0.255548,0.032027,0.000000,0.743019,0.100354
110045,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,452,1100452,Buritis,647.0,...,148.997613,4.342351,0.777942,0.382687,0.511251,1.071370,0.655986,0.000000,4.003843,3.408481
110003,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,31,1100031,Cabixi,61.0,...,28.952133,2.106926,0.665054,3.293314,0.990489,0.216666,2.418564,0.000000,1.155032,0.614208
110060,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,601,1100601,Cacaulândia,3.0,...,26.288220,0.114120,0.000000,0.082760,0.000000,0.544093,0.325449,0.000000,0.000000,0.000000
110004,11,Rondônia,2,Leste Rondoniense,6,Cacoal,49,1100049,Cacoal,939.0,...,361.927514,2.594442,0.124030,0.107751,0.922758,0.162026,0.083376,0.005261,0.374458,0.213908
110070,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,700,1100700,Campo Novo de Rondônia,25.0,...,58.317890,0.428685,1.417845,0.221376,1.030297,3.964985,0.381089,0.000000,2.514513,0.204626
110080,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,809,1100809,Candeias do Jamari,144.0,...,90.408883,1.592764,0.092663,0.137807,0.280773,0.064828,0.269950,0.000000,0.785799,0.462020
110090,11,Rondônia,2,Leste Rondoniense,6,Cacoal,908,1100908,Castanheiras,0.0,...,16.464154,0.000000,0.000000,0.000000,0.352653,0.000000,0.000000,0.000000,0.410413,0.000000
110005,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,56,1100056,Cerejeiras,117.0,...,78.174425,1.496653,2.923820,2.953788,7.638203,0.210221,0.370752,0.026711,18.819244,0.684738
110092,11,Rondônia,2,Leste Rondoniense,7,Vilhena,924,1100924,Chupinguaia,6.0,...,38.379421,0.156334,0.073031,1.078591,0.121297,0.097965,0.670047,0.000000,0.000000,0.000000
110006,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,64,1100064,Colorado do Oeste,401.0,...,85.138931,4.709949,1.983527,0.823555,0.734404,0.408206,0.104982,0.000000,1.080113,0.905894
110007,11,Rondônia,2,Leste Rondoniense,8,Colorado do Oeste,72,1100072,Corumbiara,41.0,...,40.865894,1.003282,1.120856,3.198490,1.367221,0.259719,0.307439,0.000000,0.506983,0.000000
110008,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,80,1100080,Costa Marques,359.0,...,62.287037,5.763639,0.802914,0.133305,1.009832,3.687549,0.077576,0.000000,0.089477,0.000000
110094,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,940,1100940,Cujubim,92.0,...,72.947081,1.261188,0.037503,0.027372,0.025933,0.020711,0.000000,0.000000,1.961650,0.163990
110009,11,Rondônia,2,Leste Rondoniense,6,Cacoal,98,1100098,Espigão D'Oeste,567.0,...,132.189283,4.289304,0.674389,0.878838,0.352126,0.085018,1.350590,0.014200,4.504467,0.945716
110100,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1005,1101005,Governador Jorge Teixeira,66.0,...,48.311821,1.366125,0.030640,0.095089,0.742166,0.092722,0.000000,0.000000,0.279508,0.123468
110010,11,Rondônia,1,Madeira-Guaporé,2,Guajará-Mirim,106,1100106,Guajará-Mirim,236.0,...,187.982422,1.255437,0.083035,0.401474,1.071452,0.356819,0.035465,0.000000,2.209817,1.492523
110110,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,1104,1101104,Itapuã do Oeste,216.0,...,39.074195,5.527945,0.216917,0.271649,0.495962,0.981840,0.083841,0.000000,1.214806,0.304923
110011,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,114,1100114,Jaru,711.0,...,238.891376,2.976248,0.109406,0.027572,0.434256,0.398844,0.028002,0.000000,2.015407,0.024972
110012,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,122,1100122,Ji-Paraná,102.0,...,535.887228,0.190339,0.059225,0.020129,0.035034,0.522616,0.015362,0.000000,0.589322,0.289012
110013,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,130,1100130,Machadinho D'Oeste,522.0,...,143.099274,3.647817,0.128014,0.058652,0.497712,1.098882,0.092016,0.000000,4.780585,0.250145
110120,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1203,1101203,Ministro Andreazza,36.0,...,47.466820,0.758425,0.061284,0.281002,1.905508,0.043240,0.962584,0.000000,0.642016,0.000000
110130,11,Rondônia,2,Leste Rondoniense,4,Ji-Paraná,1302,1101302,Mirante da Serra,4.0,...,54.274896,0.073699,0.000000,0.041117,0.119655,0.038182,0.000000,0.000000,0.795122,0.000000
110140,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1401,1101401,Monte Negro,232.0,...,64.466356,3.598776,1.683565,0.033478,0.147508,0.134119,0.139810,0.000000,2.371529,0.092572
110014,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,148,1100148,Nova Brasilândia D'Oeste,745.0,...,91.966217,8.100801,4.466841,0.332736,0.810454,0.526338,0.021562,0.000000,4.350473,0.194524
110033,11,Rondônia,1,Madeira-Guaporé,1,Porto Velho,338,1100338,Nova Mamoré,116.0,...,102.954140,1.126715,0.121740,0.040273,0.277690,0.052312,0.052940,0.000000,0.090498,0.174124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522010,52,Goiás,3,Centro Goiano,9,Anicuns,20108,5220108,São Luís de Montes Belos,554.0,...,137.335868,4.033906,0.202275,0.031630,1.073427,5.491172,3.397684,0.000000,1.558752,5.593716
522015,52,Goiás,3,Centro Goiano,6,Ceres,20157,5220157,São Luiz do Norte,1.0,...,21.134656,0.047316,0.615013,0.102201,0.000000,0.000000,0.153104,0.000000,11.193097,4.773461
522020,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,20207,5220207,São Miguel do Araguaia,140.0,...,102.443749,1.366604,0.401587,0.475077,2.101481,0.661864,0.728023,0.000000,2.328553,7.463422
522026,52,Goiás,5,Sul Goiano,16,Pires do Rio,20264,5220264,São Miguel do Passa Quatro,18.0,...,17.218250,1.045402,0.339672,0.127077,0.452143,1.135256,2.793194,0.000000,1.038078,1.367911
522028,52,Goiás,3,Centro Goiano,6,Ceres,20280,5220280,São Patrício,1.0,...,9.116925,0.109686,0.000000,0.243754,0.485049,0.405729,1.310700,0.000000,0.000000,0.000000
522040,52,Goiás,5,Sul Goiano,18,Quirinópolis,20405,5220405,São Simão,432.0,...,79.101627,5.461329,0.220006,0.269704,9.012045,2.610637,5.189278,0.140696,20.112545,107.946569
522045,52,Goiás,3,Centro Goiano,10,Goiânia,20454,5220454,Senador Canedo,918.0,...,388.214424,2.364673,0.939648,0.657489,3.812343,2.106175,2.231141,0.028302,6.606756,55.827859
522050,52,Goiás,5,Sul Goiano,13,Sudoeste de Goiás,20504,5220504,Serranópolis,178.0,...,34.573629,5.148433,0.041966,0.311670,1.561377,1.165229,3.388660,0.000000,0.166437,7.370420
522060,52,Goiás,5,Sul Goiano,16,Pires do Rio,20603,5220603,Silvânia,40.0,...,87.866226,0.455237,0.066461,0.099240,1.009425,2.355939,0.215811,0.000000,0.334823,2.628666
522068,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20686,5220686,Simolândia,37.0,...,29.509688,1.253826,3.838883,0.000000,1.208397,0.182410,0.670830,0.000000,0.193876,2.421811
522070,52,Goiás,4,Leste Goiano,11,Vão do Paranã,20702,5220702,Sítio d'Abadia,0.0,...,13.001804,0.000000,0.778083,0.000000,0.000000,0.000000,0.168431,0.000000,0.499671,0.000000
522100,52,Goiás,3,Centro Goiano,7,Anápolis,21007,5221007,Taquaral de Goiás,7.0,...,16.346071,0.428237,1.460926,0.000000,0.348806,5.260045,3.684489,0.000000,1.139910,0.360867
522108,52,Goiás,2,Norte Goiano,5,Chapada dos Veadeiros,21080,5221080,Teresina de Goiás,9.0,...,13.580466,0.662717,0.104016,0.000000,0.000000,5.302751,0.646160,0.000000,0.821182,0.000000
522119,52,Goiás,3,Centro Goiano,10,Goiânia,21197,5221197,Terezópolis de Goiás,23.0,...,29.962954,0.767615,0.047557,0.212062,3.574338,1.623495,0.828519,0.000000,6.386688,6.749333
522130,52,Goiás,5,Sul Goiano,17,Catalão,21304,5221304,Três Ranchos,7.0,...,12.959255,0.540155,0.000000,0.000000,0.058161,7.370332,2.530675,0.000000,0.977185,0.000000
522140,52,Goiás,3,Centro Goiano,10,Goiânia,21403,5221403,Trindade,913.0,...,478.660690,1.907405,0.901049,0.349984,2.901814,1.739626,0.924630,0.007139,9.268075,20.548095
522145,52,Goiás,2,Norte Goiano,4,Porangatu,21452,5221452,Trombas,0.0,...,15.697243,0.000000,0.000000,0.283847,1.364367,0.000000,1.333161,0.000000,3.475364,6.386643
522150,52,Goiás,3,Centro Goiano,9,Anicuns,21502,5221502,Turvânia,32.0,...,22.050637,1.451205,0.000000,1.530844,2.497863,4.102028,5.211027,0.000000,5.341020,9.059934
522155,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21551,5221551,Turvelândia,10.0,...,20.292056,0.492804,0.000000,0.104506,1.919140,0.000000,0.233248,0.000000,15.603897,2.930803
522157,52,Goiás,1,Noroeste Goiano,1,São Miguel do Araguaia,21577,5221577,Uirapuru,6.0,...,13.341878,0.449712,0.000000,0.000000,1.787879,6.802344,0.330808,0.000000,1.485457,1.769626
522160,52,Goiás,2,Norte Goiano,4,Porangatu,21601,5221601,Uruaçu,38.0,...,168.666480,0.225297,0.163718,0.270672,2.055880,8.863496,1.059497,0.000000,5.481740,4.530920
522170,52,Goiás,3,Centro Goiano,6,Ceres,21700,5221700,Uruana,337.0,...,63.284647,5.325146,0.373534,0.805387,0.950181,3.518556,1.249402,0.000000,3.103286,4.667624
522180,52,Goiás,5,Sul Goiano,16,Pires do Rio,21809,5221809,Urutaí,1.0,...,13.999946,0.071429,0.000000,0.000000,0.190663,30.855022,0.819958,0.000000,1.389298,1.262597
522185,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,21858,5221858,Valparaíso de Goiás,163.0,...,610.862407,0.266836,0.244656,0.377831,1.683672,4.882271,1.633275,0.034896,3.126194,0.176088
522190,52,Goiás,5,Sul Goiano,14,Vale do Rio dos Bois,21908,5221908,Varjão,3.0,...,16.663350,0.180036,2.566176,0.797233,0.906689,0.227479,0.983612,0.000000,3.198766,42.462248
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,...,57.557811,0.694953,0.933385,0.301019,0.360149,3.563935,0.957752,0.000000,3.296288,1.338651
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,...,34.211154,1.139979,0.295003,2.675617,2.920405,1.671061,2.297610,0.000000,0.498865,14.743698
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,...,21.980382,0.045495,0.320128,0.000000,13.999169,19.163175,0.152388,0.000000,6.424148,0.000000
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,...,23.543893,1.656480,0.122558,0.092141,0.675611,0.404451,2.043181,0.000000,23.523549,3.520019
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,...,11795.599714,1.026230,0.160983,0.127194,0.537115,1.660017,0.450030,0.001416,1.086101,0.420543

In [140]:
final.to_excel('standard_incidence_ratio_dengue.xls')

cs_sexo -> 'F'= 1
cs_sexo -> 'M'= 2

cs_raca -> 1- branca
           2- preta
           3- amarela
           4- parda
           5- indígena
           9 Ignorado
           
           
cor -> Branca- 1
        Preta- 2 
        Amarela- 3
        Parda- 4 
        Indigena- 5 
        Sem declaraçao- 9
                  
Sexo -> 'Mulheres' = 1
        'Homens' = 2 
       
Idade -> '0 a 4 anos': 4, 
         '5 a 9 anos': 509,
         '10 a 14 anos': 1014,
         '15 a 19 anos': 1519,
         '20 a 24 anos': 2024, 
         '25 a 29 anos': 2529, 
         '30 a 34 anos': 3034, 
         '35 a 39 anos': 3539,
         '40 a 44 anos': 4044, 
         '45 a 49 anos': 4549,
         '50 a 54 anos': 5054, 
         '55 a 59 anos': 5559,
         '60 a 64 anos': 6064, 
         '65 a 69 anos': 6569, 
         '70 a 74 anos': 7074, 
         '75 a 79 anos': 7579,
         '80 a 89 anos': 8099, 
         '90 a 99 anos': 8099

In [6]:
df['cs_raca'] = df['cs_raca'].astype(float).astype(int)

In [7]:
key = df.agg('{0[codmunres]}{0[cs_sexo]}{0[cs_raca]}{0[faixa]}'.format, axis=1)
df['key'] = key

In [8]:
df.head()

   codmunres  year cs_sexo  cs_raca  faixa  count           key
0     110000  2015       1        1      4      1     110000114
1     110001  2010       1        1   1014      2  110001111014
2     110001  2010       1        1   2024      1  110001112024
3     110001  2010       1        1   3539      1  110001113539
4     110001  2010       1        1   4549      1  110001114549

In [9]:
pop.head()

   Unnamed: 0   codmun                   mame_muni  cor  Sexo  Idade  Total
0           0  1100015  Alta Floresta D'Oeste (RO)    1     2      4    430
1           1  1100015  Alta Floresta D'Oeste (RO)    1     2    509    393
2           2  1100015  Alta Floresta D'Oeste (RO)    1     2   1014    484
3           3  1100015  Alta Floresta D'Oeste (RO)    1     2   1519    524
4           4  1100015  Alta Floresta D'Oeste (RO)    1     2   2024    462

In [10]:
pop['codmun'] = pop['codmun'].astype(str).str[:-1].astype(np.int64)
pop.head()

   Unnamed: 0  codmun                   mame_muni  cor  Sexo  Idade  Total
0           0  110001  Alta Floresta D'Oeste (RO)    1     2      4    430
1           1  110001  Alta Floresta D'Oeste (RO)    1     2    509    393
2           2  110001  Alta Floresta D'Oeste (RO)    1     2   1014    484
3           3  110001  Alta Floresta D'Oeste (RO)    1     2   1519    524
4           4  110001  Alta Floresta D'Oeste (RO)    1     2   2024    462

In [11]:
y = pop.agg('{0[codmun]}{0[Sexo]}{0[cor]}{0[Idade]}'.format, axis=1)

In [12]:
pop['key1'] = y

In [65]:
pop

,codmun,mame_muni,cor,Sexo,Idade,Total,key1
0,110001,Alta Floresta D'Oeste (RO),1,2,4,430,110001214
1,110001,Alta Floresta D'Oeste (RO),1,2,509,393,11000121509
2,110001,Alta Floresta D'Oeste (RO),1,2,1014,484,110001211014
3,110001,Alta Floresta D'Oeste (RO),1,2,1519,524,110001211519
4,110001,Alta Floresta D'Oeste (RO),1,2,2024,462,110001212024
5,110001,Alta Floresta D'Oeste (RO),1,2,2529,444,110001212529
6,110001,Alta Floresta D'Oeste (RO),1,2,3034,387,110001213034
7,110001,Alta Floresta D'Oeste (RO),1,2,3539,359,110001213539
8,110001,Alta Floresta D'Oeste (RO),1,2,4044,383,110001214044
9,110001,Alta Floresta D'Oeste (RO),1,2,4549,363,110001214549
10,110001,Alta Floresta D'Oeste (RO),1,2,5054,301,110001215054
11,110001,Alta Floresta D'Oeste (RO),1,2,5559,247,110001215559
12,110001,Alta Floresta D'Oeste (RO),1,2,6064,170,110001216064
13,110001,Alta Floresta D'Oeste (RO),1,2,6569,134,110001216569
14,110001,Alta Floresta D'Oeste (RO),1,2,7074,121,110001217074
15,110001,Alta Floresta D'Oeste (RO),1,2,7579,63,110001217579
16,110001,Alta Floresta D'Oeste (RO),1,2,8099,44,110001218099
17,110001,Alta Floresta D'Oeste (RO),1,2,8099,2,110001218099
18,110001,Alta Floresta D'Oeste (RO),1,1,4,446,110001114
19,110001,Alta Floresta D'Oeste (RO),1,1,509,414,11000111509
20,110001,Alta Floresta D'Oeste (RO),1,1,1014,427,110001111014
21,110001,Alta Floresta D'Oeste (RO),1,1,1519,503,110001111519
22,110001,Alta Floresta D'Oeste (RO),1,1,2024,445,110001112024
23,110001,Alta Floresta D'Oeste (RO),1,1,2529,444,110001112529
24,110001,Alta Floresta D'Oeste (RO),1,1,3034,362,110001113034
25,110001,Alta Floresta D'Oeste (RO),1,1,3539,369,110001113539
26,110001,Alta Floresta D'Oeste (RO),1,1,4044,366,110001114044
27,110001,Alta Floresta D'Oeste (RO),1,1,4549,342,110001114549
28,110001,Alta Floresta D'Oeste (RO),1,1,5054,234,110001115054
29,110001,Alta Floresta D'Oeste (RO),1,1,5559,203,110001115559
...,...,...,...,...,...,...,...
1202009,530010,BrasÃ­lia (DF),9,2,2529,9,530010292529
1202010,530010,BrasÃ­lia (DF),9,2,3034,4,530010293034
1202011,530010,BrasÃ­lia (DF),9,2,3539,4,530010293539
1202012,530010,BrasÃ­lia (DF),9,2,4044,6,530010294044
1202013,530010,BrasÃ­lia (DF),9,2,4549,6,530010294549
1202014,530010,BrasÃ­lia (DF),9,2,5054,4,530010295054
1202015,530010,BrasÃ­lia (DF),9,2,5559,1,530010295559
1202016,530010,BrasÃ­lia (DF),9,2,6064,1,530010296064
1202017,530010,BrasÃ­lia (DF),9,2,6569,3,530010296569
1202018,530010,BrasÃ­lia (DF),9,2,7074,1,530010297074
1202019,530010,BrasÃ­lia (DF),9,2,7579,0,530010297579
1202020,530010,BrasÃ­lia (DF),9,2,8099,0,530010298099
1202021,530010,BrasÃ­lia (DF),9,2,8099,0,530010298099
1202022,530010,BrasÃ­lia (DF),9,1,4,3,530010194
1202023,530010,BrasÃ­lia (DF),9,1,509,5,53001019509
1202024,530010,BrasÃ­lia (DF),9,1,1014,6,530010191014
1202025,530010,BrasÃ­lia (DF),9,1,1519,5,530010191519
1202026,530010,BrasÃ­lia (DF),9,1,2024,5,530010192024
1202027,530010,BrasÃ­lia (DF),9,1,2529,8,530010192529
1202028,530010,BrasÃ­lia (DF),9,1,3034,4,530010193034
1202029,530010,BrasÃ­lia (DF),9,1,3539,6,530010193539
1202030,530010,BrasÃ­lia (DF),9,1,4044,7,530010194044
1202031,530010,BrasÃ­lia (DF),9,1,4549,3,530010194549
1202032,530010,BrasÃ­lia (DF),9,1,5054,3,530010195054
1202033,530010,BrasÃ­lia (DF),9,1,5559,2,530010195559
1202034,530010,BrasÃ­lia (DF),9,1,6064,3,530010196064
1202035,530010,BrasÃ­lia (DF),9,1,6569,0,530010196569
1202036,530010,BrasÃ­lia (DF),9,1,7074,2,530010197074
1202037,530010,BrasÃ­lia (DF),9,1,7579,0,530010197579
1202038,530010,BrasÃ­lia (DF),9,1,8099,3,530010198099

In [14]:
df.year.unique()

array([2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016, 2009, 2045,
       2083, 2084, 2067, 2077, 2066, 2095, 2090, 2089], dtype=int64)

In [15]:
pop = pop.drop(columns=['Unnamed: 0'])

In [16]:
data_year = []
lst = [2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016, 2009]
for value in lst:
    data = df[df['year'] == value]
    data_year.append(data)

# Table of number of cases per gender, race, age-group and year in Brazil

In [ ]:
teste = df.groupby(['cs_sexo','cs_raca','faixa','year'])['count'].sum().reset_index()
teste.head()

In [ ]:
table1 = pd.pivot_table(teste, values='count', index=['cs_sexo','cs_raca','faixa'], columns=['year'])

In [ ]:
table1.to_excel('table1.xls')

# Table with population per gender, race, age-group and year in Brazil

In [88]:
teste2 = pop.groupby(['Sexo','cor','Idade'])['Total'].sum().reset_index()

In [92]:
teste2.to_excel('table2.xls')

In [49]:
def filter_data(dataframe,value_year,value_gender,value_race):
    data = dataframe[(dataframe.year == value_year) &(dataframe.cs_sexo == value_gender) & (dataframe.cs_raca==value_race)]
    return data

In [52]:
data_female_white_2010 = filter_data(df,2010,'1',1)

In [63]:
data_female_white_2010.head()

   codmunres  year cs_sexo  cs_raca  faixa  count           key
1     110001  2010       1        1   1014      2  110001111014
2     110001  2010       1        1   2024      1  110001112024
3     110001  2010       1        1   3539      1  110001113539
4     110001  2010       1        1   4549      1  110001114549
5     110001  2010       1        1   5054      1  110001115054

In [56]:
data_female_white_2010.groupby(['year','faixa'])['count'].sum().reset_index()

    year  faixa  count
0   2010      4   5833
1   2010    509   7572
2   2010   1014  12969
3   2010   1519  16780
4   2010   2024  18018
5   2010   2529  18152
6   2010   3034  17085
7   2010   3539  15602
8   2010   4044  14859
9   2010   4549  13813
10  2010   5054  11906
11  2010   5559   9718
12  2010   6064   7199
13  2010   6569   5019
14  2010   7074   3581
15  2010   7579   2096
16  2010   8099   1555

  cs_sexo  cs_raca  faixa  year  count
0       1        1      4  2009     15
1       1        1      4  2010   5833
2       1        1      4  2011   3612
3       1        1      4  2012   1872
4       1        1      4  2013   5131

In [17]:
result = []
for data in data_year:
    df1 =pop.set_index('key1').join(data.set_index('key')) 
    result.append(df1)

In [18]:
result[0]

,codmun,mame_muni,cor,Sexo,Idade,Total,codmunres,year,cs_sexo,cs_raca,faixa,count
110001111014,110001,Alta Floresta D'Oeste (RO),1,1,1014,427,NaN,NaN,NaN,NaN,NaN,NaN
110001111519,110001,Alta Floresta D'Oeste (RO),1,1,1519,503,NaN,NaN,NaN,NaN,NaN,NaN
110001112024,110001,Alta Floresta D'Oeste (RO),1,1,2024,445,NaN,NaN,NaN,NaN,NaN,NaN
110001112529,110001,Alta Floresta D'Oeste (RO),1,1,2529,444,110001.0,2015.0,1,1.0,2529.0,1.0
110001113034,110001,Alta Floresta D'Oeste (RO),1,1,3034,362,NaN,NaN,NaN,NaN,NaN,NaN
110001113539,110001,Alta Floresta D'Oeste (RO),1,1,3539,369,NaN,NaN,NaN,NaN,NaN,NaN
110001114,110001,Alta Floresta D'Oeste (RO),1,1,4,446,110001.0,2015.0,1,1.0,4.0,1.0
110001114044,110001,Alta Floresta D'Oeste (RO),1,1,4044,366,NaN,NaN,NaN,NaN,NaN,NaN
110001114549,110001,Alta Floresta D'Oeste (RO),1,1,4549,342,NaN,NaN,NaN,NaN,NaN,NaN
110001115054,110001,Alta Floresta D'Oeste (RO),1,1,5054,234,NaN,NaN,NaN,NaN,NaN,NaN
11000111509,110001,Alta Floresta D'Oeste (RO),1,1,509,414,NaN,NaN,NaN,NaN,NaN,NaN
110001115559,110001,Alta Floresta D'Oeste (RO),1,1,5559,203,NaN,NaN,NaN,NaN,NaN,NaN
110001116064,110001,Alta Floresta D'Oeste (RO),1,1,6064,145,NaN,NaN,NaN,NaN,NaN,NaN
110001116569,110001,Alta Floresta D'Oeste (RO),1,1,6569,130,NaN,NaN,NaN,NaN,NaN,NaN
110001117074,110001,Alta Floresta D'Oeste (RO),1,1,7074,102,NaN,NaN,NaN,NaN,NaN,NaN
110001117579,110001,Alta Floresta D'Oeste (RO),1,1,7579,62,NaN,NaN,NaN,NaN,NaN,NaN
110001118099,110001,Alta Floresta D'Oeste (RO),1,1,8099,40,NaN,NaN,NaN,NaN,NaN,NaN
110001118099,110001,Alta Floresta D'Oeste (RO),1,1,8099,4,NaN,NaN,NaN,NaN,NaN,NaN
110001121014,110001,Alta Floresta D'Oeste (RO),2,1,1014,30,NaN,NaN,NaN,NaN,NaN,NaN
110001121519,110001,Alta Floresta D'Oeste (RO),2,1,1519,35,NaN,NaN,NaN,NaN,NaN,NaN
110001122024,110001,Alta Floresta D'Oeste (RO),2,1,2024,57,NaN,NaN,NaN,NaN,NaN,NaN
110001122529,110001,Alta Floresta D'Oeste (RO),2,1,2529,49,NaN,NaN,NaN,NaN,NaN,NaN
110001123034,110001,Alta Floresta D'Oeste (RO),2,1,3034,41,NaN,NaN,NaN,NaN,NaN,NaN
110001123539,110001,Alta Floresta D'Oeste (RO),2,1,3539,40,NaN,NaN,NaN,NaN,NaN,NaN
110001124,110001,Alta Floresta D'Oeste (RO),2,1,4,21,NaN,NaN,NaN,NaN,NaN,NaN
110001124044,110001,Alta Floresta D'Oeste (RO),2,1,4044,39,NaN,NaN,NaN,NaN,NaN,NaN
110001124549,110001,Alta Floresta D'Oeste (RO),2,1,4549,35,NaN,NaN,NaN,NaN,NaN,NaN
110001125054,110001,Alta Floresta D'Oeste (RO),2,1,5054,27,NaN,NaN,NaN,NaN,NaN,NaN
11000112509,110001,Alta Floresta D'Oeste (RO),2,1,509,20,NaN,NaN,NaN,NaN,NaN,NaN
110001125559,110001,Alta Floresta D'Oeste (RO),2,1,5559,21,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
530010254,530010,BrasÃ­lia (DF),5,2,4,108,NaN,NaN,NaN,NaN,NaN,NaN
530010254044,530010,BrasÃ­lia (DF),5,2,4044,232,NaN,NaN,NaN,NaN,NaN,NaN
530010254549,530010,BrasÃ­lia (DF),5,2,4549,176,NaN,NaN,NaN,NaN,NaN,NaN
530010255054,530010,BrasÃ­lia (DF),5,2,5054,158,NaN,NaN,NaN,NaN,NaN,NaN
53001025509,530010,BrasÃ­lia (DF),5,2,509,149,NaN,NaN,NaN,NaN,NaN,NaN
530010255559,530010,BrasÃ­lia (DF),5,2,5559,130,NaN,NaN,NaN,NaN,NaN,NaN
530010256064,530010,BrasÃ­lia (DF),5,2,6064,90,NaN,NaN,NaN,NaN,NaN,NaN
530010256569,530010,BrasÃ­lia (DF),5,2,6569,57,NaN,NaN,NaN,NaN,NaN,NaN
530010257074,530010,BrasÃ­lia (DF),5,2,7074,47,NaN,NaN,NaN,NaN,NaN,NaN
530010257579,530010,BrasÃ­lia (DF),5,2,7579,31,NaN,NaN,NaN,NaN,NaN,NaN
530010258099,530010,BrasÃ­lia (DF),5,2,8099,17,NaN,NaN,NaN,NaN,NaN,NaN
530010258099,530010,BrasÃ­lia (DF),5,2,8099,4,NaN,NaN,NaN,NaN,NaN,NaN
530010291014,530010,BrasÃ­lia (DF),9,2,1014,4,530010.0,2015.0,2,9.0,1014.0,216.0
530010291519,530010,BrasÃ­lia (DF),9,2,1519,9,530010.0,2015.0,2,9.0,1519.0,329.0
530010292024,530010,BrasÃ­lia (DF),9,2,2024,2,530010.0,2015.0,2,9.0,2024.0,313.0
530010292529,530010,BrasÃ­lia (DF),9,2,2529,9,530010.0,2015.0,2,9.0,2529.0,256.0
530010293034,530010,BrasÃ­lia (DF),9,2,3034,4,530010.0,2015.0,2,9.0,3034.0,288.0
530010293539,530010,BrasÃ­lia (DF),9,2,3539,4,530010.0,2015.0,2,9.0,3539.0,273.0
530010294,530010,BrasÃ­lia (DF),9,2,4,10,530010.0,2015.0,2,9.0,4.0,71.0
530010294044,530010,BrasÃ­lia (DF),9,2,4044,6,530010.0,2015.0,2,9.0,4044.0,233.0
530010294549,530010,BrasÃ­lia (DF),9,2,4549,6,530010.0,2015.0,2,9.0,4549.0,208.0
530010295054,530010,BrasÃ­lia (DF),9,2,5054,4,530010.0,2015.0,2,9.0,5054.0,160.0
53001029509,530010,BrasÃ­lia (DF),9,2,509,9,530010.0,2015.0,2,9.0,509.0,102.0
530010295559,530010,BrasÃ­lia (DF),9,2,5559,1,530010.0,2015.0,2,9.0,5559.0,123.0
530010296064,530010,BrasÃ­lia (DF),9,2,6064,1,530010.0,2015.0,2,9.0,6064.0,92.0
530010296569,530010,BrasÃ­lia (DF),9,2,6569,3,530010.0,2015.0,2,9.0,6569.0,45.0
530010297074,530010,BrasÃ­lia (DF),9,2,7074,1,530010.0,2015.0,2,9.0,7074.0,38.0
530010297579,530010,BrasÃ­lia (DF),9,2,7579,0,530010.0,2015.0,2,9.0,7579.0,28.0
530010298099,530010,BrasÃ­lia (DF),9,2,8099,0,530010.0,2015.0,2,9.0,8099.0,23.0
530010298099,530010,BrasÃ­lia (DF),9,2,8099,0,530010.0,2015.0,2,9.0,8099.0,23.0

In [20]:
result[0].cs_raca.unique()
result[0].cor.unique()

array([1, 2, 3, 4, 5, 9], dtype=int64)

In [21]:
result[0][result[0].cs_raca ==1]

,codmun,mame_muni,cor,Sexo,Idade,Total,codmunres,year,cs_sexo,cs_raca,faixa,count
110001112529,110001,Alta Floresta D'Oeste (RO),1,1,2529,444,110001.0,2015.0,1,1.0,2529.0,1.0
110001114,110001,Alta Floresta D'Oeste (RO),1,1,4,446,110001.0,2015.0,1,1.0,4.0,1.0
110001212024,110001,Alta Floresta D'Oeste (RO),1,2,2024,462,110001.0,2015.0,2,1.0,2024.0,1.0
110001213034,110001,Alta Floresta D'Oeste (RO),1,2,3034,387,110001.0,2015.0,2,1.0,3034.0,1.0
110002111014,110002,Ariquemes (RO),1,1,1014,1455,110002.0,2015.0,1,1.0,1014.0,1.0
110002114549,110002,Ariquemes (RO),1,1,4549,1030,110002.0,2015.0,1,1.0,4549.0,1.0
110002116064,110002,Ariquemes (RO),1,1,6064,470,110002.0,2015.0,1,1.0,6064.0,1.0
110003111519,110003,Cabixi (RO),1,1,1519,126,110003.0,2015.0,1,1.0,1519.0,2.0
110003112024,110003,Cabixi (RO),1,1,2024,92,110003.0,2015.0,1,1.0,2024.0,2.0
110003112529,110003,Cabixi (RO),1,1,2529,113,110003.0,2015.0,1,1.0,2529.0,1.0
110003113034,110003,Cabixi (RO),1,1,3034,105,110003.0,2015.0,1,1.0,3034.0,1.0
110003113539,110003,Cabixi (RO),1,1,3539,97,110003.0,2015.0,1,1.0,3539.0,2.0
110003114,110003,Cabixi (RO),1,1,4,149,110003.0,2015.0,1,1.0,4.0,1.0
110003114044,110003,Cabixi (RO),1,1,4044,115,110003.0,2015.0,1,1.0,4044.0,1.0
110003114549,110003,Cabixi (RO),1,1,4549,93,110003.0,2015.0,1,1.0,4549.0,3.0
110003115054,110003,Cabixi (RO),1,1,5054,85,110003.0,2015.0,1,1.0,5054.0,2.0
11000311509,110003,Cabixi (RO),1,1,509,111,110003.0,2015.0,1,1.0,509.0,4.0
110003115559,110003,Cabixi (RO),1,1,5559,76,110003.0,2015.0,1,1.0,5559.0,5.0
110003116064,110003,Cabixi (RO),1,1,6064,40,110003.0,2015.0,1,1.0,6064.0,2.0
110003117579,110003,Cabixi (RO),1,1,7579,24,110003.0,2015.0,1,1.0,7579.0,2.0
110003211014,110003,Cabixi (RO),1,2,1014,143,110003.0,2015.0,2,1.0,1014.0,1.0
110003213034,110003,Cabixi (RO),1,2,3034,93,110003.0,2015.0,2,1.0,3034.0,1.0
110003213539,110003,Cabixi (RO),1,2,3539,115,110003.0,2015.0,2,1.0,3539.0,2.0
110003214549,110003,Cabixi (RO),1,2,4549,115,110003.0,2015.0,2,1.0,4549.0,3.0
110003215054,110003,Cabixi (RO),1,2,5054,100,110003.0,2015.0,2,1.0,5054.0,2.0
11000321509,110003,Cabixi (RO),1,2,509,105,110003.0,2015.0,2,1.0,509.0,1.0
110003216064,110003,Cabixi (RO),1,2,6064,52,110003.0,2015.0,2,1.0,6064.0,2.0
110003216569,110003,Cabixi (RO),1,2,6569,45,110003.0,2015.0,2,1.0,6569.0,3.0
110003217579,110003,Cabixi (RO),1,2,7579,25,110003.0,2015.0,2,1.0,7579.0,1.0
110003218099,110003,Cabixi (RO),1,2,8099,18,110003.0,2015.0,2,1.0,8099.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
530010114,530010,BrasÃ­lia (DF),1,1,4,44135,530010.0,2015.0,1,1.0,4.0,7.0
530010114044,530010,BrasÃ­lia (DF),1,1,4044,43019,530010.0,2015.0,1,1.0,4044.0,25.0
530010114549,530010,BrasÃ­lia (DF),1,1,4549,38576,530010.0,2015.0,1,1.0,4549.0,24.0
530010115054,530010,BrasÃ­lia (DF),1,1,5054,31120,530010.0,2015.0,1,1.0,5054.0,32.0
53001011509,530010,BrasÃ­lia (DF),1,1,509,40241,530010.0,2015.0,1,1.0,509.0,13.0
530010115559,530010,BrasÃ­lia (DF),1,1,5559,25438,530010.0,2015.0,1,1.0,5559.0,19.0
530010116064,530010,BrasÃ­lia (DF),1,1,6064,19882,530010.0,2015.0,1,1.0,6064.0,17.0
530010116569,530010,BrasÃ­lia (DF),1,1,6569,13945,530010.0,2015.0,1,1.0,6569.0,13.0
530010117074,530010,BrasÃ­lia (DF),1,1,7074,10760,530010.0,2015.0,1,1.0,7074.0,5.0
530010117579,530010,BrasÃ­lia (DF),1,1,7579,7040,530010.0,2015.0,1,1.0,7579.0,9.0
530010118099,530010,BrasÃ­lia (DF),1,1,8099,7261,530010.0,2015.0,1,1.0,8099.0,2.0
530010118099,530010,BrasÃ­lia (DF),1,1,8099,1281,530010.0,2015.0,1,1.0,8099.0,2.0
530010211014,530010,BrasÃ­lia (DF),1,2,1014,41347,530010.0,2015.0,2,1.0,1014.0,26.0
530010211519,530010,BrasÃ­lia (DF),1,2,1519,39985,530010.0,2015.0,2,1.0,1519.0,30.0
530010212024,530010,BrasÃ­lia (DF),1,2,2024,45083,530010.0,2015.0,2,1.0,2024.0,28.0
530010212529,530010,BrasÃ­lia (DF),1,2,2529,49916,530010.0,2015.0,2,1.0,2529.0,19.0
530010213034,530010,BrasÃ­lia (DF),1,2,3034,46680,530010.0,2015.0,2,1.0,3034.0,20.0
530010213539,530010,BrasÃ­lia (DF),1,2,3539,39387,530010.0,2015.0,2,1.0,3539.0,25.0
530010214,530010,BrasÃ­lia (DF),1,2,4,44856,530010.0,2015.0,2,1.0,4.0,10.0
530010214044,530010,BrasÃ­lia (DF),1,2,4044,36140,530010.0,2015.0,2,1.0,4044.0,23.0
530010214549,530010,BrasÃ­lia (DF),1,2,4549,31265,530010.0,2015.0,2,1.0,4549.0,16.0
530010215054,530010,BrasÃ­lia (DF),1,2,5054,25295,530010.0,2015.0,2,1.0,5054.0,15.0
53001021509,530010,BrasÃ­lia (DF),1,2,509,41417,530010.0,2015.0,2,1.0,509.0,8.0
530010215559,530010,BrasÃ­lia (DF),1,2,5559,20457,530010.0,2015.0,2,1.0,5559.0,9.0
530010216064,530010,BrasÃ­lia (DF),1,2,6064,15295,530010.0,2015.0,2,1.0,6064.0,11.0
530010216569,530010,BrasÃ­lia (DF),1,2,6569,10740,530010.0,2015.0,2,1.0,6569.0,8.0
530010217074,530010,BrasÃ­lia (DF),1,2,7074,8130,530010.0,2015.0,2,1.0,7074.0,8.0
530010217579,530010,BrasÃ­lia (DF),1,2,7579,4783,530010.0,2015.0,2,1.0,7579.0,1.0
530010218099,530010,BrasÃ­lia (DF),1,2,8099,4105,530010.0,2015.0,2,1.0,8099.0,3.0
530010218099,530010,BrasÃ­lia (DF),1,2,8099,508,530010.0,2015.0,2,1.0,8099.0,3.0

cs_sexo -> 'F'= 1
cs_sexo -> 'M'= 2

cs_raca -> 1- branca
           2- preta
           3- amarela
           4- parda
           5- indígena
           9 Ignorado
           
           
cor -> Branca- 1
        Preta- 2 
        Amarela- 3
        Parda- 4 
        Indigena- 5 
        Sem declaraçao- 9
                  
Sexo -> 'Mulheres' = 1
        'Homens' = 2 
       
Idade -> '0 a 4 anos': 4, 
         '5 a 9 anos': 509,
         '10 a 14 anos': 1014,
         '15 a 19 anos': 1519,
         '20 a 24 anos': 2024, 
         '25 a 29 anos': 2529, 
         '30 a 34 anos': 3034, 
         '35 a 39 anos': 3539,
         '40 a 44 anos': 4044, 
         '45 a 49 anos': 4549,
         '50 a 54 anos': 5054, 
         '55 a 59 anos': 5559,
         '60 a 64 anos': 6064, 
         '65 a 69 anos': 6569, 
         '70 a 74 anos': 7074, 
         '75 a 79 anos': 7579,
         '80 a 89 anos': 8099, 
         '90 a 99 anos': 8099