In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
from datetime import datetime, timedelta
#import plotly.graph_objs as go
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline
sns.set()
from PIL import Image

# chik dataset:

In [2]:
import sys
import glob

path = r'/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik'
filenames = glob.glob(path + "/*.csv")
filenames

['/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKNET 2014_16.02.2018.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKNET 2015_04.05.2018.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2016_16.10.2018.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2017_18.07.2018.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2018_15.10.2018.csv']

In [3]:
lst_df = []
for f in filenames:
    print(f)
    df = pd.read_csv(f, low_memory = False, encoding="iso-8859-1")                    
    lst_df.append(df)

/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKNET 2014_16.02.2018.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKNET 2015_04.05.2018.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2016_16.10.2018.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2017_18.07.2018.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Chikungunya/chik/CHIKON 2018_15.10.2018.csv

In [4]:
df = pd.concat(lst_df,sort=True)

In [5]:
df.columns

Index(['acido_pept', 'alrm_abdom', 'alrm_hemat', 'alrm_hepat', 'alrm_hipot',
       'alrm_letar', 'alrm_liq', 'alrm_plaq', 'alrm_sang', 'alrm_vom',
       ...
       'sg_uf_not', 'sorotipo', 'soundex', 'tel_hosp', 'tp_not', 'tp_sistema',
       'tpautocto', 'tpuninot', 'uf', 'vomito'],
      dtype='object', length=160)

## We will create year and month from  variable 'dt_notific' in order to use in our work. (see dengue_case_file for the problematic relating to the variable tp extract the week)

In [5]:
df['Mycol'] =  df['dt_notific'].apply(pd.to_datetime)

In [6]:
df['year'] = pd.DatetimeIndex(df['Mycol']).year
df['month'] = pd.DatetimeIndex(df['Mycol']).month

In [7]:
df.year.value_counts() # number of cases per year

2016.0    316564
2017.0    248719
2018.0    102231
2015.0     53271
2014.0      4636
Name: year, dtype: int64

In [8]:
df.classi_fin.value_counts()

13.0    317158
5.0     128100
1.0      91668
8.0      55944
2.0      47172
10.0         1
Name: classi_fin, dtype: int64

# Construct the dataset of chik with the desired variables

In [9]:
df = df[(df.classi_fin == 13)]

In [10]:
data = df.filter(['id_mn_resi','year','cs_sexo','nu_idade_n'])

## Process to clean age group and padronize following the age category given in population from IBGE

In [12]:
data.nu_idade_n.unique()

array([4021.0, 4050.0, 4048.0, 4045.0, 4051.0, 4032.0, 4074.0, 4036.0,
       4039.0, 4026.0, 4049.0, 4002.0, 4054.0, 2001.0, 4035.0, 4027.0,
       4029.0, 4055.0, 4034.0, 4022.0, 4017.0, 4072.0, 4005.0, 4059.0,
       4069.0, 3001.0, 4063.0, 4015.0, 4040.0, 4010.0, 4044.0, 4024.0,
       4016.0, 3004.0, 4004.0, 4031.0, 4013.0, 4065.0, 4056.0, 4053.0,
       4087.0, 4028.0, 4052.0, 4088.0, 4033.0, 4023.0, 4058.0, 4047.0,
       4080.0, 4079.0, 4030.0, 4042.0, 4070.0, 4041.0, 4019.0, 4011.0,
       4020.0, 4061.0, 4057.0, 3006.0, 4075.0, 4073.0, 4094.0, 4081.0,
       4060.0, 4046.0, 4012.0, 4018.0, 4014.0, 4043.0, 4025.0, 4071.0,
       4066.0, 4068.0, 4062.0, 4009.0, 3009.0, 3007.0, 4089.0, 3003.0,
       4064.0, 4001.0, 2025.0, 4038.0, 4007.0, 2009.0, 4037.0, 4008.0,
       4078.0, 4083.0, 4086.0, 3002.0, 4096.0, 2013.0, 4076.0, 4084.0,
       3005.0, 2020.0, 4067.0, 4006.0, 4003.0, 4092.0, '4014', '4048',
       '4036', '4051', '4071', '4034', '4023', '4031', '4015', '4030',
       '4011', '4025', '4028', '4035', '4029', '4012', '4047', '4022',
       '4016', '4027', '4013', '4085', '4038', '4046', '4033', '4021',
       '4062', '4004', '4008', '4041', '3010', '4017', '4037', '4009',
       '4019', '4055', '4063', '4042', '4053', '4005', '4045', '4056',
       '4039', '4032', '4077', '4003', '4018', '4059', '4049', '4052',
       '4007', '4070', '4066', '4020', '4044', '4006', '4043', '4024',
       '2029', '4026', '2001', '4073', '4089', '4040', '4050', '4064',
       '4065', '3006', '4067', '4075', '4068', '4061', '4081', '4054',
       '4010', '4058', '4001', '4074', '2022', '4057', '3001', '4002',
       '4060', '4076', '4069', '4078', '4083', '4090', '4072', '4082',
       '4079', '3003', '3002', '3008', '4080', '4087', '3004', '4084',
       '4098', '4093', '4095', '2013', '2008', '4086', '4096', '4094',
       '57', '3009', '4088', '3005', '4091', '2023', '3011', '2017',
       '2019', '2028', '2027', '3007', '2015', '2020', '2005', '2006',
       '2016', '1029', '4099', '2010', '4092', '4100', '2024', '2014',
       '2002', '2018', '2011', '2007', '4101', '2009', '2030', '2004',
       '2025', '2003', '4097', '2012', '1020', '4111', '2026', '4106',
       '4109', '4402', '4104', '4000', '1019', '30', '2021', '4103',
       '1000', 4085.0, 4077.0, 2005.0, 2002.0, 3008.0, 3011.0, 4082.0,
       2003.0, 3010.0, 4098.0, 4097.0, 4090.0, 2019.0, 4095.0, 4099.0,
       4091.0, 4103.0, 4402.0, 2015.0, 2018.0, 4093.0, 2007.0, 2008.0,
       2024.0, 2006.0, 4401.0, 2010.0, 2027.0, 2026.0, 4100.0, 2012.0,
       2011.0, 4102.0, 2004.0, 4105.0, 2021.0, 2022.0, 2014.0, 2023.0,
       4521.0, 2028.0, 2016.0, 2017.0, 4405.0, 2043.0, 3044.0, 2058.0,
       4101.0, 4403.0, 1037.0, 2053.0, 4106.0, 3048.0, 4112.0, 1035.0,
       4115.0, 4107.0, 3021.0, 1057.0, 31.0, 4108.0, 48.0, 3055.0, 4104.0,
       2029.0, 4117.0, 4132.0, 4000.0, 3031.0, 2030.0, 2075.0, 2032.0,
       1066.0], dtype=object)

In [13]:
vector =[]
for value in data.nu_idade_n.astype(int).astype(str):
    if value == '1': value = 2001
    elif value == '2': value = 2001
    elif value == '3': value = 3001
    elif 4<= int(value) < 10: value = '400'+value
    elif len(value) == 2: value = '40' + value
    vector.extend([value])

In [14]:
np.unique(vector)

array(['1000', '1019', '1020', '1029', '1035', '1037', '1057', '1066',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', '2028', '2029', '2030', '2032', '2043',
       '2053', '2058', '2075', '3001', '3002', '3003', '3004', '3005',
       '3006', '3007', '3008', '3009', '3010', '3011', '3021', '3031',
       '3044', '3048', '3055', '4000', '4001', '4002', '4003', '4004',
       '4005', '4006', '4007', '4008', '4009', '4010', '4011', '4012',
       '4013', '4014', '4015', '4016', '4017', '4018', '4019', '4020',
       '4021', '4022', '4023', '4024', '4025', '4026', '4027', '4028',
       '4029', '4030', '4031', '4032', '4033', '4034', '4035', '4036',
       '4037', '4038', '4039', '4040', '4041', '4042', '4043', '4044',
       '4045', '4046', '4047', '4048', '4049', '4050', '4051', '4052',
       '4053', '4054', '4055', '4056', '4057', '4058', '4059', '4060',
       '4061', '4062', '4063', '4064', '4065', '4066', '4067', '4068',
       '4069', '4070', '4071', '4072', '4073', '4074', '4075', '4076',
       '4077', '4078', '4079', '4080', '4081', '4082', '4083', '4084',
       '4085', '4086', '4087', '4088', '4089', '4090', '4091', '4092',
       '4093', '4094', '4095', '4096', '4097', '4098', '4099', '4100',
       '4101', '4102', '4103', '4104', '4105', '4106', '4107', '4108',
       '4109', '4111', '4112', '4115', '4117', '4132', '4401', '4402',
       '4403', '4405', '4521'], dtype='<U4')

In [15]:
data['nu_idade_n_cor'] = vector

In [16]:
data.columns

Index(['id_mn_resi', 'year', 'cs_sexo', 'nu_idade_n', 'nu_idade_n_cor'], dtype='object')

In [28]:
#data[data['nu_idade_n']==80]

## Categorize age group
### 0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
###       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
###       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],

In [17]:
fx = []
for value in data.nu_idade_n:
    if 1000 <= int(value) <4005: faixa = '4' 
    elif 4005 <=int(value)< 4010: faixa = '509'
    elif 4010 <=int(value)< 4015: faixa = '1014'
    elif 4015 <=int(value)< 4020: faixa = '1519'
    elif 4020 <=int(value)< 4025: faixa = '2024'
    elif 4025 <=int(value)< 4030: faixa = '2529'
    elif 4030 <=int(value)< 4035: faixa = '3034'
    elif 4035 <=int(value)< 4040: faixa = '3539' 
    elif 4040 <=int(value)< 4045: faixa = '4044'   
    elif 4045 <=int(value)< 4050: faixa = '4549'
    elif 4050 <=int(value)< 4055: faixa = '5054'
    elif 4055 <=int(value)< 4060: faixa = '5559'
    elif 4060 <=int(value)< 4065: faixa = '6064'
    elif 4065 <=int(value)< 4070: faixa = '6569'
    elif 4070 <=int(value)< 4075: faixa = '7074'
    elif 4075 <=int(value)< 4080: faixa = '7579'
    elif 4080 <=int(value)< 8100: faixa = '8099'
    fx.extend([faixa])

In [18]:
data['faixa'] = fx
data

        id_mn_resi    year cs_sexo nu_idade_n nu_idade_n_cor faixa
10        230440.0  2014.0       M       4021           4021  2024
2161      291080.0  2014.0       F       4050           4050  5054
3989      510340.0  2014.0       F       4048           4048  4549
4239      260510.0  2014.0       F       4045           4045  4549
4240      261160.0  2014.0       F       4051           4051  5054
...            ...     ...     ...        ...            ...   ...
102201    172100.0  2018.0       F       4007           4007   509
102258    172100.0  2018.0       F       4006           4006   509
102304    170765.0  2018.0       F       4048           4048  4549
102326    170770.0  2018.0       F       4046           4046  4549
102336    172110.0  2018.0       F       4021           4021  2024

[317158 rows x 6 columns]

In [19]:
data.cs_sexo.value_counts()

F    197689
M    119247
I       222
Name: cs_sexo, dtype: int64

In [20]:
data['count'] = 1

In [21]:
data= data.rename(columns={"id_mn_resi": "codmunres"})

In [22]:
dados = data.groupby(['codmunres','year','cs_sexo','faixa'])['count'].sum().reset_index()

In [23]:
dados.cs_sexo = dados.cs_sexo.replace('F', 1)
dados.cs_sexo= dados.cs_sexo.replace('M', 2)

In [24]:
dados.head()

   codmunres    year cs_sexo faixa  count
0   110002.0  2017.0       1     4      2
1   110002.0  2017.0       1  4549      1
2   110002.0  2017.0       2  7579      1
3   110002.0  2018.0       1  1519      1
4   110002.0  2018.0       1  2529      1

In [25]:
dados.groupby(['year'])['count'].sum()

year
2014.0        10
2015.0       670
2016.0     89530
2017.0    166344
2018.0     60587
Name: count, dtype: int64

In [26]:
df.year.value_counts()

2017.0    166345
2016.0     89531
2018.0     60587
2015.0       670
2014.0        10
Name: year, dtype: int64

# Population

In [23]:
#pop = pd.read_csv('G:\Datalake\POPULACAO\csv\POPBR12.csv')   #'G:\Datalake\POPULACAO\pop_race_sex_age.csv')

In [27]:
pop = pd.read_csv('/media/juliane_oliveira/My Passport/Datalake/POPULACAO/estimativas_pop_sex_age_muni_cidacs/pop_2000_2017_SFA.csv')
pop = pop.drop(columns=['Unnamed: 0'])

In [28]:
pop.columns

Index(['MUNIC_RES', 'ANO', 'SEXO', 'FXETARIA', 'POPULACAO'], dtype='object')

In [29]:
pop.FXETARIA.unique()

array([   0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099])

In [30]:
pop = pop.replace({'FXETARIA': {0: 4, 101:4, 202:4,  303:4,  404:4,
                                505: 509, 606: 509,  707: 509,  808: 509,  909: 509,
                                1010: 1014, 1111: 1014, 1212: 1014, 1313: 1014, 1414: 1014,
                                1515: 1519, 1616: 1519, 1717: 1519, 1818: 1519, 1919: 1519}})

In [31]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

# Creating tables to map the standard incidence ratio of chik per year

## expected number of cases per year and cummulated

In [32]:
teste = dados

In [33]:
teste = teste[(2014 <= teste.year) & (teste.year <= 2018) & (teste.cs_sexo != 'f')&(teste.cs_sexo != 'I')]

In [34]:
teste.cs_sexo.unique()

array([1, 2], dtype=object)

In [35]:
teste.year.unique()

array([2017., 2018., 2016., 2015., 2014.])

In [36]:
teste['faixa'] = teste['faixa'].astype(int)

/home/juliane_oliveira/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28237 entries, 0 to 28417
Data columns (total 5 columns):
codmunres    28237 non-null float64
year         28237 non-null float64
cs_sexo      28237 non-null object
faixa        28237 non-null int64
count        28237 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ MB

In [38]:
sum_observed_gender_age_year = []
for year in [2014,2015,2016,2017,2018]:
    df_year = teste[teste.year == year]
    table_year = pd.pivot_table(df_year, values='count', index=['codmunres'], columns=['cs_sexo','faixa'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_observed_gender_age_year.append(resulted_dataframe)

In [40]:
sum_observed_gender_age_year[0]

   cs_sexo  faixa    0
0        1   2529  1.0
1        1   3539  2.0
2        1   4549  2.0
3        1   5054  2.0
4        1   7074  1.0
5        2   2024  1.0
6        2   3034  1.0

In [41]:
pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4        118
1     110001  2000     1         4        110
2     110001  2000     1         4        127
3     110001  2000     1         4        149
4     110001  2000     1         4        140

# Population

In [42]:
pop = pop.astype(int)

In [43]:
teste_pop = pop.groupby(['MUNIC_RES','ANO','SEXO','FXETARIA'])['POPULACAO'].sum().reset_index()
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2000     1         4       1496
1     110001  2000     1       509       1677
2     110001  2000     1      1014       1570
3     110001  2000     1      1519       1522
4     110001  2000     1      2024       1292

In [44]:
sum_pop_gender_age_year = []
for year in [2014,2015,2016,2017,2018]:
    df_year = teste_pop[teste_pop.ANO == year]
    table_year = pd.pivot_table(df_year, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_pop_gender_age_year.append(resulted_dataframe)

In [45]:
sum_pop_gender_age_year[0]

    SEXO  FXETARIA        0
0      1         4  7008543
1      1       509  6964499
2      1      1014  8368109
3      1      1519  8512092
4      1      2024  8059415
5      1      2529  8578537
6      1      3034  9096835
7      1      3539  7882850
8      1      4044  6748580
9      1      4549  6476075
10     1      5054  6016769
11     1      5559  5039815
12     1      6064  4151292
13     1      6569  3014573
14     1      7074  2253058
15     1      7579  1646061
16     1      8099  2026788
17     2         4  7008543
18     2       509  6964499
19     2      1014  8368109
20     2      1519  8512092
21     2      2024  8059415
22     2      2529  8578537
23     2      3034  9096835
24     2      3539  7882850
25     2      4044  6748580
26     2      4549  6476075
27     2      5054  6016769
28     2      5559  5039815
29     2      6064  4151292
30     2      6569  3014573
31     2      7074  2253058
32     2      7579  1646061
33     2      8099  2026788

# calculating r_ j (for each year)

In [46]:
r_j = []
for df1,df2 in zip(sum_observed_gender_age_year,sum_pop_gender_age_year):
    #df2.rename(columns={0:'pop'}, inplace=True)
    risco_relativo = df1[0]/df2[0]
    risco_relativo = risco_relativo.fillna(0)
    r_j.append(risco_relativo)

In [47]:
r_j[0]

0     1.426830e-07
1     2.871707e-07
2     2.390026e-07
3     2.349599e-07
4     1.240785e-07
5     1.165700e-07
6     1.099283e-07
7     0.000000e+00
8     0.000000e+00
9     0.000000e+00
10    0.000000e+00
11    0.000000e+00
12    0.000000e+00
13    0.000000e+00
14    0.000000e+00
15    0.000000e+00
16    0.000000e+00
17    0.000000e+00
18    0.000000e+00
19    0.000000e+00
20    0.000000e+00
21    0.000000e+00
22    0.000000e+00
23    0.000000e+00
24    0.000000e+00
25    0.000000e+00
26    0.000000e+00
27    0.000000e+00
28    0.000000e+00
29    0.000000e+00
30    0.000000e+00
31    0.000000e+00
32    0.000000e+00
33    0.000000e+00
Name: 0, dtype: float64

# calculating E_i for each municipality

# 2014

In [48]:
filter_2014 = teste_pop[teste_pop.ANO == 2014]

In [49]:
P_2014 = pd.pivot_table(filter_2014, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2014;

In [50]:
E_2014 =[]
for i in range(len(P_2014)):
    E_i = sum(np.array(P_2014.iloc[i])*np.array(r_j[0]))
    E_2014.append([P_2014.index.values[i],E_i])

In [51]:
Expected_2014 = pd.DataFrame(E_2014,
                 columns=['codmunres', 'expected_2014'])

In [52]:
Expected_2014.head()

   codmunres  expected_2014
0     110001       0.001214
1     110002       0.005375
2     110003       0.000302
3     110004       0.004208
4     110005       0.000839

# 2015

In [53]:
filter_2015 = teste_pop[teste_pop.ANO == 2015]

In [54]:
P_2015 = pd.pivot_table(filter_2015, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2015;

In [55]:
E_2015 =[]
for i in range(len(P_2015)):
    E_i = sum(np.array(P_2015.iloc[i])*np.array(r_j[1]))
    E_2015.append([P_2015.index.values[i],E_i])

In [56]:
Expected_2015 = pd.DataFrame(E_2015,
                 columns=['codmunres', 'expected_2015'])

In [57]:
Expected_2015.head()

   codmunres  expected_2015
0     110001       0.071153
1     110002       0.314569
2     110003       0.018497
3     110004       0.265629
4     110005       0.053260

# 2016

In [58]:
filter_2016 = teste_pop[teste_pop.ANO == 2016]

In [59]:
P_2016 = pd.pivot_table(filter_2016, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2016;

In [60]:
E_2016 =[]
for i in range(len(P_2016)):
    E_i = sum(np.array(P_2016.iloc[i])*np.array(r_j[2]))
    E_2016.append([P_2016.index.values[i],E_i])

In [61]:
Expected_2016 = pd.DataFrame(E_2016,
                 columns=['codmunres', 'expected_2016'])

In [62]:
Expected_2016.head()

   codmunres  expected_2016
0     110001       9.106730
1     110002      40.907790
2     110003       2.365789
3     110004      34.850897
4     110005       6.932576

# 2017

In [63]:
filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [64]:
P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
P_2017;

In [65]:
E_2017 =[]
for i in range(len(P_2017)):
    E_i = sum(np.array(P_2017.iloc[i])*np.array(r_j[3]))
    E_2017.append([P_2017.index.values[i],E_i])

In [66]:
Expected_2017 = pd.DataFrame(E_2017,
                 columns=['codmunres', 'expected_2017'])

In [67]:
Expected_2017.head()

   codmunres  expected_2017
0     110001      16.533718
1     110002      77.330662
2     110003       4.308194
3     110004      64.700460
4     110005      12.663672

# Observed number of cases per municipality and year

In [71]:
teste = teste.astype(int)

In [72]:
observed = teste.groupby(['codmunres','year'])['count'].sum().reset_index()
observed.head()

   codmunres  year  count
0     110002  2017      4
1     110002  2018      5
2     110004  2016      4
3     110004  2017      4
4     110004  2018      8

In [73]:
#observed = observed.astype(int)
observed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765 entries, 0 to 3764
Data columns (total 3 columns):
codmunres    3765 non-null int64
year         3765 non-null int64
count        3765 non-null int64
dtypes: int64(3)
memory usage: 88.4 KB

In [74]:
observed.describe()

           codmunres         year         count
count    3765.000000  3765.000000   3765.000000
mean   281220.942098  2016.853386     84.175033
std     86732.137424     0.833521   1118.050657
min    110002.000000  2014.000000      1.000000
25%    230565.000000  2016.000000      1.000000
50%    261320.000000  2017.000000      2.000000
75%    320465.000000  2018.000000     11.000000
max    530010.000000  2018.000000  62197.000000

In [75]:
observed[observed.year == 2015]

      codmunres  year  count
17       110020  2015      1
138      150140  2015      1
262      150715  2015      1
414      172120  2015      1
447      210140  2015      1
...         ...   ...    ...
3557     500270  2015     36
3635     510340  2015      1
3709     510840  2015      1
3716     520140  2015      2
3739     521380  2015      1

[86 rows x 3 columns]

In [76]:
observed = observed[(2014 <= observed.year) & (observed.year <= 2018)]

In [77]:
observed = pd.pivot_table(observed, values='count', index=['codmunres'], columns=['year'])

In [78]:
observed = observed.fillna(0) 
observed

year       2014  2015  2016  2017  2018
codmunres
110002      0.0   0.0   0.0   4.0   5.0
110004      0.0   0.0   4.0   4.0   8.0
110005      0.0   0.0   0.0   2.0   1.0
110006      0.0   0.0   0.0   0.0   1.0
110010      0.0   0.0   0.0   1.0   2.0
...         ...   ...   ...   ...   ...
522010      0.0   0.0   0.0   2.0   1.0
522140      0.0   0.0   1.0   2.0   0.0
522160      0.0   0.0   0.0   2.0   0.0
522185      0.0   0.0   1.0   0.0   2.0
530010      0.0   0.0  63.0  44.0   8.0

[2214 rows x 5 columns]

In [82]:
observed[2017].sum()

166235.0

In [91]:
df.year.value_counts()

2017.0    166345
2016.0     89531
2018.0     60587
2015.0       670
2014.0        10
Name: year, dtype: int64

# calculate the standard incidence ratio

In [83]:
codigo_muni = pd.read_excel('/media/juliane_oliveira/My Passport/Datalake/POPULACAO/PopulaÃ§Ã£o/POP_python/DTB_BRASIL_MUNICIPIO.xls')

In [84]:
codigo_muni.head()

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,CÃ³digo MunicÃ­pio Completo,Nome_MunicÃ­pio
0,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so
3,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [85]:
codigo_muni.columns

Index(['UF', 'Nome_UF', 'MesorregiÃ£o GeogrÃ¡fica', 'Nome_MesorregiÃ£o',
       'MicrorregiÃ£o GeogrÃ¡fica', 'Nome_MicrorregiÃ£o', 'MunicÃ­pio',
       'CÃ³digo MunicÃ­pio Completo', 'Nome_MunicÃ­pio'],
      dtype='object')

In [86]:
codigo_muni.rename(columns={'CÃ³digo MunicÃ­pio Completo':'codmuni_full'}, 
                 inplace=True);

In [87]:
codigo_muni['codmuni'] = codigo_muni.codmuni_full.floordiv(10)

In [88]:
codigo_muni.head()

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,codmuni
0,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,110001
1,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,110037
2,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,110040
3,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,110034
4,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,110002

In [90]:
observed = observed.astype(int)
observed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2214 entries, 110002 to 530010
Data columns (total 5 columns):
2014    2214 non-null int64
2015    2214 non-null int64
2016    2214 non-null int64
2017    2214 non-null int64
2018    2214 non-null int64
dtypes: int64(5)
memory usage: 103.8 KB

In [91]:
final = codigo_muni.set_index('codmuni').join(observed)

In [92]:
final

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,2014,2015,2016,2017,2018
codmuni,,,,,,,,,,,,,,
110001,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,NaN,NaN,NaN,NaN,NaN
110037,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,0.0,0.0,1.0,0.0,2.0
110040,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,0.0,0.0,1.0,1.0,1.0
110034,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,NaN,NaN,NaN,NaN,NaN
110002,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,0.0,0.0,0.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,GoiÃ¡s,5,Sul Goiano,16,Pires do Rio,22005,5222005,VianÃ³polis,NaN,NaN,NaN,NaN,NaN
522205,52,GoiÃ¡s,5,Sul Goiano,15,Meia Ponte,22054,5222054,VicentinÃ³polis,NaN,NaN,NaN,NaN,NaN
522220,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22203,5222203,Vila Boa,NaN,NaN,NaN,NaN,NaN
522230,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22302,5222302,Vila PropÃ­cio,NaN,NaN,NaN,NaN,NaN
530010,53,Distrito Federal,1,Distrito Federal,1,BrasÃ­lia,108,5300108,BrasÃ­lia,0.0,0.0,63.0,44.0,8.0

In [93]:
final = final.join(Expected_2014.set_index('codmunres')).join(Expected_2015.set_index('codmunres')).join(Expected_2016.set_index('codmunres')).join(Expected_2017.set_index('codmunres'))

In [94]:
final.columns

Index([                     'UF',                 'Nome_UF',
        'MesorregiÃ£o GeogrÃ¡fica',        'Nome_MesorregiÃ£o',
       'MicrorregiÃ£o GeogrÃ¡fica',       'Nome_MicrorregiÃ£o',
                     'MunicÃ­pio',            'codmuni_full',
                'Nome_MunicÃ­pio',                      2014,
                            2015,                      2016,
                            2017,                      2018,
                 'expected_2014',           'expected_2015',
                 'expected_2016',           'expected_2017'],
      dtype='object')

In [95]:
final['SIR_2014'] = final[2014]/final['expected_2014']
final['SIR_2015'] = final[2015]/final['expected_2015']
final['SIR_2016'] = final[2016]/final['expected_2016']
final['SIR_2017'] = final[2017]/final['expected_2017']

In [96]:
final = final.fillna(0)

In [97]:
final.describe()

,UF,MesorregiÃ£o GeogrÃ¡fica,MicrorregiÃ£o GeogrÃ¡fica,MunicÃ­pio,codmuni_full,2014,2015,2016,2017,2018,expected_2014,expected_2015,expected_2016,expected_2017,SIR_2014,SIR_2015,SIR_2016,SIR_2017
count,5570.000000,5570.000000,5570.000000,5570.000000,5.570000e+03,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000
mean,32.377738,4.264991,17.633573,15816.982585,3.253591e+06,0.001795,0.120287,16.063016,29.844704,10.867684,0.001795,0.120287,16.063016,29.844704,0.122889,0.448445,0.672283,0.501092
std,9.833862,3.206175,15.514306,15997.299780,9.849103e+05,0.084731,2.409333,262.224073,854.390073,222.831997,0.009750,0.730320,99.282464,183.785184,7.222447,11.678499,4.323560,3.024867
min,11.000000,1.000000,1.000000,13.000000,1.100015e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,2.000000,6.000000,4507.250000,2.512126e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000251,0.016652,2.194194,4.012585,0.000000,0.000000,0.000000,0.000000
50%,31.000000,3.000000,13.000000,10400.500000,3.146280e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000570,0.035817,4.703660,8.688193,0.000000,0.000000,0.000000,0.000000
75%,41.000000,6.000000,24.000000,20853.000000,4.119190e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.001275,0.078991,10.367468,19.248216,0.000000,0.000000,0.000000,0.000000
max,53.000000,15.000000,66.000000,72202.000000,5.300108e+06,6.000000,110.000000,16616.000000,62197.000000,9800.000000,0.528039,40.082186,5450.075620,10079.782575,530.992945,797.562732,113.336640,85.039948

In [98]:
final

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,2014,...,2017,2018,expected_2014,expected_2015,expected_2016,expected_2017,SIR_2014,SIR_2015,SIR_2016,SIR_2017
codmuni,,,,,,,,,,,,,,,,,,,,,
110001,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,0.0,...,0.0,0.0,0.001214,0.071153,9.106730,16.533718,0.0,0.0,0.000000,0.000000
110037,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,0.0,...,0.0,2.0,0.000721,0.039890,5.084187,9.491535,0.0,0.0,0.196688,0.000000
110040,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,0.0,...,1.0,1.0,0.001036,0.058324,7.603357,14.416333,0.0,0.0,0.131521,0.069366
110034,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,0.0,...,0.0,0.0,0.000858,0.050043,6.350453,11.544949,0.0,0.0,0.000000,0.000000
110002,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,0.0,...,4.0,5.0,0.005375,0.314569,40.907790,77.330662,0.0,0.0,0.000000,0.051726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,GoiÃ¡s,5,Sul Goiano,16,Pires do Rio,22005,5222005,VianÃ³polis,0.0,...,0.0,0.0,0.000661,0.043447,5.787762,10.751671,0.0,0.0,0.000000,0.000000
522205,52,GoiÃ¡s,5,Sul Goiano,15,Meia Ponte,22054,5222054,VicentinÃ³polis,0.0,...,0.0,0.0,0.000361,0.023737,3.136566,5.863074,0.0,0.0,0.000000,0.000000
522220,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22203,5222203,Vila Boa,0.0,...,0.0,0.0,0.000292,0.015697,2.042299,3.829118,0.0,0.0,0.000000,0.000000
522230,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22302,5222302,Vila PropÃ­cio,0.0,...,0.0,0.0,0.000289,0.017359,2.266557,4.194758,0.0,0.0,0.000000,0.000000
530010,53,Distrito Federal,1,Distrito Federal,1,BrasÃ­lia,108,5300108,BrasÃ­lia,0.0,...,44.0,8.0,0.142937,9.705781,1305.244111,2459.423122,0.0,0.0,0.048267,0.017890

In [102]:
final[2017].sum()

166235.0

In [108]:
data.year.value_counts()

2017.0    166345
2016.0     89531
2018.0     60587
2015.0       670
2014.0        10
Name: year, dtype: int64

In [103]:
final.to_excel('standard_incidence_ratio_chik.xls')