In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
from datetime import datetime, timedelta
#import plotly.graph_objs as go
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline
sns.set()
from PIL import Image

# Zika dataset:

In [2]:
import sys
import glob

path = r'/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika'
filenames = glob.glob(path + "/*.csv")
filenames

['/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2015.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2016.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2017.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2018.csv',
 '/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2019.csv']

In [3]:
df1 = pd.read_csv(filenames[4], low_memory = False, encoding="iso-8859-1")
df1.columns

Index(['NU_NOTIFIC', 'TP_NOT', 'ID_AGRAVO', 'CS_SUSPEIT', 'IN_AIDS',
       'CS_MENING', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC',
       'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF',
       'ID_MN_RESI', 'CS_ZONA', 'ID_PAIS', 'NDUPLIC_N', 'IN_VINCULA',
       'DT_INVEST', 'ID_OCUPA_N', 'CLASSI_FIN', 'CRITERIO', 'TPAUTOCTO',
       'COUFINF', 'COPAISINF', 'COMUNINF', 'DOENCA_TRA', 'EVOLUCAO',
       'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA', 'DT_TRANSUS', 'DT_TRANSDM',
       'DT_TRANSSM', 'DT_TRANSRM', 'DT_TRANSRS', 'DT_TRANSSE', 'NU_LOTE_V',
       'NU_LOTE_H', 'CS_FLXRET', 'FLXRECEBI', 'IDENT_MICR', 'MIGRADO_W',
       'CO_USUCAD', 'CO_USUALT', 'TP_SISTEMA', 'TPUNINOT'],
      dtype='object')

In [4]:
df1.head()

,NU_NOTIFIC,TP_NOT,ID_AGRAVO,CS_SUSPEIT,IN_AIDS,CS_MENING,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,...,NU_LOTE_V,NU_LOTE_H,CS_FLXRET,FLXRECEBI,IDENT_MICR,MIGRADO_W,CO_USUCAD,CO_USUALT,TP_SISTEMA,TPUNINOT
0,5562,2,A928,NaN,NaN,NaN,20190101,201901,2019,29,...,NaN,NaN,0,2,29274000014,NaN,NaN,QUEIXA D,1,NaN
1,4490713,2,A928,NaN,NaN,NaN,20190101,201901,2019,41,...,0.0,NaN,0,2,41255000004,NaN,NaN,NaN,1,NaN
2,2287425,2,A928,NaN,NaN,NaN,20190101,201901,2019,17,...,0.0,NaN,0,2,17210000037,NaN,NaN,G2PN01A1,1,NaN
3,4417052,2,A928,NaN,NaN,NaN,20190101,201901,2019,41,...,0.0,NaN,0,2,41177000004,NaN,NaN,PACIENTE,1,NaN
4,5130418,2,A928,NaN,NaN,NaN,20190101,201901,2019,33,...,0.0,NaN,0,2,33001000014,NaN,NaN,NaN,1,NaN

In [5]:
df1.NU_IDADE_N.value_counts()

4024    816
4021    780
4023    767
4022    757
4030    745
       ...
4101      1
1047      1
4107      1
2023      1
4094      1
Name: NU_IDADE_N, Length: 150, dtype: int64

In [6]:
lst_df = []
for f in filenames:
    print(f)
    df = pd.read_csv(f, low_memory = False, encoding="iso-8859-1")     
    df.columns= df.columns.str.lower()
    lst_df.append(df)

/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2015.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2016.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2017.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2018.csv
/media/juliane_oliveira/My Passport/Datalake/SINAN/Zika_pasta/Zika/ZIKA2019.csv

In [7]:
df = pd.concat(lst_df,sort=True)

In [8]:
df.columns

Index(['classi_fin', 'co_bainfc', 'co_usualt', 'co_usucad', 'codisinf',
       'comuninf', 'copaisinf', 'coufinf', 'criterio', 'cs_escol_n',
       'cs_flxret', 'cs_gestant', 'cs_mening', 'cs_raca', 'cs_sexo',
       'cs_suspeit', 'cs_zona', 'doenca_tra', 'dt_digita', 'dt_encerra',
       'dt_invest', 'dt_nasc', 'dt_notific', 'dt_obito', 'dt_sin_pri',
       'dt_transdm', 'dt_transrm', 'dt_transrs', 'dt_transse', 'dt_transsm',
       'dt_transus', 'evolucao', 'flxrecebi', 'fonetica_n', 'id_agravo',
       'id_bairro', 'id_cns_sus', 'id_distrit', 'id_geo1', 'id_geo2',
       'id_logrado', 'id_mn_resi', 'id_municip', 'id_ocupa_n', 'id_pais',
       'id_regiona', 'id_rg_resi', 'id_unidade', 'ident_micr', 'in_aids',
       'in_vincula', 'migrado_w', 'nduplic_n', 'nobaiinf', 'nu_ano', 'nu_cep',
       'nu_ddd_tel', 'nu_idade_n', 'nu_lote_h', 'nu_lote_v', 'nu_notific',
       'nu_numero', 'nu_telefon', 'sem_not', 'sem_pri', 'sg_uf', 'sg_uf_not',
       'soundex', 'tp_not', 'tp_sistema', 'tpautocto', 'tpuninot'],
      dtype='object')

In [9]:
df.nu_ano.value_counts()

2016.0    281464
2015.0     56389
2017.0     32684
2019.0     31027
2018.0     15643
Name: nu_ano, dtype: int64

#### Code to create year and month from  variable 'dt_notific' in order to use in our work. (see dengue_case_file for the problematic relating to the variable tp extract the week)

df['Mycol'] =  df['dt_notific'].apply(pd.to_datetime)
df['year'] = pd.DatetimeIndex(df['Mycol']).year
df['month'] = pd.DatetimeIndex(df['Mycol']).month

# Construct Zika dataset of confirmed cases with the desired variables

In [10]:
df = df[(df.classi_fin == 1)|(df.classi_fin == 8)]

In [11]:
data = df.filter(['id_mn_resi','nu_ano','cs_sexo','nu_idade_n'])

## Process to clean age group and padronize following the age category given in population from IBGE

In [12]:
data.nu_idade_n.unique()

array([4024., 4029., 4026., 4036., 4042., 4049., 4023., 4021., 4002.,
       4020., 4031., 4004., 4016., 4032., 4043., 4027., 4044., 4067.,
       4030., 4009., 4041., 3010., 4012., 4013., 4051., 4047., 4037.,
       4034., 2011., 4018., 3011., 4040., 4055., 4005., 4045., 4064.,
       4006., 4014., 4025., 4035., 4050., 4028., 4070., 4052., 4066.,
       3002., 2000., 4015., 4007., 4053., 4022., 4008., 4039., 4056.,
       4048., 4038., 4062., 4033., 4003., 3001., 4046., 4001., 4017.,
       4078., 4063., 4011., 4019., 4059., 3008., 4058., 4010., 3005.,
       4057., 4061., 4065., 4054., 4068., 2013., 4073., 3009., 4071.,
       4074., 4072., 4060., 4069., 4077., 2005., 3007., 4085., 3006.,
       4096., 4082., 4079., 4076., 4084., 4081., 3004., 2002., 3003.,
       4094., 3024., 4089., 2020., 2025., 4083., 4075., 4086., 4091.,
       2007., 2003., 2004., 4090., 2012., 2015., 4080., 4088., 2006.,
       4095., 2008., 4102., 2001., 2027., 4087., 2009., 2010., 4093.,
       2023., 4092., 4097., 2014., 2017., 4099., 2026., 2022., 4109.,
       2018., 2019., 2030., 2021., 4098., 4103., 4101., 4108., 2029.,
       2016., 4116., 4100., 2024., 4120., 1014., 1001., 4000., 2028.,
       4107., 3076., 4114., 4104., 4105., 1021., 3042., 3040., 4117.,
       3019., 4118., 3034., 4111., 4113.])

In [12]:
vector =[]
for value in data.nu_idade_n.astype(int).astype(str):
    if value == '1': value = 2001
    elif value == '2': value = 2001
    elif value == '3': value = 3001
    elif 4<= int(value) < 10: value = '400'+value
    elif len(value) == 2: value = '40' + value
    vector.extend([value])

In [14]:
vector;

In [16]:
data['nu_idade_n_cor'] = vector

In [17]:
data.columns

Index(['id_mn_resi', 'nu_ano', 'cs_sexo', 'nu_idade_n', 'nu_idade_n_cor'], dtype='object')

In [ ]:
#data[data['nu_idade_n']==80]

## Categorize age group
### 0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
###       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
###       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],

In [18]:
fx = []
for value in data.nu_idade_n_cor:
    if 1000 <= int(value) <4005: faixa = '4' 
    elif 4005 <=int(value)< 4010: faixa = '509'
    elif 4010 <=int(value)< 4015: faixa = '1014'
    elif 4015 <=int(value)< 4020: faixa = '1519'
    elif 4020 <=int(value)< 4025: faixa = '2024'
    elif 4025 <=int(value)< 4030: faixa = '2529'
    elif 4030 <=int(value)< 4035: faixa = '3034'
    elif 4035 <=int(value)< 4040: faixa = '3539' 
    elif 4040 <=int(value)< 4045: faixa = '4044'   
    elif 4045 <=int(value)< 4050: faixa = '4549'
    elif 4050 <=int(value)< 4055: faixa = '5054'
    elif 4055 <=int(value)< 4060: faixa = '5559'
    elif 4060 <=int(value)< 4065: faixa = '6064'
    elif 4065 <=int(value)< 4070: faixa = '6569'
    elif 4070 <=int(value)< 4075: faixa = '7074'
    elif 4075 <=int(value)< 4080: faixa = '7579'
    elif 4080 <=int(value)< 8100: faixa = '8099'
    fx.extend([faixa])

In [19]:
data['faixa'] = fx
data

       id_mn_resi  nu_ano cs_sexo  nu_idade_n nu_idade_n_cor faixa
2        290980.0  2015.0       F      4024.0           4024  2024
3        510340.0  2015.0       M      4029.0           4029  2529
4        251480.0  2015.0       F      4026.0           4026  2529
6        172110.0  2015.0       F      4036.0           4036  3539
7        291360.0  2015.0       F      4042.0           4042  4044
...           ...     ...     ...         ...            ...   ...
31015    260620.0  2019.0       F      4016.0           4016  1519
31018    355170.0  2019.0       F      4004.0           4004     4
31019    355170.0  2019.0       F      4002.0           4002     4
31023    510618.0  2019.0       F      4007.0           4007   509
31025    290460.0  2019.0       M      4046.0           4046  4549

[295771 rows x 6 columns]

In [20]:
data.cs_sexo.value_counts()

F    197914
M     97476
I       380
f         1
Name: cs_sexo, dtype: int64

In [21]:
data['count'] = 1

In [22]:
data= data.rename(columns={"id_mn_resi": "codmunres"})

In [23]:
data= data.rename(columns={"nu_ano": "year"})

In [24]:
dados = data.groupby(['codmunres','year','cs_sexo','faixa'])['count'].sum().reset_index()

In [25]:
dados.cs_sexo = dados.cs_sexo.replace('F', 1)
dados.cs_sexo= dados.cs_sexo.replace('M', 2)

In [26]:
dados.head()

   codmunres    year cs_sexo faixa  count
0   110001.0  2016.0       1  1014      1
1   110001.0  2016.0       1  1519      1
2   110001.0  2016.0       1  2024      4
3   110001.0  2016.0       1  2529      5
4   110001.0  2016.0       1  3034      5

In [27]:
dados.groupby(['year'])['count'].sum()

year
2015.0     50119
2016.0    212602
2017.0     17152
2018.0      6316
2019.0      9571
Name: count, dtype: int64

In [ ]:
2016.0    212610
2015.0     50119
2017.0     17153
2019.0      9573
2018.0      6316

# Population

In [30]:
pop = pd.read_csv('/media/juliane_oliveira/My Passport/Datalake/POPULACAO/csv/POPBR12.csv')
#pop = pd.read_csv('/media/juliane_oliveira/My Passport/Datalake/POPULACAO/estimativas_pop_sex_age_muni_cidacs/pop_2000_2017_SFA.csv')
#pop = pop.drop(columns=['Unnamed: 0'])

In [31]:
pop.columns

Index(['MUNIC_RES', 'ANO', 'SEXO', 'SITUACAO', 'FXETARIA', 'POPULACAO'], dtype='object')

In [32]:
pop.FXETARIA.unique()

array([   0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099])

In [33]:
pop = pop.replace({'FXETARIA': {0: 4, 101:4, 202:4,  303:4,  404:4,
                                505: 509, 606: 509,  707: 509,  808: 509,  909: 509,
                                1010: 1014, 1111: 1014, 1212: 1014, 1313: 1014, 1414: 1014,
                                1515: 1519, 1616: 1519, 1717: 1519, 1818: 1519, 1919: 1519}})

In [34]:
pop.head()

   MUNIC_RES   ANO  SEXO  SITUACAO  FXETARIA  POPULACAO
0     110001  2012     1         3         4        187
1     110001  2012     1         3         4        186
2     110001  2012     1         3         4        187
3     110001  2012     1         3         4        190
4     110001  2012     1         3         4        193

# Creating tables to map the standard incidence ratio of dengue per year

## expected number of cases per year and cummulated

In [35]:
teste = dados

In [36]:
teste = teste[(2015 <= teste.year) & (teste.year <= 2019) & (teste.cs_sexo != 'f')&(teste.cs_sexo != 'I')]

In [37]:
teste.cs_sexo.unique()

array([1, 2], dtype=object)

In [38]:
teste.year.unique()

array([2016., 2019., 2017., 2018., 2015.])

In [39]:
teste['faixa'] = teste['faixa'].astype(int)

/home/juliane_oliveira/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34929 entries, 0 to 35052
Data columns (total 5 columns):
codmunres    34929 non-null float64
year         34929 non-null float64
cs_sexo      34929 non-null object
faixa        34929 non-null int64
count        34929 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.6+ MB

In [102]:
teste.to_csv('/media/juliane_oliveira/My Passport/dropbox_15_11_2019/Artigos_preprints/analise_de_risco/estimations_for_all_diseases/Spatial-modeling-of-dengue-chikungunya-and-Zika-transmission-in-Brazil/Data/data_zika.csv')

In [41]:
sum_observed_gender_age_year = []
for year in [2015,2016,2017,2018,2019]:
    df_year = teste[teste.year == year]
    table_year = pd.pivot_table(df_year, values='count', index=['codmunres'], columns=['cs_sexo','faixa'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_observed_gender_age_year.append(resulted_dataframe)

In [42]:
sum_observed_gender_age_year[3]

    cs_sexo  faixa      0
0         1      4  254.0
1         1    509  154.0
2         1   1014  175.0
3         1   1519  389.0
4         1   2024  570.0
5         1   2529  527.0
6         1   3034  479.0
7         1   3539  419.0
8         1   4044  306.0
9         1   4549  271.0
10        1   5054  222.0
11        1   5559  154.0
12        1   6064  111.0
13        1   6569   74.0
14        1   7074   55.0
15        1   7579   29.0
16        1   8099   20.0
17        2      4  265.0
18        2    509  142.0
19        2   1014  177.0
20        2   1519  164.0
21        2   2024  193.0
22        2   2529  168.0
23        2   3034  181.0
24        2   3539  165.0
25        2   4044  154.0
26        2   4549  128.0
27        2   5054  100.0
28        2   5559  103.0
29        2   6064   59.0
30        2   6569   40.0
31        2   7074   32.0
32        2   7579   19.0
33        2   8099   16.0

In [43]:
pop.head()

   MUNIC_RES   ANO  SEXO  SITUACAO  FXETARIA  POPULACAO
0     110001  2012     1         3         4        187
1     110001  2012     1         3         4        186
2     110001  2012     1         3         4        187
3     110001  2012     1         3         4        190
4     110001  2012     1         3         4        193

In [44]:
pop = pop.drop(columns='SITUACAO')

# Population

In [45]:
pop = pop.astype(int)

In [46]:
teste_pop = pop.groupby(['MUNIC_RES','ANO','SEXO','FXETARIA'])['POPULACAO'].sum().reset_index()
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2012     1         4        943
1     110001  2012     1       509       1058
2     110001  2012     1      1014       1239
3     110001  2012     1      1519       1343
4     110001  2012     1      2024       1090

In [103]:
teste_pop.to_csv('/media/juliane_oliveira/My Passport/dropbox_15_11_2019/Artigos_preprints/analise_de_risco/estimations_for_all_diseases/Spatial-modeling-of-dengue-chikungunya-and-Zika-transmission-in-Brazil/Data/pop.csv')

In [ ]:
# Calculus for estimated population
#sum_pop_gender_age_year = []
#for year in [2015,2016,2017,2018]:
#    df_year = teste_pop[teste_pop.ANO == year]
#    table_year = pd.pivot_table(df_year, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#    table_year=table_year.fillna(0)
#    resulted_dataframe = table_year.sum().reset_index()
#    sum_pop_gender_age_year.append(resulted_dataframe)

In [47]:
table_pop = pd.pivot_table(teste_pop, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
table_pop

SEXO           1                                                          \
FXETARIA    4       509     1014    1519    2024    2529    3034    3539
MUNIC_RES
110001       943    1058    1239    1343    1090    1039     938     866
110002      3742    4288    4865    4598    4574    4271    3854    3522
110003       234     246     304     307     220     243     230     235
110004      2987    3234    3792    4016    3833    3483    3201    2966
110005       620     694     831     865     757     674     632     581
...          ...     ...     ...     ...     ...     ...     ...     ...
522200       423     524     577     557     530     536     566     521
522205       297     314     333     338     386     363     358     338
522220       243     266     249     229     242     370     263     194
522230       186     240     274     236     200     173     208     213
530010     98864  104928  113968  112108  124044  131400  122121  103098

SEXO                     ...       2                                      \
FXETARIA    4044   4549  ...    3539    4044   4549   5054   5559   6064
MUNIC_RES                ...
110001       901    835  ...     905     792    710    508    425    307
110002      3378   2682  ...    3606    3208   2494   1877   1523   1069
110003       240    207  ...     209     213    196    168    138     91
110004      2842   2459  ...    3159    2859   2420   1963   1441   1018
110005       632    575  ...     655     623    542    402    307    298
...          ...    ...  ...     ...     ...    ...    ...    ...    ...
522200       506    410  ...     522     458    416    308    234    209
522205       304    272  ...     286     301    217    176    157     82
522220       158    139  ...     138     148    109     81     62     38
522230       192    173  ...     163     183    160    121    136     94
530010     91493  74737  ...  116108  101992  87146  69220  54147  40270

SEXO
FXETARIA    6569   7074   7579   8099
MUNIC_RES
110001       261    175    117     72
110002       755    510    325    302
110003        63     66     33     26
110004       803    613    435    383
110005       194    133     96     83
...          ...    ...    ...    ...
522200       172    142     80     99
522205        71     56     27     37
522220        44     14     18     12
522230        63     44     31     23
530010     27736  20499  12790  14770

[5565 rows x 34 columns]

In [48]:
table_pop=table_pop.fillna(0)

In [49]:
sum_pop_gender_age_year = table_pop.sum().reset_index()
sum_pop_gender_age_year

    SEXO  FXETARIA        0
0      1         4  7143389
1      1       509  7758474
2      1      1014  8875967
3      1      1519  8704999
4      1      2024  8782606
5      1      2529  8610952
6      1      3034  7853458
7      1      3539  6883541
8      1      4044  6427350
9      1      4549  5785459
10     1      5054  4912910
11     1      5559  3963556
12     1      6064  3087312
13     1      6569  2256975
14     1      7074  1691406
15     1      7579  1105881
16     1      8099  1148647
17     2         4  6901204
18     2       509  7474673
19     2      1014  8587202
20     2      1519  8577046
21     2      2024  8766636
22     2      2529  8795610
23     2      3034  8166586
24     2      3539  7243527
25     2      4044  6800153
26     2      4549  6240934
27     2      5054  5389329
28     2      5559  4441120
29     2      6064  3520063
30     2      6569  2654866
31     2      7074  2103802
32     2      7579  1493580
33     2      8099  1827317

# calculating r_ j (for each year)

In [ ]:
# calculus for estimated population
#r_j = []
#for df1,df2 in zip(sum_observed_gender_age_year,sum_pop_gender_age_year):
    #df2.rename(columns={0:'pop'}, inplace=True)
#    risco_relativo = df1[0]/df2[0]
#    r_j.append(risco_relativo)

In [50]:
r_j = []
for df1 in sum_observed_gender_age_year:
    #df2.rename(columns={0:'pop'}, inplace=True)
    risco_relativo = df1[0]/sum_pop_gender_age_year[0]
    r_j.append(risco_relativo)

In [52]:
r_j[1]

0     0.000887
1     0.000659
2     0.000733
3     0.001384
4     0.001820
5     0.001909
6     0.002093
7     0.002066
8     0.001775
9     0.001735
10    0.001773
11    0.001705
12    0.001540
13    0.001428
14    0.001119
15    0.001106
16    0.001064
17    0.000869
18    0.000612
19    0.000632
20    0.000699
21    0.000759
22    0.000745
23    0.000812
24    0.000828
25    0.000738
26    0.000687
27    0.000689
28    0.000661
29    0.000647
30    0.000573
31    0.000495
32    0.000451
33    0.000378
Name: 0, dtype: float64

# calculating E_i for each municipality

# 2015

In [ ]:
#filter_2015 = teste_pop[teste_pop.ANO == 2015]

In [ ]:
#P_2015 = pd.pivot_table(filter_2015, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#P_2015;

In [53]:
P_2015 = table_pop

In [54]:
E_2015 =[]
for i in range(len(P_2015)):
    E_i = sum(np.array(P_2015.iloc[i])*np.array(r_j[0]))
    E_2015.append([P_2015.index.values[i],E_i])

In [55]:
Expected_2015 = pd.DataFrame(E_2015,
                 columns=['codmunres', 'expected_2015'])

In [56]:
Expected_2015.head()

   codmunres  expected_2015
0     110001       6.379363
1     110002      24.548834
2     110003       1.618329
3     110004      20.820441
4     110005       4.388708

# 2016

In [ ]:
#filter_2016 = teste_pop[teste_pop.ANO == 2016]

In [ ]:
#P_2016 = pd.pivot_table(filter_2016, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#P_2016;

In [58]:
P_2016 = table_pop

In [59]:
E_2016 =[]
for i in range(len(P_2016)):
    E_i = sum(np.array(P_2016.iloc[i])*np.array(r_j[1]))
    E_2016.append([P_2016.index.values[i],E_i])

In [60]:
Expected_2016 = pd.DataFrame(E_2016,
                 columns=['codmunres', 'expected_2016'])

In [ ]:
#Expected_2016.head()

In [61]:
Expected_2016.head()

   codmunres  expected_2016
0     110001      26.774072
1     110002     102.445162
2     110003       6.828339
3     110004      87.664749
4     110005      18.529752

# 2017

In [ ]:
#filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [ ]:
#P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#P_2017;

In [62]:
P_2017 = table_pop

In [63]:
E_2017 =[]
for i in range(len(P_2017)):
    E_i = sum(np.array(P_2017.iloc[i])*np.array(r_j[2]))
    E_2017.append([P_2017.index.values[i],E_i])

In [64]:
Expected_2017 = pd.DataFrame(E_2017,
                 columns=['codmunres', 'expected_2017'])

In [65]:
Expected_2017.head()

   codmunres  expected_2017
0     110001       2.185409
1     110002       8.454050
2     110003       0.547614
3     110004       7.151081
4     110005       1.499231

# 2018

In [ ]:
#filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [ ]:
#P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#P_2017;

In [68]:
P_2018 = table_pop

In [69]:
E_2018 =[]
for i in range(len(P_2018)):
    E_i = sum(np.array(P_2018.iloc[i])*np.array(r_j[3]))
    E_2018.append([P_2018.index.values[i],E_i])

In [70]:
Expected_2018 = pd.DataFrame(E_2018,
                 columns=['codmunres', 'expected_2018'])

In [71]:
Expected_2018.head()

   codmunres  expected_2018
0     110001       0.799248
1     110002       3.077395
2     110003       0.202020
3     110004       2.618482
4     110005       0.550811

# 2019

In [ ]:
#filter_2017 = teste_pop[teste_pop.ANO == 2017]

In [ ]:
#P_2017 = pd.pivot_table(filter_2017, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
#P_2017;

In [72]:
P_2019 = table_pop

In [73]:
E_2019 =[]
for i in range(len(P_2019)):
    E_i = sum(np.array(P_2019.iloc[i])*np.array(r_j[4]))
    E_2019.append([P_2019.index.values[i],E_i])

In [74]:
Expected_2019 = pd.DataFrame(E_2019,
                 columns=['codmunres', 'expected_2019'])

In [75]:
Expected_2019.head()

   codmunres  expected_2019
0     110001       1.217237
1     110002       4.718373
2     110003       0.305461
3     110004       3.975206
4     110005       0.833876

# Observed number of cases per municipality and year

In [76]:
observed = dados.groupby(['codmunres','year'])['count'].sum().reset_index()
observed.head()

   codmunres    year  count
0   110001.0  2016.0     42
1   110001.0  2019.0      2
2   110002.0  2016.0     13
3   110002.0  2017.0      2
4   110002.0  2019.0      3

In [77]:
observed = observed.astype(int)
observed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4892 entries, 0 to 4891
Data columns (total 3 columns):
codmunres    4892 non-null int64
year         4892 non-null int64
count        4892 non-null int64
dtypes: int64(3)
memory usage: 114.8 KB

In [78]:
observed.describe()

           codmunres         year         count
count    4892.000000  4892.000000   4892.000000
mean   312320.362224  2016.908217     60.457890
std    102521.168556     1.322454    605.768394
min    110001.000000  2015.000000      1.000000
25%    250510.000000  2016.000000      1.000000
50%    292700.000000  2016.000000      3.000000
75%    352017.500000  2018.000000     13.000000
max    539904.000000  2019.000000  32711.000000

In [79]:
observed[observed.year == 2015]

      codmunres  year  count
17       110010  2015      2
29       110020  2015      2
38       110030  2015      1
95       130260  2015     37
111      140005  2015      1
...         ...   ...    ...
4721     520870  2015     38
4852     521975  2015      2
4867     522140  2015      3
4873     522160  2015      1
4886     530010  2015     16

[538 rows x 3 columns]

In [80]:
observed = observed[(2015 <= observed.year) & (observed.year <= 2019)]

In [81]:
observed = pd.pivot_table(observed, values='count', index=['codmunres'], columns=['year'])

In [82]:
observed = observed.fillna(0) 
observed

year       2015   2016  2017  2018   2019
codmunres
110001      0.0   42.0   0.0   0.0    2.0
110002      0.0   13.0   2.0   0.0    3.0
110003      0.0    0.0   0.0   0.0    3.0
110004      0.0    2.0   1.0   0.0    8.0
110005      0.0   30.0   9.0   0.0    1.0
...         ...    ...   ...   ...    ...
522205      0.0    5.0   0.0   0.0    0.0
522220      0.0    1.0  15.0   0.0    0.0
522230      0.0    0.0   4.0   1.0    0.0
530010     16.0  344.0  59.0  21.0  203.0
539904      0.0    1.0   0.0   0.0    0.0

[2524 rows x 5 columns]

# calculate the standard incidence ratio

In [83]:
codigo_muni = pd.read_excel('/media/juliane_oliveira/My Passport/Datalake/POPULACAO/PopulaÃ§Ã£o/POP_python/DTB_BRASIL_MUNICIPIO.xls')

In [84]:
codigo_muni.head()

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,CÃ³digo MunicÃ­pio Completo,Nome_MunicÃ­pio
0,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so
3,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [85]:
codigo_muni.columns

Index(['UF', 'Nome_UF', 'MesorregiÃ£o GeogrÃ¡fica', 'Nome_MesorregiÃ£o',
       'MicrorregiÃ£o GeogrÃ¡fica', 'Nome_MicrorregiÃ£o', 'MunicÃ­pio',
       'CÃ³digo MunicÃ­pio Completo', 'Nome_MunicÃ­pio'],
      dtype='object')

In [86]:
codigo_muni.rename(columns={'CÃ³digo MunicÃ­pio Completo':'codmuni_full'}, 
                 inplace=True);

In [87]:
codigo_muni['codmuni'] = codigo_muni.codmuni_full.floordiv(10)

In [88]:
codigo_muni.head()

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,codmuni
0,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,110001
1,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,110037
2,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,110040
3,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,110034
4,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,110002

In [89]:
observed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2524 entries, 110001 to 539904
Data columns (total 5 columns):
2015    2524 non-null float64
2016    2524 non-null float64
2017    2524 non-null float64
2018    2524 non-null float64
2019    2524 non-null float64
dtypes: float64(5)
memory usage: 118.3 KB

In [90]:
final = codigo_muni.set_index('codmuni').join(observed)

In [91]:
final

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,2015,2016,2017,2018,2019
codmuni,,,,,,,,,,,,,,
110001,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,0.0,42.0,0.0,0.0,2.0
110037,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,0.0,2.0,0.0,0.0,0.0
110040,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,NaN,NaN,NaN,NaN,NaN
110034,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,NaN,NaN,NaN,NaN,NaN
110002,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,0.0,13.0,2.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,GoiÃ¡s,5,Sul Goiano,16,Pires do Rio,22005,5222005,VianÃ³polis,NaN,NaN,NaN,NaN,NaN
522205,52,GoiÃ¡s,5,Sul Goiano,15,Meia Ponte,22054,5222054,VicentinÃ³polis,0.0,5.0,0.0,0.0,0.0
522220,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22203,5222203,Vila Boa,0.0,1.0,15.0,0.0,0.0
522230,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22302,5222302,Vila PropÃ­cio,0.0,0.0,4.0,1.0,0.0
530010,53,Distrito Federal,1,Distrito Federal,1,BrasÃ­lia,108,5300108,BrasÃ­lia,16.0,344.0,59.0,21.0,203.0

In [92]:
final = final.join(Expected_2015.set_index('codmunres')).join(Expected_2016.set_index('codmunres')).join(Expected_2017.set_index('codmunres')).join(Expected_2018.set_index('codmunres')).join(Expected_2019.set_index('codmunres'))

In [93]:
final.columns

Index([                     'UF',                 'Nome_UF',
        'MesorregiÃ£o GeogrÃ¡fica',        'Nome_MesorregiÃ£o',
       'MicrorregiÃ£o GeogrÃ¡fica',       'Nome_MicrorregiÃ£o',
                     'MunicÃ­pio',            'codmuni_full',
                'Nome_MunicÃ­pio',                      2015,
                            2016,                      2017,
                            2018,                      2019,
                 'expected_2015',           'expected_2016',
                 'expected_2017',           'expected_2018',
                 'expected_2019'],
      dtype='object')

In [94]:
final = final.fillna(0)

In [95]:
final['SIR_2015'] = final[2015]/final['expected_2015']
final['SIR_2016'] = final[2016]/final['expected_2016']
final['SIR_2017'] = final[2017]/final['expected_2017']
final['SIR_2018'] = final[2018]/final['expected_2018']
final['SIR_2019'] = final[2019]/final['expected_2019']

In [96]:
final = final.fillna(0)

In [97]:
final.describe()

,UF,MesorregiÃ£o GeogrÃ¡fica,MicrorregiÃ£o GeogrÃ¡fica,MunicÃ­pio,codmuni_full,2015,2016,2017,2018,2019,expected_2015,expected_2016,expected_2017,expected_2018,expected_2019,SIR_2015,SIR_2016,SIR_2017,SIR_2018,SIR_2019
count,5570.000000,5570.000000,5570.000000,5570.000000,5.570000e+03,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.00000,5570.000000,5570.000000,5570.000000,5570.000000
mean,32.377738,4.264991,17.633573,15816.982585,3.253591e+06,8.998025,38.168761,3.079354,1.133932,1.718312,8.994255,38.113106,3.076302,1.133752,1.712926,0.75942,0.630694,0.594838,0.614646,0.893738
std,9.833862,3.206175,15.514306,15997.299780,9.849103e+05,120.576050,553.738048,46.637950,14.331028,19.857976,52.655823,225.465164,17.948890,6.668230,9.950545,6.70093,2.915752,5.697196,6.418991,5.678287
min,11.000000,1.000000,1.000000,13.000000,1.100015e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,2.000000,6.000000,4507.250000,2.512126e+06,0.000000,0.000000,0.000000,0.000000,0.000000,1.355074,5.772806,0.461480,0.170449,0.257518,0.00000,0.000000,0.000000,0.000000,0.000000
50%,31.000000,3.000000,13.000000,10400.500000,3.146280e+06,0.000000,0.000000,0.000000,0.000000,0.000000,2.855625,12.064951,0.973755,0.358597,0.545636,0.00000,0.000000,0.000000,0.000000,0.000000
75%,41.000000,6.000000,24.000000,20853.000000,4.119190e+06,0.000000,2.000000,0.000000,0.000000,0.000000,6.121940,25.806671,2.092216,0.767350,1.170594,0.00000,0.081614,0.000000,0.000000,0.000000
max,53.000000,15.000000,66.000000,72202.000000,5.300108e+06,6502.000000,32711.000000,2685.000000,533.000000,1078.000000,2915.853380,12494.140205,993.339855,369.302816,550.644290,295.08527,78.864409,266.671193,347.764591,192.973879

In [98]:
final

,UF,Nome_UF,MesorregiÃ£o GeogrÃ¡fica,Nome_MesorregiÃ£o,MicrorregiÃ£o GeogrÃ¡fica,Nome_MicrorregiÃ£o,MunicÃ­pio,codmuni_full,Nome_MunicÃ­pio,2015,...,expected_2015,expected_2016,expected_2017,expected_2018,expected_2019,SIR_2015,SIR_2016,SIR_2017,SIR_2018,SIR_2019
codmuni,,,,,,,,,,,,,,,,,,,,,
110001,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,0.0,...,6.379363,26.774072,2.185409,0.799248,1.217237,0.000000,1.568682,0.000000,0.000000,1.643066
110037,11,RondÃ´nia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,0.0,...,3.421431,14.204738,1.173681,0.425660,0.656910,0.000000,0.140798,0.000000,0.000000,0.000000
110040,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto ParaÃ­so,0.0,...,4.734147,19.681717,1.616575,0.588602,0.907546,0.000000,0.000000,0.000000,0.000000,0.000000
110034,11,RondÃ´nia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,0.0,...,4.309552,18.088809,1.470797,0.538214,0.821052,0.000000,0.000000,0.000000,0.000000,0.000000
110002,11,RondÃ´nia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,0.0,...,24.548834,102.445162,8.454050,3.077395,4.718373,0.000000,0.126897,0.236573,0.000000,0.635812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,GoiÃ¡s,5,Sul Goiano,16,Pires do Rio,22005,5222005,VianÃ³polis,0.0,...,3.346401,14.176992,1.138512,0.419639,0.633737,0.000000,0.000000,0.000000,0.000000,0.000000
522205,52,GoiÃ¡s,5,Sul Goiano,15,Meia Ponte,22054,5222054,VicentinÃ³polis,0.0,...,2.053049,8.663551,0.704510,0.258798,0.391345,0.000000,0.577131,0.000000,0.000000,0.000000
522220,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22203,5222203,Vila Boa,0.0,...,1.367763,5.678151,0.475743,0.172265,0.266550,0.000000,0.176114,31.529654,0.000000,0.000000
522230,52,GoiÃ¡s,4,Leste Goiano,12,Entorno de BrasÃ­lia,22302,5222302,Vila PropÃ­cio,0.0,...,1.378459,5.826671,0.464959,0.171466,0.260392,0.000000,0.000000,8.602910,5.832072,0.000000
530010,53,Distrito Federal,1,Distrito Federal,1,BrasÃ­lia,108,5300108,BrasÃ­lia,16.0,...,692.686309,2921.716621,238.185459,87.421869,132.272986,0.023098,0.117739,0.247706,0.240214,1.534705

In [99]:
final[2015].sum()

50119.0

In [100]:
data.year.value_counts()

2016.0    212610
2015.0     50119
2017.0     17153
2019.0      9573
2018.0      6316
Name: year, dtype: int64

In [101]:
final.to_excel('standard_incidence_ratio_zika_popcenso.xls')