In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
from datetime import datetime, timedelta
#import plotly.graph_objs as go
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline
sns.set()
from PIL import Image

# Dengue dataset:

The dataset is just the filtered confirmed cases, using spark, of the original dataset (see SINAN_extracao_dengue)

# Confirmed Cases

In [2]:
import sys
import glob

path = r'/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/'
filenames = glob.glob(path + "/*.csv")
filenames

['/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2014.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_A.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2017.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_C.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_B.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2016.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2012.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2013_a.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2011.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2013_b.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2010.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2018.csv',
 '/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2019.csv']

### Clean data of 2019

In [3]:
filenames[-1]

'/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2019.csv'

In [4]:
df1 = pd.read_csv(filenames[-1], low_memory = False, encoding="iso-8859-1")

In [5]:
for value in df1.columns:
    print(value)

tp_not
id_agravo
sg_uf_not
id_municip
dt_notific
sem_not
classi_fin
nu_ano
criterio
dt_sin_pri
sem_pri
cs_sexo
nu_idade_n
dt_nasc
codmunres
sg_uf

In [6]:
df1['dt_nasc']

0          19770302.0
1          19860730.0
2          19870129.0
3          19991010.0
4          20071006.0
              ...
1310404    19960609.0
1310405    19850306.0
1310406    20180725.0
1310407    19850626.0
1310408    20180321.0
Name: dt_nasc, Length: 1310409, dtype: float64

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310409 entries, 0 to 1310408
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tp_not      1309902 non-null  float64
 1   id_agravo   1309901 non-null  object
 2   sg_uf_not   1309905 non-null  float64
 3   id_municip  1309906 non-null  object
 4   dt_notific  1309901 non-null  object
 5   sem_not     1309903 non-null  object
 6   classi_fin  1310409 non-null  int64
 7   nu_ano      1309904 non-null  object
 8   criterio    1310406 non-null  object
 9   dt_sin_pri  1309906 non-null  object
 10  sem_pri     1309906 non-null  float64
 11  cs_sexo     1309900 non-null  object
 12  nu_idade_n  14 non-null       float64
 13  dt_nasc     1293601 non-null  float64
 14  codmunres   1309897 non-null  object
 15  sg_uf       1309904 non-null  float64
dtypes: float64(6), int64(1), object(9)
memory usage: 160.0+ MB

In [8]:
#df1['dt_nasc'] = df1['dt_nasc'].replace('        ', '16771001')

In [9]:
df1['dt_nasc'] = df1['dt_nasc'].fillna(0)

In [10]:
df1['dt_nasc'] = df1['dt_nasc'].astype(int)

In [11]:
df1['date']= pd.to_datetime(df1['dt_nasc'].astype(str), errors='coerce')

In [12]:
df1['date']

0         1977-03-02
1         1986-07-30
2         1987-01-29
3         1999-10-10
4         2007-10-06
             ...
1310404   1996-06-09
1310405   1985-03-06
1310406   2018-07-25
1310407   1985-06-26
1310408   2018-03-21
Name: date, Length: 1310409, dtype: datetime64[ns]

In [13]:
from datetime import date 
def calculateAge(born): 
    today = date(2019, 6, 1)
    try:  
        birthday = born.replace(year = today.year) 
  
    # raised when birth date is February 29 
    # and the current year is not a leap year 
    except ValueError:  
        birthday = born.replace(year = today.year, 
                  month = born.month + 1, day = 1) 
  
    if birthday > today: 
        return today.year - born.year - 1
    else: 
        return today.year - born.year

In [14]:
nu_age = []
for value in df1['date']:
    nu_age.append(calculateAge(value))

In [15]:
df1['nu_idade_n'] = nu_age

In [19]:
df1.columns

Index(['tp_not', 'id_agravo', 'sg_uf_not', 'id_municip', 'dt_notific',
       'sem_not', 'classi_fin', 'nu_ano', 'criterio', 'dt_sin_pri', 'sem_pri',
       'cs_sexo', 'nu_idade_n', 'dt_nasc', 'id_mn_resi', 'sg_uf', 'date'],
      dtype='object')

In [17]:
df1.nu_idade_n.value_counts()

21.0     27103
22.0     26580
23.0     26390
24.0     26197
19.0     25927
         ...
112.0        2
113.0        1
114.0        1
117.0        1
118.0        1
Name: nu_idade_n, Length: 119, dtype: int64

In [18]:
df1= df1.rename(columns={"codmunres": "id_mn_resi"})

### end clean data 2019

In [20]:
lst_df = []
for f in filenames:
    print(f)
    df = pd.read_csv(f, low_memory = False, encoding="iso-8859-1")    
    df.columns= df.columns.str.lower()
    lst_df.append(df)

/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2014.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_A.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2017.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_C.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2015_B.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2016.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2012.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2013_a.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2011.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2013_b.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2010.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2018.csv
/Users/julianeoliveira/Desktop/hard_disc/Datalake/SINAN/Dengue/Dengue_confirmado/dengueconf2019.csv

In [21]:
lst_df[-1] = df1

In [22]:
df = pd.concat(lst_df,sort=True)

We will create year and month from  variable 'dt_notific' in order to use in our work. (see dengue_case_file for the problematic relating to the variable tp extract the week)

df['Mycol'] =  df['dt_notific'].apply(pd.to_datetime)
df['year'] = pd.DatetimeIndex(df['Mycol']).year
df['month'] = pd.DatetimeIndex(df['Mycol']).month
df.year.value_counts() # number of cases per year

### Process to clean age group and padronize following the age category given in population from IBGE

In [23]:
df.nu_idade_n = df.nu_idade_n.fillna(0)

In [24]:
df.nu_idade_n.unique()

array([ 4.010e+03,  4.012e+03,  4.066e+03,  4.014e+03,  4.016e+03,
        4.030e+03,  4.023e+03,  4.032e+03,  4.005e+03,  4.021e+03,
        4.049e+03,  4.056e+03,  4.063e+03,  4.022e+03,  4.043e+03,
        4.081e+03,  4.024e+03,  4.070e+03,  4.013e+03,  4.009e+03,
        4.007e+03,  4.044e+03,  4.037e+03,  4.045e+03,  4.042e+03,
        4.040e+03,  4.034e+03,  4.046e+03,  4.052e+03,  4.019e+03,
        4.020e+03,  4.029e+03,  4.036e+03,  4.027e+03,  4.039e+03,
        4.047e+03,  4.051e+03,  4.077e+03,  4.011e+03,  4.025e+03,
        4.026e+03,  4.002e+03,  4.061e+03,  4.038e+03,  4.028e+03,
        4.053e+03,  4.072e+03,  4.054e+03,  4.035e+03,  4.033e+03,
        4.018e+03,  3.006e+03,  4.058e+03,  4.001e+03,  4.015e+03,
        4.006e+03,  4.055e+03,  4.069e+03,  4.073e+03,  4.080e+03,
        4.017e+03,  4.008e+03,  4.004e+03,  4.031e+03,  4.048e+03,
        4.064e+03,  3.010e+03,  4.057e+03,  4.062e+03,  3.005e+03,
        2.001e+03,  4.041e+03,  4.068e+03,  4.059e+03,  4.003e+03,
        4.050e+03,  4.076e+03,  4.083e+03,  4.065e+03,  3.001e+03,
        4.071e+03,  3.008e+03,  4.060e+03,  4.075e+03,  4.067e+03,
        4.087e+03,  4.085e+03,  2.009e+03,  3.003e+03,  2.004e+03,
        4.078e+03,  4.092e+03,  4.074e+03,  3.009e+03,  2.002e+03,
        4.084e+03,  3.007e+03,  4.079e+03,  3.002e+03,  2.008e+03,
        4.094e+03,  4.088e+03,  2.007e+03,  3.004e+03,  2.040e+03,
        2.015e+03,  4.089e+03,  4.086e+03,  2.005e+03,  4.093e+03,
        4.090e+03,  4.099e+03,  3.011e+03,  2.028e+03,  2.017e+03,
        2.011e+03,  2.003e+03,  4.082e+03,  4.097e+03,  2.021e+03,
        4.100e+03,  4.108e+03,  2.030e+03,  4.403e+03,  4.113e+03,
        2.018e+03,  4.102e+03,  2.027e+03,  4.404e+03,  4.091e+03,
        4.095e+03,  4.815e+03,  2.016e+03,  4.402e+03,  2.012e+03,
        2.013e+03,  2.020e+03,  2.010e+03,  2.025e+03,  2.014e+03,
        2.029e+03,  2.023e+03,  2.019e+03,  2.006e+03,  2.022e+03,
        2.024e+03,  4.096e+03,  3.026e+03,  4.406e+03,  2.026e+03,
        4.401e+03,  4.107e+03,  2.000e+03,  4.098e+03,  4.405e+03,
        2.034e+03,  6.800e+01,  4.200e+01,  2.200e+01,  4.400e+03,
        4.103e+03,  3.030e+03,  4.101e+03,  4.106e+03,  4.110e+03,
        4.407e+03,  4.440e+03,  3.500e+01,  3.053e+03,  2.069e+03,
        4.000e+03,  3.021e+03,  3.300e+03,  4.120e+03,  1.120e+03,
        4.412e+03,  3.301e+03,  4.112e+03,  1.028e+03,  1.000e+03,
        3.012e+03,  3.251e+03,  4.515e+03,  7.000e+01,  4.105e+03,
        4.111e+03,  3.027e+03,  4.115e+03,  1.040e+03,  1.076e+03,
        1.043e+03,  3.013e+03,  2.052e+03,  2.031e+03,  4.114e+03,
        4.800e+01,  1.018e+03,  1.100e+01,  4.104e+03,  3.000e+01,
        1.022e+03,  1.800e+01,  2.085e+03,  5.100e+01,  3.200e+01,
        2.100e+01,  2.039e+03,  1.015e+03,  3.020e+03,  4.109e+03,
        5.600e+01,  1.038e+03,  3.600e+01,  3.082e+03,  2.064e+03,
        3.072e+03,  3.049e+03,  1.075e+03,  3.066e+03,  2.080e+03,
        1.027e+03,  3.050e+03,  3.016e+03,  3.019e+03,  3.061e+03,
        4.117e+03,  3.041e+03,  2.068e+03,  1.084e+03,  4.116e+03,
        1.056e+03,  3.000e+00,  6.000e+00,  2.000e+00,  3.017e+03,
        1.900e+01,  3.046e+03,  2.059e+03,  1.016e+03,  2.300e+01,
        3.071e+03,  2.600e+01,  3.300e+01,  5.700e+01,  4.814e+03,
        1.000e+00,  1.300e+01,  4.600e+01,  2.400e+01,  2.054e+03,
        1.099e+03,  1.035e+03,  1.400e+01,  4.408e+03,  3.800e+01,
        2.066e+03,  3.400e+01,  1.200e+01,  4.900e+01,  6.500e+01,
        4.000e+00,  3.058e+03,  3.039e+03,  1.037e+03,  1.032e+03,
        3.033e+03,  1.055e+03,  3.059e+03,  1.009e+03,  1.039e+03,
        7.900e+01,  5.200e+01,  1.021e+03,  3.018e+03,  1.034e+03,
        1.033e+03,  3.000e+03,  4.662e+03,  1.042e+03,  1.105e+03,
        1.064e+03,  1.062e+03,  4.274e+03,  1.051e+03,  1.054e+03,
        1.077e+03,  4.300e+01,  4.181e+03,  4.748e+03,  3.044e+03,
        6.300e+01,  2.200e+03,  4.020e+02,  3.056e+03,  4.219e+03,
        1.025e+03,  3.014e+03,  3.040e+03,  2.072e+03,  3.022e+03,
        3.330e+03,  2.032e+03,  2.046e+03,  3.025e+03,  3.048e+03,
        3.045e+03,  3.069e+03,  3.043e+03,  2.036e+03,  2.035e+03,
        3.074e+03,  3.028e+03,  1.023e+03,  2.070e+03,  2.043e+03,
        2.038e+03,  3.023e+03,  3.060e+03,  2.042e+03,  2.060e+03,
        2.044e+03,  2.050e+03,  2.063e+03,  2.053e+03,  2.037e+03,
        3.035e+03,  3.037e+03,  3.052e+03,  2.061e+03,  2.062e+03,
        2.049e+03,  1.004e+03,  2.045e+03,  3.070e+03,  2.047e+03,
        3.029e+03,  3.047e+03,  4.501e+03,  3.051e+03,  4.124e+03,
        4.144e+03,  4.769e+03,  2.058e+03,  8.200e+01,  3.042e+03,
        3.036e+03,  3.055e+03,  2.051e+03,  3.038e+03,  4.312e+03,
        1.010e+03,  3.031e+03,  4.410e+03,  3.068e+03,  3.034e+03,
        1.700e+01,  4.999e+03,  4.684e+03,  3.057e+03,  4.500e+01,
        3.067e+03,  2.033e+03,  1.001e+03,  1.005e+03,  3.024e+03,
        2.067e+03,  3.063e+03,  2.076e+03,  4.663e+03,  4.125e+03,
        3.032e+03,  1.008e+03,  2.073e+03,  3.054e+03,  2.057e+03,
        1.011e+03,  3.064e+03,  1.006e+03,  8.000e+00,  2.048e+03,
        3.062e+03,  3.015e+03,  4.409e+03,  2.075e+03,  3.065e+03,
        2.071e+03,  4.130e+03,  2.041e+03,  1.031e+03,  1.013e+03,
        4.700e+01,  2.056e+03,  3.076e+03,  1.002e+03,  2.090e+03,
        2.078e+03,  3.078e+03,  2.099e+03,  8.000e+01,  1.058e+03,
        3.083e+03,  1.000e+01,  2.086e+03,  1.003e+03,  1.500e+01,
        8.800e+01,  7.200e+01,  1.046e+03,  4.322e+03,  4.444e+03,
        2.055e+03,  3.081e+03,  1.019e+03,  2.074e+03,  2.093e+03,
        1.020e+03,  2.065e+03,  2.077e+03,  1.036e+03,  2.081e+03,
        3.079e+03,  3.073e+03,  3.075e+03,  2.079e+03,  3.080e+03,
        3.077e+03,  4.118e+03,  2.082e+03,  2.098e+03,  3.086e+03,
        2.088e+03,  1.050e+03,  4.100e+01,  1.065e+03,  5.900e+01,
        7.800e+01,  6.000e+01,  7.600e+01,  5.300e+01,  0.000e+00,
        6.100e+01,  2.800e+01,  3.900e+01,  4.400e+01,  2.000e+01,
        2.900e+01,  9.000e+00,  3.700e+01,  5.400e+01,  2.500e+01,
        1.600e+01,  5.000e+01, -1.000e+00,  2.700e+01,  6.700e+01,
        3.100e+01,  8.900e+01,  5.000e+00,  6.600e+01,  4.000e+01,
        6.900e+01,  6.400e+01,  7.000e+00,  5.800e+01,  7.700e+01,
        8.100e+01,  5.500e+01,  7.100e+01,  7.300e+01,  6.200e+01,
        7.400e+01,  8.300e+01,  1.070e+02,  8.700e+01,  7.500e+01,
        9.400e+01,  9.000e+01,  8.400e+01,  9.100e+01,  8.600e+01,
        9.600e+01,  8.500e+01,  9.700e+01,  9.200e+01,  1.010e+02,
        9.500e+01,  9.300e+01,  1.050e+02,  9.800e+01,  9.900e+01,
        1.090e+02,  1.030e+02,  1.020e+02,  1.040e+02,  1.000e+02,
        1.060e+02,  1.120e+02,  1.160e+02,  1.140e+02,  1.150e+02,
        1.080e+02,  1.130e+02,  1.170e+02,  1.190e+02,  1.180e+02])

In [25]:
vector =[]
for value in df.nu_idade_n.astype(int).astype(str):
    if value == '1': value = 2001
    elif value == '2': value = 2001
    elif value == '3': value = 3001
    elif 4<= int(value) < 10: value = '400'+value
    elif len(value) == 2: value = '40' + value
    elif len(value) == 3: value = '4' + value
    vector.extend([value])

In [26]:
np.unique(vector)

array(['0', '1000', '1001', '1002', '1003', '1004', '1005', '1006',
       '1008', '1009', '1010', '1011', '1013', '1015', '1016', '1018',
       '1019', '1020', '1021', '1022', '1023', '1025', '1027', '1028',
       '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1038',
       '1039', '1040', '1042', '1043', '1046', '1050', '1051', '1054',
       '1055', '1056', '1058', '1062', '1064', '1065', '1075', '1076',
       '1077', '1084', '1099', '1105', '1120', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026',
       '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034',
       '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042',
       '2043', '2044', '2045', '2046', '2047', '2048', '2049', '2050',
       '2051', '2052', '2053', '2054', '2055', '2056', '2057', '2058',
       '2059', '2060', '2061', '2062', '2063', '2064', '2065', '2066',
       '2067', '2068', '2069', '2070', '2071', '2072', '2073', '2074',
       '2075', '2076', '2077', '2078', '2079', '2080', '2081', '2082',
       '2085', '2086', '2088', '2090', '2093', '2098', '2099', '2200',
       '3000', '3001', '3002', '3003', '3004', '3005', '3006', '3007',
       '3008', '3009', '3010', '3011', '3012', '3013', '3014', '3015',
       '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023',
       '3024', '3025', '3026', '3027', '3028', '3029', '3030', '3031',
       '3032', '3033', '3034', '3035', '3036', '3037', '3038', '3039',
       '3040', '3041', '3042', '3043', '3044', '3045', '3046', '3047',
       '3048', '3049', '3050', '3051', '3052', '3053', '3054', '3055',
       '3056', '3057', '3058', '3059', '3060', '3061', '3062', '3063',
       '3064', '3065', '3066', '3067', '3068', '3069', '3070', '3071',
       '3072', '3073', '3074', '3075', '3076', '3077', '3078', '3079',
       '3080', '3081', '3082', '3083', '3086', '3251', '3300', '3301',
       '3330', '40-1', '4000', '4001', '4002', '4003', '4004', '4005',
       '4006', '4007', '4008', '4009', '4010', '4011', '4012', '4013',
       '4014', '4015', '4016', '4017', '4018', '4019', '4020', '4021',
       '4022', '4023', '4024', '4025', '4026', '4027', '4028', '4029',
       '4030', '4031', '4032', '4033', '4034', '4035', '4036', '4037',
       '4038', '4039', '4040', '4041', '4042', '4043', '4044', '4045',
       '4046', '4047', '4048', '4049', '4050', '4051', '4052', '4053',
       '4054', '4055', '4056', '4057', '4058', '4059', '4060', '4061',
       '4062', '4063', '4064', '4065', '4066', '4067', '4068', '4069',
       '4070', '4071', '4072', '4073', '4074', '4075', '4076', '4077',
       '4078', '4079', '4080', '4081', '4082', '4083', '4084', '4085',
       '4086', '4087', '4088', '4089', '4090', '4091', '4092', '4093',
       '4094', '4095', '4096', '4097', '4098', '4099', '4100', '4101',
       '4102', '4103', '4104', '4105', '4106', '4107', '4108', '4109',
       '4110', '4111', '4112', '4113', '4114', '4115', '4116', '4117',
       '4118', '4119', '4120', '4124', '4125', '4130', '4144', '4181',
       '4219', '4274', '4312', '4322', '4400', '4401', '4402', '4403',
       '4404', '4405', '4406', '4407', '4408', '4409', '4410', '4412',
       '4440', '4444', '4501', '4515', '4662', '4663', '4684', '4748',
       '4769', '4814', '4815', '4999'], dtype='<U4')

In [27]:
df['nu_idade_n_cor'] = vector

In [28]:
# Categorize age group
# 0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
#       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
#       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099],

In [29]:
df = df[(df.nu_idade_n_cor != '0')& (df.nu_idade_n_cor !='40-1')]

In [30]:
fx = []
for value in df.nu_idade_n_cor:
    if 1000 <= int(value) <4005: faixa = '4' 
    elif 4005 <=int(value)< 4010: faixa = '509'
    elif 4010 <=int(value)< 4015: faixa = '1014'
    elif 4015 <=int(value)< 4020: faixa = '1519'
    elif 4020 <=int(value)< 4025: faixa = '2024'
    elif 4025 <=int(value)< 4030: faixa = '2529'
    elif 4030 <=int(value)< 4035: faixa = '3034'
    elif 4035 <=int(value)< 4040: faixa = '3539' 
    elif 4040 <=int(value)< 4045: faixa = '4044'   
    elif 4045 <=int(value)< 4050: faixa = '4549'
    elif 4050 <=int(value)< 4055: faixa = '5054'
    elif 4055 <=int(value)< 4060: faixa = '5559'
    elif 4060 <=int(value)< 4065: faixa = '6064'
    elif 4065 <=int(value)< 4070: faixa = '6569'
    elif 4070 <=int(value)< 4075: faixa = '7074'
    elif 4075 <=int(value)< 4080: faixa = '7579'
    elif 4080 <=int(value)< 8100: faixa = '8099'
    fx.extend([faixa])

In [31]:
df['faixa'] = fx
df.head(1)

,classi_fin,criterio,cs_escol_n,cs_gestant,cs_raca,cs_sexo,date,dt_nasc,dt_notific,dt_sin_pri,...,nu_ano,nu_idade_n,nu_notific,sem_not,sem_pri,sg_uf,sg_uf_not,tp_not,nu_idade_n_cor,faixa
0,10,1,1.0,6.0,4.0,F,NaT,NaN,2014-10-07T00:00:00.000-03:00,2014-09-30,...,2014,4010.0,5219,201441,201440.0,12.0,NaN,NaN,4010,1014

In [32]:
df['count'] = 1

In [33]:
df.columns

Index(['classi_fin', 'criterio', 'cs_escol_n', 'cs_gestant', 'cs_raca',
       'cs_sexo', 'date', 'dt_nasc', 'dt_notific', 'dt_sin_pri', 'id_agravo',
       'id_mn_resi', 'id_municip', 'nu_ano', 'nu_idade_n', 'nu_notific',
       'sem_not', 'sem_pri', 'sg_uf', 'sg_uf_not', 'tp_not', 'nu_idade_n_cor',
       'faixa', 'count'],
      dtype='object')

In [35]:
df.id_mn_resi

0          120020
1          120020
2          120020
3          120020
4          120020
            ...
1310403    354075
1310404    354075
1310405    352690
1310407    354890
1310408    354890
Name: id_mn_resi, Length: 6997552, dtype: object

# Construct the dataset of dengue with the desired variables

In [36]:
data = df.filter(['id_mn_resi','nu_ano','cs_sexo','faixa','count'])

In [37]:
data= data.rename(columns={"id_mn_resi": "codmunres"})

In [38]:
data= data.rename(columns={"nu_ano": "year"})

In [39]:
data.cs_sexo.value_counts()

F    3900749
M    3088362
I       8246
Name: cs_sexo, dtype: int64

In [40]:
dados = data.groupby(['codmunres','year','cs_sexo','faixa'])['count'].sum().reset_index()

In [41]:
dados.cs_sexo = dados.cs_sexo.replace('F', 1)
dados.cs_sexo= dados.cs_sexo.replace('M', 2)

In [42]:
dados.head()

  codmunres  year cs_sexo faixa  count
0    110000  2015       1     4      1
1    110001  2010       1  1014      2
2    110001  2010       1  2024      1
3    110001  2010       1  3539      1
4    110001  2010       1  4549      1

In [43]:
dados.groupby(['year'])['count'].sum()

year
2010     869202
2011     600937
2012     401708
2013    1188781
2014     475208
2015    1386874
2016     479364
2017     167600
2018     146493
2019    1280783
Name: count, dtype: int64

In [44]:
df.nu_ano.value_counts()

2015    1387045
2019    1280791
2013    1188923
2010     869246
2011     601017
2016     479382
2014     475282
2012     401768
2017     167604
2018     146494
Name: nu_ano, dtype: int64

# Population

In [47]:
pop = pd.read_csv('/Users/julianeoliveira/Desktop/hard_disc/Datalake/POPULACAO/csv/POPBR12.csv')

In [48]:
pop.columns

Index(['MUNIC_RES', 'ANO', 'SEXO', 'SITUACAO', 'FXETARIA', 'POPULACAO'], dtype='object')

In [49]:
pop.FXETARIA.unique()

array([   0,  101,  202,  303,  404,  505,  606,  707,  808,  909, 1010,
       1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818, 1919, 2024, 2529,
       3034, 3539, 4044, 4549, 5054, 5559, 6064, 6569, 7074, 7579, 8099])

In [50]:
pop = pop.replace({'FXETARIA': {0: 4, 101:4, 202:4,  303:4,  404:4,
                                505: 509, 606: 509,  707: 509,  808: 509,  909: 509,
                                1010: 1014, 1111: 1014, 1212: 1014, 1313: 1014, 1414: 1014,
                                1515: 1519, 1616: 1519, 1717: 1519, 1818: 1519, 1919: 1519}})

In [51]:
pop.head()

   MUNIC_RES   ANO  SEXO  SITUACAO  FXETARIA  POPULACAO
0     110001  2012     1         3         4        187
1     110001  2012     1         3         4        186
2     110001  2012     1         3         4        187
3     110001  2012     1         3         4        190
4     110001  2012     1         3         4        193

# Creating tables to map the standard incidence ratio of dengue per year

## expected number of cases per year and cummulated

In [52]:
teste = dados

In [55]:
teste.year.unique()

array([2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016, '2019'],
      dtype=object)

In [56]:
teste = teste[teste.cs_sexo != 'I']

In [57]:
teste.cs_sexo.unique()

array([1, 2], dtype=object)

In [58]:
teste.year.unique()

array([2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016, '2019'],
      dtype=object)

In [61]:
#teste['faixa'] = teste['faixa'].astype(int)
teste = teste.astype(int)

In [62]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438080 entries, 0 to 440955
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   codmunres  438080 non-null  int64
 1   year       438080 non-null  int64
 2   cs_sexo    438080 non-null  int64
 3   faixa      438080 non-null  int64
 4   count      438080 non-null  int64
dtypes: int64(5)
memory usage: 20.1 MB

In [63]:
teste

        codmunres  year  cs_sexo  faixa  count
0          110000  2015        1      4      1
1          110001  2010        1   1014      2
2          110001  2010        1   2024      1
3          110001  2010        1   3539      1
4          110001  2010        1   4549      1
...           ...   ...      ...    ...    ...
440951     539922  2019        2   3539      1
440952     539922  2019        2   4044      1
440953     539924  2019        1   1014      1
440954     539924  2019        1   4044      1
440955     539924  2019        2   1014      1

[438080 rows x 5 columns]

In [64]:
teste.to_csv('/Users/julianeoliveira/Desktop/dropbox_15_11_2019/Artigos_preprints/analise_de_risco/estimations_for_all_diseases/Spatial-modeling-of-dengue-chikungunya-and-Zika-transmission-in-Brazil/Data/data_dengue.csv')

In [65]:
sum_observed_gender_age_year = []
for year in [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]:
    df_year = teste[teste.year == year]
    table_year = pd.pivot_table(df_year, values='count', index=['codmunres'], columns=['cs_sexo','faixa'])
    table_year=table_year.fillna(0)
    resulted_dataframe = table_year.sum().reset_index()
    sum_observed_gender_age_year.append(resulted_dataframe)

In [67]:
sum_observed_gender_age_year[0]

    cs_sexo  faixa        0
0         1      4  18234.0
1         1    509  25225.0
2         1   1014  38782.0
3         1   1519  46899.0
4         1   2024  50047.0
5         1   2529  49979.0
6         1   3034  46655.0
7         1   3539  41050.0
8         1   4044  37813.0
9         1   4549  34162.0
10        1   5054  28580.0
11        1   5559  22465.0
12        1   6064  15942.0
13        1   6569  11111.0
14        1   7074   7940.0
15        1   7579   4622.0
16        1   8099   3578.0
17        2      4  18464.0
18        2    509  25049.0
19        2   1014  39420.0
20        2   1519  42374.0
21        2   2024  43029.0
22        2   2529  39717.0
23        2   3034  34811.0
24        2   3539  29426.0
25        2   4044  26604.0
26        2   4549  23006.0
27        2   5054  18854.0
28        2   5559  15272.0
29        2   6064  10604.0
30        2   6569   7673.0
31        2   7074   5672.0
32        2   7579   3374.0
33        2   8099   2651.0

In [68]:
pop.head()

   MUNIC_RES   ANO  SEXO  SITUACAO  FXETARIA  POPULACAO
0     110001  2012     1         3         4        187
1     110001  2012     1         3         4        186
2     110001  2012     1         3         4        187
3     110001  2012     1         3         4        190
4     110001  2012     1         3         4        193

# Population

In [69]:
pop = pop.astype(int)

In [70]:
teste_pop = pop.groupby(['MUNIC_RES','ANO','SEXO','FXETARIA'])['POPULACAO'].sum().reset_index()
teste_pop.head()

   MUNIC_RES   ANO  SEXO  FXETARIA  POPULACAO
0     110001  2012     1         4        943
1     110001  2012     1       509       1058
2     110001  2012     1      1014       1239
3     110001  2012     1      1519       1343
4     110001  2012     1      2024       1090

In [71]:
table_pop = pd.pivot_table(teste_pop, values='POPULACAO', index=['MUNIC_RES'], columns=['SEXO','FXETARIA'])
table_pop

SEXO           1                                                          \
FXETARIA    4       509     1014    1519    2024    2529    3034    3539
MUNIC_RES
110001       943    1058    1239    1343    1090    1039     938     866
110002      3742    4288    4865    4598    4574    4271    3854    3522
110003       234     246     304     307     220     243     230     235
110004      2987    3234    3792    4016    3833    3483    3201    2966
110005       620     694     831     865     757     674     632     581
...          ...     ...     ...     ...     ...     ...     ...     ...
522200       423     524     577     557     530     536     566     521
522205       297     314     333     338     386     363     358     338
522220       243     266     249     229     242     370     263     194
522230       186     240     274     236     200     173     208     213
530010     98864  104928  113968  112108  124044  131400  122121  103098

SEXO                     ...       2                                      \
FXETARIA    4044   4549  ...    3539    4044   4549   5054   5559   6064
MUNIC_RES                ...
110001       901    835  ...     905     792    710    508    425    307
110002      3378   2682  ...    3606    3208   2494   1877   1523   1069
110003       240    207  ...     209     213    196    168    138     91
110004      2842   2459  ...    3159    2859   2420   1963   1441   1018
110005       632    575  ...     655     623    542    402    307    298
...          ...    ...  ...     ...     ...    ...    ...    ...    ...
522200       506    410  ...     522     458    416    308    234    209
522205       304    272  ...     286     301    217    176    157     82
522220       158    139  ...     138     148    109     81     62     38
522230       192    173  ...     163     183    160    121    136     94
530010     91493  74737  ...  116108  101992  87146  69220  54147  40270

SEXO
FXETARIA    6569   7074   7579   8099
MUNIC_RES
110001       261    175    117     72
110002       755    510    325    302
110003        63     66     33     26
110004       803    613    435    383
110005       194    133     96     83
...          ...    ...    ...    ...
522200       172    142     80     99
522205        71     56     27     37
522220        44     14     18     12
522230        63     44     31     23
530010     27736  20499  12790  14770

[5565 rows x 34 columns]

In [72]:
table_pop=table_pop.fillna(0)

In [73]:
sum_pop_gender_age_year = table_pop.sum().reset_index()
sum_pop_gender_age_year

    SEXO  FXETARIA        0
0      1         4  7143389
1      1       509  7758474
2      1      1014  8875967
3      1      1519  8704999
4      1      2024  8782606
5      1      2529  8610952
6      1      3034  7853458
7      1      3539  6883541
8      1      4044  6427350
9      1      4549  5785459
10     1      5054  4912910
11     1      5559  3963556
12     1      6064  3087312
13     1      6569  2256975
14     1      7074  1691406
15     1      7579  1105881
16     1      8099  1148647
17     2         4  6901204
18     2       509  7474673
19     2      1014  8587202
20     2      1519  8577046
21     2      2024  8766636
22     2      2529  8795610
23     2      3034  8166586
24     2      3539  7243527
25     2      4044  6800153
26     2      4549  6240934
27     2      5054  5389329
28     2      5559  4441120
29     2      6064  3520063
30     2      6569  2654866
31     2      7074  2103802
32     2      7579  1493580
33     2      8099  1827317

# calculating r_ j (for each year)

In [74]:
r_j = []
for df1 in sum_observed_gender_age_year:
    #df2.rename(columns={0:'pop'}, inplace=True)
    risco_relativo = df1[0]/sum_pop_gender_age_year[0]
    r_j.append(risco_relativo)

In [75]:
r_j[3]

0     0.002577
1     0.003025
2     0.005123
3     0.007972
4     0.008165
5     0.008286
6     0.009248
7     0.009052
8     0.008568
9     0.008867
10    0.008967
11    0.008687
12    0.007819
13    0.007033
14    0.006240
15    0.005455
16    0.004502
17    0.002655
18    0.003072
19    0.005255
20    0.006972
21    0.006604
22    0.006057
23    0.006186
24    0.005717
25    0.005270
26    0.005174
27    0.004895
28    0.004644
29    0.004377
30    0.003990
31    0.003444
32    0.002967
33    0.002110
Name: 0, dtype: float64

# calculating E_i for each municipality

# 2010

In [78]:
P_2010 = table_pop

In [79]:
E_2010 =[]
for i in range(len(P_2010)):
    E_i = sum(np.array(P_2010.iloc[i])*np.array(r_j[0]))
    E_2010.append([P_2010.index.values[i],E_i])

In [80]:
Expected_2010 = pd.DataFrame(E_2010,
                 columns=['codmunres', 'expected_2010'])

In [81]:
Expected_2010.head()

   codmunres  expected_2010
0     110001     109.403941
1     110002     421.103159
2     110003      27.698710
3     110004     359.908399
4     110005      76.200349

# 2011

In [82]:
P_2011 = table_pop

In [83]:
E_2011 =[]
for i in range(len(P_2011)):
    E_i = sum(np.array(P_2011.iloc[i])*np.array(r_j[1]))
    E_2011.append([P_2011.index.values[i],E_i])

In [84]:
Expected_2011 = pd.DataFrame(E_2011,
                 columns=['codmunres', 'expected_2011'])

In [85]:
Expected_2011.head()

   codmunres  expected_2011
0     110001      75.986459
1     110002     293.901642
2     110003      19.148638
3     110004     249.536243
4     110005      52.748168

# 2012

In [86]:
P_2012 = table_pop

In [87]:
E_2012 =[]
for i in range(len(P_2012)):
    E_i = sum(np.array(P_2012.iloc[i])*np.array(r_j[2]))
    E_2012.append([P_2012.index.values[i],E_i])

In [88]:
Expected_2012 = pd.DataFrame(E_2012,
                 columns=['codmunres', 'expected_2012'])

In [89]:
Expected_2012.head()

   codmunres  expected_2012
0     110001      50.732941
1     110002     196.215788
2     110003      12.765065
3     110004     167.210126
4     110005      35.242300

# 2013

In [90]:
P_2013 = table_pop

In [91]:
E_2013 =[]
for i in range(len(P_2013)):
    E_i = sum(np.array(P_2013.iloc[i])*np.array(r_j[3]))
    E_2013.append([P_2013.index.values[i],E_i])

In [92]:
Expected_2013 = pd.DataFrame(E_2013,
                 columns=['codmunres', 'expected_2013'])

In [93]:
Expected_2013.head()

   codmunres  expected_2013
0     110001     149.066558
1     110002     571.679580
2     110003      37.840484
3     110004     491.364462
4     110005     104.022867

# 2014

In [94]:
P_2014 = table_pop

In [95]:
E_2014 =[]
for i in range(len(P_2014)):
    E_i = sum(np.array(P_2014.iloc[i])*np.array(r_j[4]))
    E_2014.append([P_2014.index.values[i],E_i])

In [96]:
Expected_2014 = pd.DataFrame(E_2014,
                 columns=['codmunres', 'expected_2014'])

In [97]:
Expected_2014.head()

   codmunres  expected_2014
0     110001      59.279074
1     110002     227.004789
2     110003      15.115808
3     110004     195.550444
4     110005      41.486479

# 2015

In [98]:
P_2015 = table_pop

In [99]:
E_2015 =[]
for i in range(len(P_2015)):
    E_i = sum(np.array(P_2015.iloc[i])*np.array(r_j[5]))
    E_2015.append([P_2015.index.values[i],E_i])

In [100]:
Expected_2015 = pd.DataFrame(E_2015,
                 columns=['codmunres', 'expected_2015'])

In [101]:
Expected_2015.head()

   codmunres  expected_2015
0     110001     172.246454
1     110002     656.157979
2     110003      44.244605
3     110004     567.186049
4     110005     120.801974

# 2016

In [102]:
P_2016 = table_pop

In [103]:
E_2016 =[]
for i in range(len(P_2016)):
    E_i = sum(np.array(P_2016.iloc[i])*np.array(r_j[6]))
    E_2016.append([P_2016.index.values[i],E_i])

In [104]:
Expected_2016 = pd.DataFrame(E_2016,
                 columns=['codmunres', 'expected_2016'])

In [105]:
Expected_2016.head()

   codmunres  expected_2016
0     110001      59.763958
1     110002     227.914207
2     110003      15.293974
3     110004     196.606595
4     110005      41.801570

# 2017

In [106]:
P_2017 = table_pop

In [107]:
E_2017 =[]
for i in range(len(P_2017)):
    E_i = sum(np.array(P_2017.iloc[i])*np.array(r_j[7]))
    E_2017.append([P_2017.index.values[i],E_i])

In [108]:
Expected_2017 = pd.DataFrame(E_2017,
                 columns=['codmunres', 'expected_2017'])

In [109]:
Expected_2017.head()

   codmunres  expected_2017
0     110001      21.027292
1     110002      80.945195
2     110003       5.316723
3     110004      69.344674
4     110005      14.663901

# 2018

In [115]:
P_2018 = table_pop

In [116]:
E_2018 =[]
for i in range(len(P_2018)):
    E_i = sum(np.array(P_2018.iloc[i])*np.array(r_j[8]))
    E_2018.append([P_2018.index.values[i],E_i])

In [117]:
Expected_2018 = pd.DataFrame(E_2018,
                 columns=['codmunres', 'expected_2018'])

In [118]:
Expected_2018.head()

   codmunres  expected_2018
0     110001      18.357727
1     110002      70.493549
2     110003       4.671348
3     110004      60.412240
4     110005      12.807079

# 2019

In [119]:
P_2019 = table_pop

In [120]:
E_2019 =[]
for i in range(len(P_2019)):
    E_i = sum(np.array(P_2019.iloc[i])*np.array(r_j[9]))
    E_2019.append([P_2019.index.values[i],E_i])

In [121]:
Expected_2019 = pd.DataFrame(E_2019,
                 columns=['codmunres', 'expected_2019'])

In [122]:
Expected_2019.head()

   codmunres  expected_2019
0     110001     159.493041
1     110002     608.134953
2     110003      40.925485
3     110004     524.797731
4     110005     111.798348

# Observed number of cases per municipality and year

In [148]:
observed = dados.groupby(['codmunres','year'])['count'].sum().reset_index()
observed.head()

  codmunres  year  count
0    110000  2015      1
1    110001  2010     13
2    110001  2011      1
3    110001  2012      2
4    110001  2013    159

In [149]:
observed = observed.astype(int)

In [150]:
#observed = observed[(2010 <= observed.year) & (observed.year <= 2019)]

In [151]:
observed = pd.pivot_table(observed, values='count', index=['codmunres'], columns=['year'])

In [152]:
observed = observed.fillna(0) 
observed.head()

year        2010  2011  2012   2013  2014  2015  2016  2017  2018   2019
codmunres
110000       0.0   0.0   0.0    0.0   0.0   1.0   0.0   0.0   0.0    0.0
110001      13.0   1.0   2.0  159.0   5.0  10.0   0.0  10.0   3.0  217.0
110002     228.0  27.0   2.0   35.0  56.0  21.0   0.0  61.0   7.0   26.0
110003      61.0  13.0  42.0   35.0   3.0  92.0   0.0   5.0   3.0   80.0
110004     939.0  31.0  18.0  442.0  31.0  46.0   1.0  25.0  13.0   22.0

# calculate the standard incidence ratio

In [130]:
codigo_muni = pd.read_excel('/Users/julianeoliveira/Desktop/hard_disc/Datalake/POPULACAO/População/POP_python/DTB_BRASIL_MUNICIPIO.xls')

In [131]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [132]:
codigo_muni.columns

Index(['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município'],
      dtype='object')

In [133]:
codigo_muni.rename(columns={'Código Município Completo':'codmuni_full'}, 
                 inplace=True);

In [134]:
codigo_muni['codmuni'] = codigo_muni.codmuni_full.floordiv(10)

In [135]:
codigo_muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,codmuni
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,110001
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,110037
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,110040
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,110034
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,110002

In [153]:
observed.columns

Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype='int64', name='year')

In [154]:
final = codigo_muni.set_index('codmuni').join(observed)

In [155]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
codmuni,,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,1.0,2.0,159.0,5.0,10.0,0.0,10.0,3.0,217.0
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,0.0,5.0,113.0,4.0,9.0,0.0,6.0,2.0,36.0
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,35.0,36.0,57.0,18.0,3.0,0.0,22.0,4.0,5.0
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,276.0,84.0,515.0,13.0,34.0,0.0,6.0,1.0,0.0
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,27.0,2.0,35.0,56.0,21.0,0.0,61.0,7.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,37.0,8.0,28.0,111.0,86.0,0.0,36.0,13.0,145.0
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,7.0,43.0,114.0,26.0,113.0,0.0,3.0,85.0,5.0
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,5.0,0.0,409.0,225.0,5.0,0.0,26.0,0.0,2.0
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,2.0,1.0,21.0,5.0,73.0,0.0,99.0,14.0,18.0
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,1322.0,708.0,9197.0,11468.0,9099.0,10.0,2733.0,834.0,27373.0

In [156]:
final = final.join(Expected_2019.set_index('codmunres')).join(Expected_2018.set_index('codmunres')).join(Expected_2017.set_index('codmunres')).join(Expected_2016.set_index('codmunres')).join(Expected_2015.set_index('codmunres')).join(Expected_2014.set_index('codmunres')).join(Expected_2013.set_index('codmunres')).join(Expected_2012.set_index('codmunres')).join(Expected_2011.set_index('codmunres')).join(Expected_2010.set_index('codmunres'))

In [157]:
final.columns

Index([                     'UF',                 'Nome_UF',
        'Mesorregião Geográfica',        'Nome_Mesorregião',
       'Microrregião Geográfica',       'Nome_Microrregião',
                     'Município',            'codmuni_full',
                'Nome_Município',                      2010,
                            2011,                      2012,
                            2013,                      2014,
                            2015,                      2016,
                            2017,                      2018,
                            2019,           'expected_2019',
                 'expected_2018',           'expected_2017',
                 'expected_2016',           'expected_2015',
                 'expected_2014',           'expected_2013',
                 'expected_2012',           'expected_2011',
                 'expected_2010'],
      dtype='object')

In [158]:
final = final.fillna(0)

In [159]:
final['SIR_2010'] = final[2010]/final['expected_2010']
final['SIR_2011'] = final[2011]/final['expected_2011']
final['SIR_2012'] = final[2012]/final['expected_2012']
final['SIR_2013'] = final[2013]/final['expected_2013']
final['SIR_2014'] = final[2014]/final['expected_2014']
final['SIR_2015'] = final[2015]/final['expected_2015']
final['SIR_2016'] = final[2016]/final['expected_2016']
final['SIR_2017'] = final[2017]/final['expected_2017']
final['SIR_2018'] = final[2018]/final['expected_2018']
final['SIR_2019'] = final[2019]/final['expected_2019']

In [160]:
final

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,codmuni_full,Nome_Município,2010,...,SIR_2010,SIR_2011,SIR_2012,SIR_2013,SIR_2014,SIR_2015,SIR_2016,SIR_2017,SIR_2018,SIR_2019
codmuni,,,,,,,,,,,,,,,,,,,,,
110001,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,13.0,...,0.118826,0.013160,0.039422,1.066638,0.084347,0.058056,0.000000,0.475572,0.163419,1.360561
110037,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,27.0,...,0.464874,0.000000,0.185175,1.436248,0.128036,0.099387,0.000000,0.538125,0.205344,0.428471
110040,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,33.0,...,0.410519,0.622364,0.964616,0.523791,0.416430,0.023904,0.000000,1.429412,0.296757,0.042905
110034,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,70.0,...,0.943602,5.351244,2.445291,5.099835,0.323269,0.290478,0.000000,0.421006,0.080306,0.000000
110002,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,228.0,...,0.541435,0.091867,0.010193,0.061223,0.246691,0.032004,0.000000,0.753596,0.099300,0.042754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522200,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis,40.0,...,0.695146,0.932518,0.300736,0.355228,3.529403,0.936915,0.000000,3.248769,1.339435,1.706821
522205,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis,39.0,...,1.126102,0.292972,2.673098,2.400966,1.379141,2.062248,0.000000,0.449612,14.569568,0.098575
522220,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa,1.0,...,0.044145,0.315153,0.000000,13.329427,18.574771,0.143170,0.000000,5.983568,0.000000,0.061855
522230,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício,39.0,...,1.649818,0.122196,0.092055,0.651397,0.388086,1.929657,0.000000,21.850756,3.506940,0.512130
530010,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília,12105.0,...,1.011149,0.159657,0.127075,0.561782,1.757888,0.481804,0.001532,1.184290,0.414505,1.569100

In [161]:
final.to_excel('standard_incidence_ratio_dengue.xls')

cs_sexo -> 'F'= 1

cs_sexo -> 'M'= 2

cs_raca -> 1- branca

           2- preta
           
           3- amarela
           
           4- parda
           
           5- indígena
           
           9 Ignorado
           
           
cor -> Branca- 1

        Preta- 2 
        
        Amarela- 3
        
        Parda- 4 
        
        Indigena- 5 
        
        Sem declaraçao- 9
                  
Sexo -> 'Mulheres' = 1

        'Homens' = 2 
       
Idade -> '0 a 4 anos': 4, 

         '5 a 9 anos': 509,
         
         '10 a 14 anos': 1014,
         
         '15 a 19 anos': 1519,
         
         '20 a 24 anos': 2024, 
         
         '25 a 29 anos': 2529, 
         
         '30 a 34 anos': 3034,
         
         '35 a 39 anos': 3539,
         
         '40 a 44 anos': 4044, 
         
         '45 a 49 anos': 4549,
         
         '50 a 54 anos': 5054, 
         
         '55 a 59 anos': 5559,
         
         '60 a 64 anos': 6064, 
         
         '65 a 69 anos': 6569, 
         
         '70 a 74 anos': 7074, 
         
         '75 a 79 anos': 7579,
         
         '80 a 89 anos': 8099, 
         
         '90 a 99 anos': 8099

In [ ]:
df['cs_raca'] = df['cs_raca'].fillna(0)
df['cs_raca'] = df['cs_raca'].astype(float).astype(int)

In [ ]:
df = dados[(2010 <= dados.year) & (dados.year <= 2018) & (dados.cs_sexo != 'I')]

In [ ]:
df.head()

In [ ]:
df = df.astype(int)

In [ ]:
key = df.agg('{0[codmunres]}{0[cs_sexo]}{0[cs_raca]}{0[faixa]}'.format, axis=1)
df['key'] = key

In [ ]:
df.head()

In [ ]:
pop.head()

In [ ]:
pop['codmun'] = pop['codmun'].astype(str).str[:-1].astype(np.int64)
pop.head()

In [ ]:
y = pop.agg('{0[codmun]}{0[Sexo]}{0[cor]}{0[Idade]}'.format, axis=1)

In [ ]:
pop['key1'] = y

In [ ]:
pop

In [ ]:
df.year.unique()

In [ ]:
pop = pop.drop(columns=['Unnamed: 0'])

In [ ]:
data_year = []
lst = [2015, 2010, 2011, 2012, 2013, 2014, 2017, 2018, 2016, 2009]
for value in lst:
    data = df[df['year'] == value]
    data_year.append(data)

# Table of number of cases per gender, race, age-group and year in Brazil

In [ ]:
teste = df.groupby(['cs_sexo','cs_raca','faixa','year'])['count'].sum().reset_index()
teste.head()

In [ ]:
table1 = pd.pivot_table(teste, values='count', index=['cs_sexo','cs_raca','faixa'], columns=['year'])

In [ ]:
table1.to_excel('table1.xls')

# Table with population per gender, race, age-group and year in Brazil

In [ ]:
teste2 = pop.groupby(['Sexo','cor','Idade'])['Total'].sum().reset_index()

In [ ]:
teste2.to_excel('table2.xls')

In [ ]:
def filter_data(dataframe,value_year,value_gender,value_race):
    data = dataframe[(dataframe.year == value_year) &(dataframe.cs_sexo == value_gender) & (dataframe.cs_raca==value_race)]
    return data

In [ ]:
data_female_white_2010 = filter_data(df,2010,'1',1)

In [ ]:
data_female_white_2010.head()

In [ ]:
data_female_white_2010.groupby(['year','faixa'])['count'].sum().reset_index()

In [ ]:
result = []
for data in data_year:
    df1 =pop.set_index('key1').join(data.set_index('key')) 
    result.append(df1)

In [ ]:
result[0]

In [ ]:
result[0].cs_raca.unique()
result[0].cor.unique()

In [ ]:
result[0][result[0].cs_raca ==1]

cs_sexo -> 'F'= 1
cs_sexo -> 'M'= 2

cs_raca -> 1- branca
           2- preta
           3- amarela
           4- parda
           5- indígena
           9 Ignorado
           
           
cor -> Branca- 1
        Preta- 2 
        Amarela- 3
        Parda- 4 
        Indigena- 5 
        Sem declaraçao- 9
                  
Sexo -> 'Mulheres' = 1
        'Homens' = 2 
       
Idade -> '0 a 4 anos': 4, 
         '5 a 9 anos': 509,
         '10 a 14 anos': 1014,
         '15 a 19 anos': 1519,
         '20 a 24 anos': 2024, 
         '25 a 29 anos': 2529, 
         '30 a 34 anos': 3034, 
         '35 a 39 anos': 3539,
         '40 a 44 anos': 4044, 
         '45 a 49 anos': 4549,
         '50 a 54 anos': 5054, 
         '55 a 59 anos': 5559,
         '60 a 64 anos': 6064, 
         '65 a 69 anos': 6569, 
         '70 a 74 anos': 7074, 
         '75 a 79 anos': 7579,
         '80 a 89 anos': 8099, 
         '90 a 99 anos': 8099